In [1]:

import requests
import pandas as pd
import time
from datetime import datetime, timedelta
import numpy as np
import os

In [2]:
def generate_date_range(start_date, end_date):
    start_date = datetime.strptime(start_date, '%Y-%m-%d')
    end_date = datetime.strptime(end_date, '%Y-%m-%d')

    date_list = []
    current_date = start_date
    while current_date <= end_date:
        date_list.append(current_date.strftime("%d%m%Y"))
        current_date += timedelta(days=1)

    return date_list


date_range = generate_date_range('2024-02-06', '2024-03-02')

ts=[]
for i in range(len(date_range)):
    date = date_range[i]
    link = 'https://promo.betfair.com/betfairsp/prices/dwbfgreyhoundwin'+date+'.csv'
    t1 = time.time()
    try:
        df1 = pd.read_csv(link)
        df1.columns = df1.columns.str.upper()
    except Exception as e:
        print(e)
    
    if(date==date_range[0]):
        df = df1.copy()
    else:
        df = pd.concat([df,df1])
    
    t2 = time.time()
    
    t=round(t2-t1,3)
    print(i,date,'time taken: ',t)
    ts.append(t)
print('avg:',round(sum(ts)/len(ts),3))

0 06022024 time taken:  1.779
1 07022024 time taken:  0.671
2 08022024 time taken:  1.207
3 09022024 time taken:  0.925
4 10022024 time taken:  0.718
5 11022024 time taken:  0.637
Error tokenizing data. C error: Expected 17 fields in line 1701, saw 18

6 12022024 time taken:  0.634
7 13022024 time taken:  2.146
8 14022024 time taken:  1.316
9 15022024 time taken:  1.175
10 16022024 time taken:  0.488
11 17022024 time taken:  1.328
12 18022024 time taken:  1.185
13 19022024 time taken:  1.083
14 20022024 time taken:  0.57
15 21022024 time taken:  0.932
16 22022024 time taken:  0.993
17 23022024 time taken:  1.285
18 24022024 time taken:  0.399
19 25022024 time taken:  0.856
20 26022024 time taken:  0.575
21 27022024 time taken:  2.183
22 28022024 time taken:  0.488
23 29022024 time taken:  0.5
24 01032024 time taken:  0.565
25 02032024 time taken:  0.604
avg: 0.971

In [3]:
df2=df.copy()
# df2=df2.reset_index()
df2=df2.dropna(subset=['MENU_HINT'])
df2=df2[df2['MENU_HINT'].str.contains('AUS')]
df2['track']=df2['MENU_HINT'].str.split('(').str[0]
df2['EVENT_DT']=df2['EVENT_DT'].astype(str).str.split(' ').str[0]
df2['date']=pd.to_datetime(df2['EVENT_DT'])
df2['name']=df2['SELECTION_NAME'].astype(str).str[3:].str.lower()
df2['track']=df2['track'].str.replace('AUS / ','').str.lower().str.strip()
df2=df2[['track','MENU_HINT','date','name','BSP','MORNINGWAP','PPTRADEDVOL']]
df2

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_53119/1064716288.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2['date']=pd.to_datetime(df2['EVENT_DT'])

,track,MENU_HINT,date,name,BSP,MORNINGWAP,PPTRADEDVOL
0,warrnambool,Warrnambool (AUS) 5th Feb,2024-05-02,soho simon says,2.906438,2.3950,6630.51
1,nowra,Nowra (AUS) 5th Feb,2024-05-02,shades of rose,5.543494,3.5252,3047.04
2,maitland,Maitland (AUS) 5th Feb,2024-05-02,hail the king,70.000000,45.9208,320.54
8,angle park,Angle Park (AUS) 5th Feb,2024-05-02,kellys missile,20.481794,14.0907,894.21
9,goulburn,Goulburn (AUS) 5th Feb,2024-05-02,stands tall,4.595880,1.8822,1553.65
...,...,...,...,...,...,...,...
2044,casino,Casino (AUS) 1st Mar,2024-01-03,kingsbrae alice,1.968921,1.3847,19121.94
2045,bendigo,Bendigo (AUS) 1st Mar,2024-01-03,lady julia,5.749441,4.2030,1964.83
2046,gawler,Gawler (AUS) 1st Mar,2024-01-03,flying foo foo,180.201591,70.0853,104.57
2047,mandurah,Mandurah (AUS) 1st Mar,2024-01-03,saganaki kid,7.800000,1.0000,3128.92
2048,traralgon,Traralgon (AUS) 1st Mar,2024-01-03,fletchie boy,13.541373,1.0000,1393.67

In [4]:
df2[df2['track']=='richmond']

,track,MENU_HINT,date,name,BSP,MORNINGWAP,PPTRADEDVOL
51,richmond,Richmond (AUS) 5th Feb,2024-05-02,ballows revenge,3.736051,2.7240,5409.79
60,richmond,Richmond (AUS) 5th Feb,2024-05-02,polly waters,16.000000,10.1665,595.89
83,richmond,Richmond (AUS) 5th Feb,2024-05-02,starburst milly,4.100000,2.9092,4015.07
109,richmond,Richmond (AUS) 5th Feb,2024-05-02,lucia power,10.552976,7.6906,1296.23
120,richmond,Richmond (AUS) 5th Feb,2024-05-02,irish actor,8.400000,3.7103,795.93
...,...,...,...,...,...,...,...
1933,richmond,Richmond (AUS) 1st Mar,2024-01-03,dazzling gunn,38.203237,1.0000,412.42
1970,richmond,Richmond (AUS) 1st Mar,2024-01-03,ollie impact,12.500000,1.0000,1364.52
2002,richmond,Richmond (AUS) 1st Mar,2024-01-03,ebby justice,15.500000,12.7121,873.85
2015,richmond,Richmond (AUS) 1st Mar,2024-01-03,zipping chumley,22.000000,1.0000,1064.62
2043,richmond,Richmond (AUS) 1st Mar,2024-01-03,joann flow,3.892503,3.5896,4423.66

In [5]:

dic={
    'shep':'shepparton',
    'mait':'maitland',
    'ball':'ballarat',
    'sprk':'sandown park',
    'goul':'goulburn',
    'hoba':'hobart',
    'dapt':'dapto',
    
    'anpk':'angle park',
    'warr':'warrnambool',
    'wgul':'warragul',
    'aprk':'albion park',
    'nort':'northam',
    'trar':'traralgon',
    'heal':'healesville',
    'rich':'richmond',
    
    'ipsw':'ipswich',
    'geel':'geelong',
    'casi':'casino',
    'gard':'the gardens',
    'cann':'cannington',
    'mgam':'mount gambier',
    'dubb':'dubbo',
    
    'bend':'bendigo',
    'bull':'bulli',
    'hshm':'horsham',
    'wprk':'wentworth park',
    'mead':'the meadows',
    'sale':'sale',
    'darw':'darwin',
    
    'gawl':'gawler',
    'graf':'grafton',
    'nowr':'nowra',
    'bath':'bathurst',
    'laun':'launceston',
    'town':'townsville',
    'devn':'devonport',
    
    'lism':'lismore',
    'rock':'rockhampton',
    'cran':'cranbourne',
    'stra':'strathalbyn',
    'wagg':'wagga',
    'crns':'cairns',
    'mand':'mandurah',
    
    'temo':'temora',
    'gosf':'gosford',
    'capa':'capalaba',
    'mbdg':'murray bridge',
    
    'anprk':'angle park',
    'ispw':'ipswich',
    'bund':'bundaberg',
    'gunn':"gunnedah",
    'tare':'taree'
    
    
}

correction=True
if(correction):
    for tr in dic.keys():
        df2['track']=np.where(df2['track']==tr,dic[tr],df2['track'])
print(df2['track'].unique())

['warrnambool' 'nowra' 'maitland' 'angle park' 'goulburn' 'traralgon'
 'cannington' 'bundaberg' 'geelong' 'shepparton' 'richmond' 'launceston'
 'albion park' 'murray bridge' 'horsham' 'mandurah' 'warragul' 'gosford'
 'ipswich' 'casino' 'bulli' 'townsville' 'healesville' 'rockhampton'
 'the meadows' 'capalaba' 'temora' 'muswellbrook' 'gawler' 'darwin'
 'hobart' 'bendigo' 'gunnedah' 'mount gambier' 'sandown park' 'dapto'
 'the gardens' 'wentworth park' 'wagga' 'dubbo' 'sale' 'grafton'
 'ballarat']

In [6]:
files = os.listdir('bsp')
files = [x for x in files if '_' in x]
files = [x for x in files if '.D' not in x]
#files = [int(x.split('_')[1].strip('.csv')) for x in files]

try:
    nex = max(files)+1
except:
    nex=0
fname = 'bsp/bsp2025.csv'
df2.to_csv(fname)