In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
files = os.listdir('bsp')
files = [x for x in files if ('.D' not in x) and ('checkpoints' not in x)]
# files=files[-1:]
files.sort()
print(files)
for file in files:
    if(file==files[0]):
        print(True)
        df = pd.read_csv('bsp/'+file)
        df['date']=pd.to_datetime(df['date']).astype(str)
        
    else:
        df_temp = pd.read_csv('bsp/'+file)
        df_temp['date']=pd.to_datetime(df_temp['date']).astype(str)
        df = pd.concat([df,df_temp])


df = df.rename(columns={'track':'Track','name':'DogName'})

df['Track']=df['Track'].str.strip()
df['DogName']=df['DogName'].str.strip()
df['date']=df['date'].str.strip()


df['menu_day'] = df['MENU_HINT'].str.extract(r'(\d{1,2})\D+(\w+)')[0].astype(str)
df['menu_month']=df['MENU_HINT'].str.split(' ').str[-1].str[:3]
df['menu_yr']=df['date'].str[:4]

df['date']=df['menu_day']+'-'+df['menu_month']+'-'+df['menu_yr'].astype(str)
df['date']=pd.to_datetime(df['date'],format="%d-%b-%Y", errors='coerce').astype(str)
df = df.dropna(subset=['date'])
df = df.drop(['menu_day', 'menu_month', 'menu_yr'], axis=1)
df

['bsp2018.csv', 'bsp2019.csv', 'bsp2020.csv', 'bsp2021.csv', 'bsp2022.csv', 'bsp2023.csv', 'bsp2024.csv', 'bsp2025.csv']
True

,Unnamed: 0,Track,MENU_HINT,date,DogName,BSP,MORNINGWAP,PPTRADEDVOL
0,1,shepparton,AUS / Shep (AUS) 31st May,2018-05-31,stella view,23.645034,20.737885,0.00
1,2,shepparton,AUS / Shep (AUS) 31st May,2018-05-31,bear cabang,133.614102,46.303718,0.00
2,3,maitland,AUS / Mait (AUS) 31st May,2018-05-31,potters flash,52.393295,23.380410,0.00
3,4,ballarat,AUS / Ball (AUS) 31st May,2018-05-31,cosmic spur,6.400000,1.000000,0.00
4,5,sandown park,AUS / SPrk (AUS) 31st May,2018-05-31,shaes intention,12.549408,8.239423,0.00
...,...,...,...,...,...,...,...,...
24300,2044,casino,Casino (AUS) 1st Mar,2024-03-01,kingsbrae alice,1.968921,1.384700,19121.94
24301,2045,bendigo,Bendigo (AUS) 1st Mar,2024-03-01,lady julia,5.749441,4.203000,1964.83
24302,2046,gawler,Gawler (AUS) 1st Mar,2024-03-01,flying foo foo,180.201591,70.085300,104.57
24303,2047,mandurah,Mandurah (AUS) 1st Mar,2024-03-01,saganaki kid,7.800000,1.000000,3128.92
24304,2048,traralgon,Traralgon (AUS) 1st Mar,2024-03-01,fletchie boy,13.541373,1.000000,1393.67

In [3]:
trks = ['richmond straight','shepparton', 'maitland', 'ballarat', 'sandown park', 'goulburn', 'hobart', 'dapto', 'angle park', 'warrnambool', 'warragul', 'albion park', 'northam', 'traralgon', 'healesville', 'richmond', 'ipswich', 'geelong', 'casino', 'the gardens', 'cannington', 'mount gambier', 'dubbo', 'bendigo', 'bulli', 'horsham', 'wentworth park', 'the meadows', 'sale', 'darwin', 'gawler', 'grafton', 'nowra', 'bathurst', 'launceston', 'townsville', 'devonport', 'lismore', 'rockhampton', 'cranbourne', 'strathalbyn', 'wagga', 'cairns', 'mandurah', 'temora', 'gosford', 'capalaba', 'murray bridge', 'angle park', 'ipswich', 'bundaberg', 'gunnedah', 'taree']
races = pd.read_csv('allRaces1.csv')
races = races[races['Track'].isin(trks)]

char = "'"
races['DogName']=races['DogName'].str.replace(char,'').str.replace('.','')

races['Track']=races['Track'].str.strip()
races['DogName']=races['DogName'].astype(str).str.strip()
races['date']=races['date'].astype(str).str.strip()



races2 = pd.merge(races,df,on=['DogName','date','Track'],how='left')
races2 = races2.dropna(subset=['Place'])
races2

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_53364/1386800230.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  races['DogName']=races['DogName'].str.replace(char,'').str.replace('.','')

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName,Unnamed: 0,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL
0,1.0,raine allen,1.0,27.4,2.4,111,6.680,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C,457.0,AUS / Bend (AUS) 1st Jul,2.485728,2.402235,0.0
1,2.0,surf a lot,2.0,32.8,6.3,332,7.010,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C,119.0,AUS / Bend (AUS) 1st Jul,10.000000,8.224462,0.0
2,3.0,pingin bee,6.0,25.5,9.3,443,7.240,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P,746.0,AUS / Bend (AUS) 1st Jul,12.362569,8.322981,0.0
3,4.0,lucas the great,7.0,32.2,9.1,655,7.310,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E,520.0,AUS / Bend (AUS) 1st Jul,8.013214,5.076427,0.0
4,5.0,quavo,4.0,28.9,3.4,766,7.380,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P,392.0,AUS / Bend (AUS) 1st Jul,3.820639,2.578982,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778753,7.0,sunset nightjar,3.0,36.0,1.6,6667.0,5.560,30.93,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778754,3.0,hard maintenance,2.0,25.6,17.5,3333.0,5.530,30.32,1001129393,520,6,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778755,1.0,canya cracken,1.0,32.2,3.3,1111.0,5.450,29.83,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778757,6.0,bee queen,6.0,28.8,39.5,33346.0,9.900,35.90,1001129395,600,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778758,8.0,aston mead,2.0,38.6,57.8,7446.0,9.285,35.33,998764289,600,5,the meadows,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN

In [4]:
nonjoin = races2[races2['BSP'].isna()]
nonjoin

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName,Unnamed: 0,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL
342,1.0,mount duke,6.0,33.2,15.0,NaN,NaN,30.51,334311904,512,Maiden,mount gambier,2018-07-01,Perry,N,NaN,NaN,NaN,NaN,NaN
343,2.0,teacup toni,5.0,28.2,3.5,NaN,NaN,30.64,334311904,512,Maiden,mount gambier,2018-07-01,Weis,B,NaN,NaN,NaN,NaN,NaN
344,3.0,bourne bill,2.0,30.5,4.6,NaN,NaN,30.66,334311904,512,Maiden,mount gambier,2018-07-01,Peckham,D,NaN,NaN,NaN,NaN,NaN
345,4.0,go saints,8.0,27.3,10.0,NaN,NaN,30.76,334311904,512,Maiden,mount gambier,2018-07-01,Wilson,W,NaN,NaN,NaN,NaN,NaN
346,5.0,little lina,1.0,27.4,12.0,NaN,NaN,30.92,334311904,512,Maiden,mount gambier,2018-07-01,Fennell,D,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778753,7.0,sunset nightjar,3.0,36.0,1.6,6667.0,5.560,30.93,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778754,3.0,hard maintenance,2.0,25.6,17.5,3333.0,5.530,30.32,1001129393,520,6,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778755,1.0,canya cracken,1.0,32.2,3.3,1111.0,5.450,29.83,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778757,6.0,bee queen,6.0,28.8,39.5,33346.0,9.900,35.90,1001129395,600,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778758,8.0,aston mead,2.0,38.6,57.8,7446.0,9.285,35.33,998764289,600,5,the meadows,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN

In [5]:
races2 = races2.drop_duplicates(keep='first')
races2.to_csv('bsp_allRaces.csv')
races2

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName,Unnamed: 0,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL
0,1.0,raine allen,1.0,27.4,2.4,111,6.680,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C,457.0,AUS / Bend (AUS) 1st Jul,2.485728,2.402235,0.0
1,2.0,surf a lot,2.0,32.8,6.3,332,7.010,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C,119.0,AUS / Bend (AUS) 1st Jul,10.000000,8.224462,0.0
2,3.0,pingin bee,6.0,25.5,9.3,443,7.240,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P,746.0,AUS / Bend (AUS) 1st Jul,12.362569,8.322981,0.0
3,4.0,lucas the great,7.0,32.2,9.1,655,7.310,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E,520.0,AUS / Bend (AUS) 1st Jul,8.013214,5.076427,0.0
4,5.0,quavo,4.0,28.9,3.4,766,7.380,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P,392.0,AUS / Bend (AUS) 1st Jul,3.820639,2.578982,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778753,7.0,sunset nightjar,3.0,36.0,1.6,6667.0,5.560,30.93,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778754,3.0,hard maintenance,2.0,25.6,17.5,3333.0,5.530,30.32,1001129393,520,6,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778755,1.0,canya cracken,1.0,32.2,3.3,1111.0,5.450,29.83,1001129393,520,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778757,6.0,bee queen,6.0,28.8,39.5,33346.0,9.900,35.90,1001129395,600,5,cannington,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN
1778758,8.0,aston mead,2.0,38.6,57.8,7446.0,9.285,35.33,998764289,600,5,the meadows,2024-03-02,poo,poo,NaN,NaN,NaN,NaN,NaN