In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
files = os.listdir('FastTrack')
files.sort()
dog_files=files[1:int(len(files)/2)+1]
race_files=files[1+int(len(files)/2):]
pd.DataFrame([dog_files,race_files]).T

                            0                           1
0   FT_AU_DOGS_2018-07-01.csv  FT_AU_RACES_2018-07-01.csv
1   FT_AU_DOGS_2018-08-01.csv  FT_AU_RACES_2018-08-01.csv
2   FT_AU_DOGS_2018-09-01.csv  FT_AU_RACES_2018-09-01.csv
3   FT_AU_DOGS_2018-10-01.csv  FT_AU_RACES_2018-10-01.csv
4   FT_AU_DOGS_2018-11-01.csv  FT_AU_RACES_2018-11-01.csv
5   FT_AU_DOGS_2018-12-01.csv  FT_AU_RACES_2018-12-01.csv
6   FT_AU_DOGS_2019-01-01.csv  FT_AU_RACES_2019-01-01.csv
7   FT_AU_DOGS_2019-02-01.csv  FT_AU_RACES_2019-02-01.csv
8   FT_AU_DOGS_2019-03-01.csv  FT_AU_RACES_2019-03-01.csv
9   FT_AU_DOGS_2019-04-01.csv  FT_AU_RACES_2019-04-01.csv
10  FT_AU_DOGS_2019-05-01.csv  FT_AU_RACES_2019-05-01.csv
11  FT_AU_DOGS_2019-06-01.csv  FT_AU_RACES_2019-06-01.csv
12  FT_AU_DOGS_2019-07-01.csv  FT_AU_RACES_2019-07-01.csv
13  FT_AU_DOGS_2019-08-01.csv  FT_AU_RACES_2019-08-01.csv
14  FT_AU_DOGS_2019-09-01.csv  FT_AU_RACES_2019-09-01.csv
15  FT_AU_DOGS_2019-10-01.csv  FT_AU_RACES_2019-10-01.csv
16  FT_AU_DOGS_2019-11-01.csv  FT_AU_RACES_2019-11-01.csv
17  FT_AU_DOGS_2019-12-01.csv  FT_AU_RACES_2019-12-01.csv
18  FT_AU_DOGS_2020-01-01.csv  FT_AU_RACES_2020-01-01.csv
19  FT_AU_DOGS_2020-02-01.csv  FT_AU_RACES_2020-02-01.csv
20  FT_AU_DOGS_2020-03-01.csv  FT_AU_RACES_2020-03-01.csv
21  FT_AU_DOGS_2020-04-01.csv  FT_AU_RACES_2020-04-01.csv
22  FT_AU_DOGS_2020-05-01.csv  FT_AU_RACES_2020-05-01.csv
23  FT_AU_DOGS_2020-06-01.csv  FT_AU_RACES_2020-06-01.csv
24  FT_AU_DOGS_2020-07-01.csv  FT_AU_RACES_2020-07-01.csv
25  FT_AU_DOGS_2020-08-01.csv  FT_AU_RACES_2020-08-01.csv
26  FT_AU_DOGS_2020-09-01.csv  FT_AU_RACES_2020-09-01.csv
27  FT_AU_DOGS_2020-10-01.csv  FT_AU_RACES_2020-10-01.csv
28  FT_AU_DOGS_2020-11-01.csv  FT_AU_RACES_2020-11-01.csv
29  FT_AU_DOGS_2020-12-01.csv  FT_AU_RACES_2020-12-01.csv
30  FT_AU_DOGS_2021-01-01.csv  FT_AU_RACES_2021-01-01.csv
31  FT_AU_DOGS_2021-02-01.csv  FT_AU_RACES_2021-02-01.csv
32  FT_AU_DOGS_2021-03-01.csv  FT_AU_RACES_2021-03-01.csv
33  FT_AU_DOGS_2021-04-01.csv  FT_AU_RACES_2021-04-01.csv
34  FT_AU_DOGS_2021-05-01.csv  FT_AU_RACES_2021-05-01.csv
35  FT_AU_DOGS_2021-06-01.csv  FT_AU_RACES_2021-06-01.csv
36  FT_AU_DOGS_2021-07-01.csv  FT_AU_RACES_2021-07-01.csv
37  FT_AU_DOGS_2021-08-01.csv  FT_AU_RACES_2021-08-01.csv
38  FT_AU_DOGS_2021-09-01.csv  FT_AU_RACES_2021-09-01.csv
39  FT_AU_DOGS_2021-10-01.csv  FT_AU_RACES_2021-10-01.csv
40  FT_AU_DOGS_2021-11-01.csv  FT_AU_RACES_2021-11-01.csv
41  FT_AU_DOGS_2021-12-01.csv  FT_AU_RACES_2021-12-01.csv
42  FT_AU_DOGS_2022-01-01.csv  FT_AU_RACES_2022-01-01.csv
43  FT_AU_DOGS_2022-02-01.csv  FT_AU_RACES_2022-02-01.csv
44  FT_AU_DOGS_2022-03-01.csv  FT_AU_RACES_2022-03-01.csv
45  FT_AU_DOGS_2022-04-01.csv  FT_AU_RACES_2022-04-01.csv
46  FT_AU_DOGS_2022-05-01.csv  FT_AU_RACES_2022-05-01.csv
47  FT_AU_DOGS_2022-06-01.csv  FT_AU_RACES_2022-06-01.csv
48  FT_AU_DOGS_2022-07-01.csv  FT_AU_RACES_2022-07-01.csv
49  FT_AU_DOGS_2022-08-01.csv  FT_AU_RACES_2022-08-01.csv
50  FT_AU_DOGS_2022-09-01.csv  FT_AU_RACES_2022-09-01.csv
51  FT_AU_DOGS_2022-10-01.csv  FT_AU_RACES_2022-10-01.csv
52  FT_AU_DOGS_2022-11-01.csv  FT_AU_RACES_2022-11-01.csv
53  FT_AU_DOGS_2022-12-01.csv  FT_AU_RACES_2022-12-01.csv
54  FT_AU_DOGS_2023-01-01.csv  FT_AU_RACES_2023-01-01.csv
55  FT_AU_DOGS_2023-02-01.csv  FT_AU_RACES_2023-02-01.csv
56  FT_AU_DOGS_2023-03-01.csv  FT_AU_RACES_2023-03-01.csv
57  FT_AU_DOGS_2023-04-01.csv  FT_AU_RACES_2023-04-01.csv

In [3]:
df = ''
filepath = 'FastTrack/'
for i in range(len(dog_files)):
    
    dogs = pd.read_csv(filepath + dog_files[i])
    ids = pd.read_csv(filepath + race_files[i])
#     print(ids.columns)
    dates = pd.to_datetime(ids['date'], format='%d %b %y')
    ids['date']=dates
    ids['Distance']=ids['Distance'].str[:-1].astype(int)
    ids=ids.drop(columns=['RaceNum','RaceName','RaceTime'])
    ids=ids.rename(columns={'@id':'RaceId'})
    merged = pd.merge(dogs,ids,on='RaceId',how='inner')
    merged['PIR']=merged['PIR'].astype(str)
    if(i==0):
        df=merged
    else:
        df = pd.concat([df,merged],ignore_index=True)
    print(i)
df = df.drop(columns=['Handicap','Margin1','Margin2','Prizemoney','Checks','Comments','Rug','@id','TrainerId'])

df

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

35
36
37
38

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

39
40
41
42

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

43
44
45
46
47
48
49
50

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

51
52

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

53
54

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

55
56

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4071318600.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs = pd.read_csv(filepath + dog_files[i])

57

,Place,DogName,Box,Weight,StartPrice,PIR,SplitMargin,RunTime,RaceId,TrainerName,Distance,RaceGrade,Track,date
0,1,RAINE ALLEN,1.0,27.4,$2.40F,Q/111,6.68,28.66,335811282,C Grenfell,500,Restricted Win,Bendigo,2018-07-01
1,2,SURF A LOT,2.0,32.8,$6.30,M/332,7.01,28.82,335811282,C Tyley,500,Restricted Win,Bendigo,2018-07-01
2,3,PINGIN' BEE,6.0,25.5,$9.30,S/443,7.24,28.93,335811282,P Dapiran,500,Restricted Win,Bendigo,2018-07-01
3,4,LUCAS THE GREAT,7.0,32.2,$9.10,M/655,7.31,29.03,335811282,E Hamilton,500,Restricted Win,Bendigo,2018-07-01
4,5,QUAVO,4.0,28.9,$3.40,M/766,7.38,29.05,335811282,P Dapiran,500,Restricted Win,Bendigo,2018-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794085,2,BLAZIN' LASS,1.0,26.7,$6.00,33322.0,3.26,30.99,894776630,P Fagan,531,Grade 5,Gawler,2023-04-30
1794086,3,MAESTRO LUKE,8.0,30.1,$9.00,66443.0,3.37,31.15,894776630,G Stirling,531,Grade 5,Gawler,2023-04-30
1794087,4,FAT BOY'S LUCKY,2.0,33.3,$5.00,54554.0,3.32,31.32,894776630,T Sargent,531,Grade 5,Gawler,2023-04-30
1794088,5,MEMPHIS ROCK,5.0,30.9,$5.50,11235.0,3.19,31.42,894776630,S Brook,531,Grade 5,Gawler,2023-04-30
1794089,6,SPRING FLUTE,7.0,29.8,$2.20F,45666.0,3.26,31.45,894776630,W Sebastyan,531,Grade 5,Gawler,2023-04-30

In [4]:
df2 = df.copy()
# df2 = df2.drop(columns=['Handicap','Margin1','Margin2','Prizemoney','Checks','Comments','RaceId','Rug','@id','TrainerId'])
df2['DogName'] = df2['DogName'].str.lower()
df2['StartPrice'] = df2['StartPrice'].str.replace(r'[^0-9.]', '', regex=True).astype(float)
df2['Place']=df2['Place'].str.replace(r'[^0-9.]', '', regex=True)
df2=df2[df2['Place']!='']
df2=df2.rename(columns={'SplitMargin':'Split'})
df2['Track']=df2['Track'].str.lower()
df2['TrainerLName']=df2['TrainerName'].str.split(' ').str[1]
df2['TrainerFName']=df2['TrainerName'].str.split(' ').str[0]
df2 = df2.drop(columns=['TrainerName'])
df2['PIR']=np.where(df2['PIR'].str.contains('/'),df2['PIR'].str.split('/').str[1],df2['PIR'])
df2

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1,raine allen,1.0,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2,surf a lot,2.0,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3,pingin' bee,6.0,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4,lucas the great,7.0,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5,quavo,4.0,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794085,2,blazin' lass,1.0,26.7,6.0,33322.0,3.26,30.99,894776630,531,Grade 5,gawler,2023-04-30,Fagan,P
1794086,3,maestro luke,8.0,30.1,9.0,66443.0,3.37,31.15,894776630,531,Grade 5,gawler,2023-04-30,Stirling,G
1794087,4,fat boy's lucky,2.0,33.3,5.0,54554.0,3.32,31.32,894776630,531,Grade 5,gawler,2023-04-30,Sargent,T
1794088,5,memphis rock,5.0,30.9,5.5,11235.0,3.19,31.42,894776630,531,Grade 5,gawler,2023-04-30,Brook,S
1794089,6,spring flute,7.0,29.8,2.2,45666.0,3.26,31.45,894776630,531,Grade 5,gawler,2023-04-30,Sebastyan,W

In [5]:
# df4=df2.copy()
# df4['PIR']=np.where(df4['PIR'].str.contains('/'),df4['PIR'].str.split('/').str[1],df4['PIR'])
# df4

In [6]:
df2.dtypes

Place                   object
DogName                 object
Box                    float64
Weight                 float64
StartPrice             float64
PIR                     object
Split                  float64
RunTime                float64
RaceId                   int64
Distance                 int64
RaceGrade               object
Track                   object
date            datetime64[ns]
TrainerLName            object
TrainerFName            object
dtype: object

In [7]:
# df3['Track'].unique()

In [8]:
scrape = ''
for i in range(1,98):
    file = 'scrapes/scrape'+str(i)+'.csv'
    x = pd.read_csv(file)
#     print(x.shape[0])
    if(i==1):
        scrape=x
    else:
        scrape=pd.concat([scrape,x],ignore_index=True)
scrape

,Unnamed: 0,Plc,Name (Box),Trainer,Time,Mgn,Split,In Run,Wgt,SP,Distance,RaceGrade,date,Track,Unnamed: 0.1
0,0,1,Betty Bush (8),Jamie Bush,25.22,0.00,11.50,421.0,28.9kg,$5.00,431,X45,01/05/2023,gunnedah,NaN
1,1,2,Redan (2),Glen Muller,25.25,0.50,11.54,232.0,31.0kg,$4.30,431,X45,01/05/2023,gunnedah,NaN
2,2,3,Swift Kevin (1),Graham Pickering,25.25,0.50,11.47,113.0,28.4kg,$2.40,431,X45,01/05/2023,gunnedah,NaN
3,3,4,Flying Husband (4),Peter Midson,25.59,5.25,11.65,644.0,36.4kg,$10.00,431,X45,01/05/2023,gunnedah,NaN
4,4,5,Tralee Alvie (3),Melanie Mabbott,25.62,5.75,11.68,355.0,33.6kg,$9.00,431,X45,01/05/2023,gunnedah,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470061,1130,2,Mrs Chuckle (2),C Marston,41.35,16.50,16.59,5222,34.4kg,$0.00,645,OR,28/01/2024,the-valley,NaN
470062,1131,3,Vixons Sparkle (1),C Marston,41.55,19.00,17.30,2663,26.6kg,$0.00,645,OR,28/01/2024,the-valley,NaN
470063,1132,4,Ashwood Lily (6),C Marston,41.89,23.25,16.80,4444,26.5kg,$0.00,645,OR,28/01/2024,the-valley,NaN
470064,1133,5,Ranchers Teddy (4),R Williams,42.15,26.50,16.63,3336,36.8kg,$0.00,645,OR,28/01/2024,the-valley,NaN
470065,1134,6,Some Occasion (5),C Marston,42.21,27.25,16.97,555,33.2kg,$0.00,645,OR,28/01/2024,the-valley,NaN

In [9]:
df3 = scrape.copy()
df3 = df3.drop(columns=['Mgn'])
for col in list(df3.columns):
    if('Unnamed' in col):
        df3 = df3.drop(columns=[col])
        
        
df3 = df3.rename(columns={'Plc':'Place','Name (Box)':'DogName','Wgt':'Weight','In Run':'PIR','SP':'StartPrice','Trainer':'TrainerName','Time':'RunTime'})
df3=df3[df3['DogName'].str[-2]!='(']
df3['Box']=df3['DogName'].str[-2].astype(int)
df3['DogName']=df3['DogName'].str[:-4].str.lower()
df3['Weight']=df3['Weight'].str.strip('kg')
df3['StartPrice']=df3['StartPrice'].str[1:]
df3['TrainerLName']=df3['TrainerName'].str.split(' ').str[-1]
df3['TrainerFName']=df3['TrainerName'].str.split(' ').str[0].str[0]
df3 = df3.drop(columns='TrainerName')
df3['Track']=df3['Track'].apply(lambda x: x.replace("-", " "))
df3

,Place,DogName,RunTime,Split,PIR,Weight,StartPrice,Distance,RaceGrade,date,Track,Box,TrainerLName,TrainerFName
0,1,betty bush,25.22,11.50,421.0,28.9,5.00,431,X45,01/05/2023,gunnedah,8,Bush,J
1,2,redan,25.25,11.54,232.0,31.0,4.30,431,X45,01/05/2023,gunnedah,2,Muller,G
2,3,swift kevin,25.25,11.47,113.0,28.4,2.40,431,X45,01/05/2023,gunnedah,1,Pickering,G
3,4,flying husband,25.59,11.65,644.0,36.4,10.00,431,X45,01/05/2023,gunnedah,4,Midson,P
4,5,tralee alvie,25.62,11.68,355.0,33.6,9.00,431,X45,01/05/2023,gunnedah,3,Mabbott,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470061,2,mrs chuckle,41.35,16.59,5222,34.4,0.00,645,OR,28/01/2024,the valley,2,Marston,C
470062,3,vixons sparkle,41.55,17.30,2663,26.6,0.00,645,OR,28/01/2024,the valley,1,Marston,C
470063,4,ashwood lily,41.89,16.80,4444,26.5,0.00,645,OR,28/01/2024,the valley,6,Marston,C
470064,5,ranchers teddy,42.15,16.63,3336,36.8,0.00,645,OR,28/01/2024,the valley,4,Williams,R
470065,6,some occasion,42.21,16.97,555,33.2,0.00,645,OR,28/01/2024,the valley,5,Marston,C

In [10]:
df3['Place'] = pd.to_numeric(df3['Place'], errors='coerce')
df3 = df3.dropna(subset=['Place'])
df3['Place'] = df3['Place'].astype(int)
df3['Place'].unique()
df3=df3.rename(columns={'Place2':'RaceId'})

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_12915/4017231589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Place'] = df3['Place'].astype(int)

In [11]:
df3['RaceId']=None
df3

,Place,DogName,RunTime,Split,PIR,Weight,StartPrice,Distance,RaceGrade,date,Track,Box,TrainerLName,TrainerFName,RaceId
0,1,betty bush,25.22,11.50,421.0,28.9,5.00,431,X45,01/05/2023,gunnedah,8,Bush,J,None
1,2,redan,25.25,11.54,232.0,31.0,4.30,431,X45,01/05/2023,gunnedah,2,Muller,G,None
2,3,swift kevin,25.25,11.47,113.0,28.4,2.40,431,X45,01/05/2023,gunnedah,1,Pickering,G,None
3,4,flying husband,25.59,11.65,644.0,36.4,10.00,431,X45,01/05/2023,gunnedah,4,Midson,P,None
4,5,tralee alvie,25.62,11.68,355.0,33.6,9.00,431,X45,01/05/2023,gunnedah,3,Mabbott,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470061,2,mrs chuckle,41.35,16.59,5222,34.4,0.00,645,OR,28/01/2024,the valley,2,Marston,C,None
470062,3,vixons sparkle,41.55,17.30,2663,26.6,0.00,645,OR,28/01/2024,the valley,1,Marston,C,None
470063,4,ashwood lily,41.89,16.80,4444,26.5,0.00,645,OR,28/01/2024,the valley,6,Marston,C,None
470064,5,ranchers teddy,42.15,16.63,3336,36.8,0.00,645,OR,28/01/2024,the valley,4,Williams,R,None
470065,6,some occasion,42.21,16.97,555,33.2,0.00,645,OR,28/01/2024,the valley,5,Marston,C,None

In [12]:

num=1
i=0
while(i<df3.shape[0]):

    place = df3.iloc[i,0]

    
    if(place==1):
        num+=1
    df3.iloc[i,14]=num
    i+=1
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000

In [13]:
df3['date']=pd.to_datetime(df3['date'],format='%d/%m/%Y')
df3=df3.sort_values(by='date')
df3

,Place,DogName,RunTime,Split,PIR,Weight,StartPrice,Distance,RaceGrade,date,Track,Box,TrainerLName,TrainerFName,RaceId
0,1,betty bush,25.22,11.50,421.0,28.9,5.00,431,X45,2023-05-01,gunnedah,8,Bush,J,2
330209,4,dower bolger,29.31,4.42,4233,30.2,3.10,480,A4,2023-05-01,monmore,3,Curtin,P,51445
330210,5,kilcooney limit,29.47,4.58,5556,28.6,4.30,480,A4,2023-05-01,monmore,2,Fereday,C,51445
330211,6,looks like rio,29.49,4.68,6665,31.9,8.00,480,A4,2023-05-01,monmore,1,Meek,J,51445
330212,1,newsydontheblock,28.96,4.42,2111,35.6,2.75,480,A6,2023-05-01,monmore,2,Hunt,N,51446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469309,8,game on,25.77,9.16,167.0,31.7,18.00,450,5,2024-01-28,grafton,8,Falls,N,71634
469307,6,fire paws,25.66,9.09,236.0,33.8,5.00,450,5,2024-01-28,grafton,6,Moroney,M,71634
469306,5,lightning rod,25.54,9.04,412.0,30.7,11.00,450,5,2024-01-28,grafton,5,Falls,N,71634
469313,4,phantom bill,26.05,9.18,222.0,31.2,6.50,450,5,2024-01-28,grafton,7,Gilbert,W,71635
470065,6,some occasion,42.21,16.97,555,33.2,0.00,645,OR,2024-01-28,the valley,5,Marston,C,71749

In [14]:
big = pd.concat([df2,df3],ignore_index=True)
big

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1,raine allen,1.0,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2,surf a lot,2.0,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3,pingin' bee,6.0,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4,lucas the great,7.0,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5,quavo,4.0,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1985784,8,game on,8.0,31.7,18.00,167.0,9.16,25.77,71634,450,5,grafton,2024-01-28,Falls,N
1985785,6,fire paws,6.0,33.8,5.00,236.0,9.09,25.66,71634,450,5,grafton,2024-01-28,Moroney,M
1985786,5,lightning rod,5.0,30.7,11.00,412.0,9.04,25.54,71634,450,5,grafton,2024-01-28,Falls,N
1985787,4,phantom bill,7.0,31.2,6.50,222.0,9.18,26.05,71635,450,5,grafton,2024-01-28,Gilbert,W
1985788,6,some occasion,5.0,33.2,0.00,555,16.97,42.21,71749,645,OR,the valley,2024-01-28,Marston,C

In [15]:
big.to_csv('allRaces1.csv')

In [16]:
big.tail(60)

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
1985729,3,dusk till dawn,5.0,30.8,6.00,M3,3.88,17.08,71639,300,X67,healesville,2024-01-28,Tharle,M
1985730,4,elk,2.0,27.1,3.00,M6,3.98,17.10,71639,300,X67,healesville,2024-01-28,Morrissey,M
1985731,5,aussie savannah,1.0,27.7,9.10,M2,3.88,17.10,71639,300,X67,healesville,2024-01-28,Merton,B
1985732,6,magic moon child,6.0,27.9,12.80,M1,3.86,17.12,71639,300,X67,healesville,2024-01-28,Bahen,G
1985733,7,inter mary,4.0,29.7,73.90,M4,3.92,17.15,71639,300,X67,healesville,2024-01-28,Campbell,M
1985734,8,she's digging it,3.0,29.2,30.20,S8,4.07,17.20,71639,300,X67,healesville,2024-01-28,Monaghan,J
1985735,1,fifty short,8.0,31.2,1.40,Q1,6.47,19.21,71640,350,X67,healesville,2024-01-28,Turner,K
1985736,2,dr. rio,1.0,29.5,7.20,M3,6.59,19.30,71640,350,X67,healesville,2024-01-28,McMahon,J
1985737,3,why i'm broke,3.0,36.8,5.50,M5,6.66,19.45,71640,350,X67,healesville,2024-01-28,Galea,A
1985738,1,major phantom,7.0,33.5,4.80,M2,3.89,16.66,71642,300,X45,healesville,2024-01-28,Hodgson,B
1985739,8,still chasing,6.0,30.4,20.10,M5,3.96,17.24,71641,300,5,healesville,2024-01-28,Browney,K
1985740,7,back in day,3.0,28.0,6.60,M6,3.96,17.23,71641,300,5,healesville,2024-01-28,Johannsen,C
1985741,6,tasman hope,5.0,32.5,23.60,M4,3.94,17.22,71641,300,5,healesville,2024-01-28,Norton,K
1985742,5,devine sal,4.0,26.4,20.90,M2,3.88,17.10,71641,300,5,healesville,2024-01-28,Martin,P
1985743,4,george mcfly,2.0,34.3,6.80,S7,4.03,17.08,71641,300,5,healesville,2024-01-28,Bowles,E
1985744,2,vigne unleashed,8.0,34.8,1.50,433.0,4.12,19.98,71637,350,FFA,grafton,2024-01-28,Thomas,J
1985745,3,immunity idol,7.0,31.9,8.80,M3,3.94,17.03,71641,300,5,healesville,2024-01-28,Cornell,T
1985746,1,bella's champion,1.0,31.4,2.90,M1,3.88,16.86,71641,300,5,healesville,2024-01-28,Schofield,P
1985747,8,sir coleman,5.0,35.4,35.00,M8,6.86,20.17,71640,350,X67,healesville,2024-01-28,Delaroche,J
1985748,7,matetsi,6.0,22.7,111.30,M6,6.67,20.05,71640,350,X67,healesville,2024-01-28,Kampman,A
1985749,6,man of fire,2.0,32.0,63.10,M2,6.58,20.01,71640,350,X67,healesville,2024-01-28,Monaghan,T
1985750,5,river king,7.0,35.3,24.70,S7,6.83,19.81,71640,350,X67,healesville,2024-01-28,Johnson,G
1985751,4,daintree chief,4.0,31.6,15.50,M4,6.65,19.67,71640,350,X67,healesville,2024-01-28,Joske,B
1985752,2,in the navy,8.0,34.9,3.50,S8,4.07,17.00,71641,300,5,healesville,2024-01-28,King,K
1985753,7,sally unleashed,5.0,26.4,71.00,777.0,4.29,20.95,71631,350,5,grafton,2024-01-28,Childs,J
1985754,1,who's a picture,4.0,34.8,17.00,111.0,4.07,19.94,71637,350,FFA,grafton,2024-01-28,Jordan,T
1985755,6,mundy valley,6.0,30.3,5.00,477.0,4.20,20.84,71636,350,X45,grafton,2024-01-28,Winters,D
1985756,2,robell rueben,1.0,30.4,1.65,431.0,4.11,20.21,71632,350,5,grafton,2024-01-28,Ellis,B
1985757,3,rhythm and blues,3.0,26.3,12.00,654.0,4.18,20.26,71632,350,5,grafton,2024-01-28,Harris,E
1985758,3,phantom bob,5.0,31.2,7.50,113.0,4.10,20.26,71632,350,5,grafton,2024-01-28,Gilbert,W
1985759,5,robell lola,6.0,24.1,15.00,566.0,4.29,20.47,71632,350,5,grafton,2024-01-28,Ellis,B
1985760,6,miss ziva,7.0,27.7,5.50,245.0,4.17,20.50,71632,350,5,grafton,2024-01-28,Zarb,A
1985761,1,lakeshore drive,3.0,26.3,8.50,411.0,4.07,19.93,71633,350,5,grafton,2024-01-28,Ross,M
1985762,2,clock the zipper,8.0,36.6,13.00,343.0,4.18,20.17,71633,350,5,grafton,2024-01-28,Cartwright,S
1985763,3,lil miss miles,4.0,29.4,3.70,222.0,4.13,20.30,71633,350,5,grafton,2024-01-28,Gardoll,C
1985764,4,crimson rosette,2.0,26.5,6.50,734.0,4.17,20.53,71633,350,5,grafton,2024-01-28,Childs,J
1985765,5,ivy rules,1.0,23.8,26.00,885.0,4.30,20.62,71633,350,5,grafton,2024-01-28,Keep,S
1985766,6,orara tom,5.0,27.8,3.40,566.0,4.21,20.73,71633,350,5,grafton,2024-01-28,Smith,G
1985767,7,dad's boys,6.0,29.9,4.00,677.0,4.24,20.79,71633,350,5,grafton,2024-01-28,King,J
1985768,8,ferocious ezmae,7.0,25.8,51.00,158.0,4.19,21.13,71633,350,5,grafton,2024-01-28,Bunney,A
1985769,1,nangar gypsy,3.0,28.5,3.80,521.0,9.07,25.31,71634,450,5,grafton,2024-01-28,Barnes,D
1985770,2,albert's memory,1.0,32.6,5.00,884.0,9.25,25.36,71634,450,5,grafton,2024-01-28,Gardoll,R
1985771,3,nangar express,2.0,33.0,3.10,753.0,9.15,25.46,71634,450,5,grafton,2024-01-28,Barnes,A
1985772,4,jimary indiana,4.0,27.4,26.00,675.0,9.17,25.53,71634,450,5,grafton,2024-01-28,Ross,M
1985773,5,burning sand,3.0,30.6,31.00,555.0,4.11,20.80,71636,350,X45,grafton,2024-01-28,Mortensen,C
1985774,4,good odds jeb,1.0,32.8,6.00,766.0,4.15,20.75,71636,350,X45,grafton,2024-01-28,Jobson,M
1985775,3,true character,8.0,33.7,19.00,233.0,4.18,20.56,71636,350,X45,grafton,2024-01-28,Godwin,R
1985776,2,choice words,2.0,26.6,2.30,622.0,4.16,20.51,71636,350,X45,grafton,2024-01-28,King,J
1985777,1,robell ted,7.0,30.1,3.30,111.0,4.05,19.96,71636,350,X45,grafton,2024-01-28,Ellis,B
1985778,6,fawn all over,6.0,33.5,9.50,356.0,9.56,26.27,71635,450,5,grafton,2024-01-28,Childs,J
1985779,7,grace's secret,4.0,26.2,34.00,344.0,4.10,21.08,71636,350,X45,grafton,2024-01-28,North,L
1985780,5,milkman mav,2.0,33.0,23.00,545.0,9.36,26.15,71635,450,5,grafton,2024-01-28,Falls,N
1985781,3,watch the show,1.0,29.3,7.50,464.0,9.56,26.03,71635,450,5,grafton,2024-01-28,Gardoll,C
1985782,2,he's half ours,4.0,29.1,2.50,633.0,9.36,26.01,71635,450,5,grafton,2024-01-28,Walker,L
1985783,1,it's a zoo,8.0,31.8,2.60,111.0,9.12,25.78,71635,450,5,grafton,2024-01-28,Kempshall,S
1985784,8,game on,8.0,31.7,18.00,167.0,9.16,25.77,71634,450,5,grafton,2024-01-28,Falls,N
1985785,6,fire paws,6.0,33.8,5.00,236.0,9.09,25.66,71634,450,5,grafton,2024-01-28,Moroney,M
1985786,5,lightning rod,5.0,30.7,11.00,412.0,9.04,25.54,71634,450,5,grafton,2024-01-28,Falls,N
1985787,4,phantom bill,7.0,31.2,6.50,222.0,9.18,26.05,71635,450,5,grafton,2024-01-28,Gilbert,W
1985788,6,some occasion,5.0,33.2,0.00,555,16.97,42.21,71749,645,OR,the valley,2024-01-28,Marston,C

In [17]:
big[big['date']=='2023-11-27']

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
1919496,5,bumpy car,6.0,31.4,6.50,35.0,5.52,18.11,62241,297,M,dapto,2023-11-27,Brewer,R
1919497,2,macmerry,2.0,25.4,14.00,432.0,9.99,34.99,62243,600,XM5,dapto,2023-11-27,Campbell,D
1919498,1,red medusa,1.0,25.4,1.20,111.0,9.57,34.66,62243,600,XM5,dapto,2023-11-27,Betts,C
1919499,7,gillenbah tiger,1.0,29.9,4.50,67.0,5.54,18.08,62242,297,M,dapto,2023-11-27,Goodsell,P
1919500,6,chill out chick,7.0,26.2,24.00,46.0,5.44,17.95,62242,297,M,dapto,2023-11-27,Kitchen,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920566,6,long way out,7.0,26.2,41.00,5.0,10.93,23.62,62193,395,5,albion park,2023-11-27,Cauchi,P
1920567,2,paramount power,7.0,31.8,10.00,NaN,4.85,20.27,62194,342,M,angle park,2023-11-27,Payne,M
1920568,7,farmor pizazz,6.0,25.7,81.00,8.0,11.22,24.04,62193,395,5,albion park,2023-11-27,Bock,A
1920569,8,what a nose,5.0,27.8,71.00,7.0,11.17,24.17,62193,395,5,albion park,2023-11-27,Bock,A
1920570,1,paramount star,8.0,29.0,9.50,NaN,4.65,20.14,62194,342,M,angle park,2023-11-27,Payne,M

In [18]:
big[big['RaceId'] == 61643]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
1917301,2,arts inferno,7.0,30.3,4.50,M/543,6.82,25.90,61643,450,X45,ballarat,2023-11-25,Duncan,J
1917342,1,spartan legend,6.0,31.8,7.50,M/321,6.76,25.67,61643,450,X45,ballarat,2023-11-25,Blacker,T
1917357,7,skull,3.0,32.8,7.50,S/766,6.86,26.29,61643,450,X45,ballarat,2023-11-25,Pace,N
1917358,6,tobikuma,8.0,32.3,10.00,M/455,6.82,26.04,61643,450,X45,ballarat,2023-11-25,Webb,S
1917359,5,rainbow storm,1.0,30.7,2.25,M/677,6.86,26.04,61643,450,X45,ballarat,2023-11-25,Bovell,R
1917360,4,lala turbo,4.0,37.3,14.00,M/234,6.75,25.95,61643,450,X45,ballarat,2023-11-25,Griffen,P
1917361,3,bold contender,2.0,33.0,13.00,Q/112,6.64,25.92,61643,450,X45,ballarat,2023-11-25,Kando,S

In [19]:
big[big['Track']=='the gardens'].tail(30)

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
1983993,5,she kissed me,2.0,27.9,21.00,55.0,4.61,16.24,71546,272,X45,the gardens,2024-01-27,Smith,A
1983994,1,frisky felon,5.0,27.4,1.80,11,10.92,22.58,71547,400,FFA,the gardens,2024-01-27,Davidson,M
1983995,2,drink cruisers,2.0,26.9,4.60,42,11.11,22.84,71547,400,FFA,the gardens,2024-01-27,Davies,S
1983996,3,prince leo,7.0,30.1,12.00,23,11.19,22.87,71547,400,FFA,the gardens,2024-01-27,Eaton,C
1983997,4,winlock piper,8.0,32.9,4.20,64,11.23,22.95,71547,400,FFA,the gardens,2024-01-27,Johnson,M
1983998,5,redshift echo,1.0,26.7,15.00,55,11.33,23.15,71547,400,FFA,the gardens,2024-01-27,Callen,T
1983999,6,licking marvel,4.0,25.4,21.00,36,11.43,23.24,71547,400,FFA,the gardens,2024-01-27,Eaton,C
1984002,3,rolled you,1.0,29.2,7.00,33.0,4.55,15.99,71546,272,X45,the gardens,2024-01-27,Kedwell,G
1984014,6,teapot scandal,6.0,24.3,14.00,35.0,11.42,23.46,71539,400,5,the gardens,2024-01-27,Woods,A
1984016,4,take my bet,3.0,32.9,3.00,74.0,11.36,23.36,71539,400,5,the gardens,2024-01-27,Vines,R
1984061,5,skinny wit,5.0,31.1,13.00,66.0,11.44,23.36,71539,400,5,the gardens,2024-01-27,Woods,A
1984064,1,jagger style,4.0,29.6,11.00,21.0,11.31,23.37,71536,400,M,the gardens,2024-01-27,Walters,R
1984065,2,songar hi top,6.0,34.4,2.90,53.0,11.59,23.70,71536,400,M,the gardens,2024-01-27,Greene,S
1984066,3,sapphire's girl,1.0,27.9,18.00,42.0,11.52,23.74,71536,400,M,the gardens,2024-01-27,Pye,T
1984067,4,quintette,5.0,25.1,10.00,76.0,11.80,23.97,71536,400,M,the gardens,2024-01-27,Davies,S
1984068,5,siakam,3.0,30.4,51.00,35.0,11.76,24.19,71536,400,M,the gardens,2024-01-27,Hutton,L
1984069,6,tilly whacker,7.0,24.6,101.00,14.0,11.69,24.48,71536,400,M,the gardens,2024-01-27,Hutton,L
1984070,7,little granny,8.0,26.8,1.75,67.0,11.81,24.52,71536,400,M,the gardens,2024-01-27,Rose,I
1984071,1,ritza margo,7.0,27.9,1.75,122.0,9.53,34.91,71537,600,MX,the gardens,2024-01-27,Flaherty,S
1984072,2,cool ash,2.0,27.4,2.20,433.0,9.62,35.12,71537,600,MX,the gardens,2024-01-27,Magnisalis,J
1984073,3,not for sure,5.0,27.8,12.00,211.0,9.47,35.31,71537,600,MX,the gardens,2024-01-27,Walker,L
1984074,4,nabiac sunset,8.0,29.1,41.00,344.0,9.64,36.19,71537,600,MX,the gardens,2024-01-27,Gatt,J
1984075,5,my pirate,4.0,29.5,71.00,555.0,9.72,36.91,71537,600,MX,the gardens,2024-01-27,Pye,T
1984076,1,i'll see,6.0,29.5,1.18,11111.0,15.90,42.73,71538,715,MX,the gardens,2024-01-27,Davidson,M
1984077,2,don't bail out,2.0,26.9,7.00,22322.0,16.41,42.75,71538,715,MX,the gardens,2024-01-27,Davidson,M
1984078,3,wait and see,8.0,28.7,14.00,33233.0,16.40,43.39,71538,715,MX,the gardens,2024-01-27,Davidson,M
1984079,4,white liar,4.0,29.7,31.00,44444.0,16.46,43.56,71538,715,MX,the gardens,2024-01-27,Capper,A
1984080,1,speedy pebbles,2.0,31.4,3.70,52.0,11.14,22.82,71539,400,5,the gardens,2024-01-27,Dodd,J
1984081,2,blazin' bad zula,4.0,26.0,8.00,23.0,11.21,23.11,71539,400,5,the gardens,2024-01-27,Goodwin,N
1984082,3,miss sophia,1.0,27.2,3.20,11.0,11.13,23.19,71539,400,5,the gardens,2024-01-27,Eaton,J