In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('bsp_allRaces.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_15215/129307746.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  races = pd.read_csv('bsp_allRaces.csv', index_col=False)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
MENU_HINT        object
BSP             float64
MORNINGWAP      float64
PPTRADEDVOL     float64
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,2.485728,2.402235,0.00,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,10.000000,8.224462,0.00,C Tyley
2,3,pingin bee,6,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,12.362569,8.322981,0.00,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,8.013214,5.076427,0.00,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,3.820639,2.578982,0.00,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764978,1,black ombre,8,33.0,3.7,311.0,6.61875,27.071,1001129401,485,4,horsham,2024-03-08,Horsham (AUS) 8th Mar,3.600000,2.898200,7270.39,poo poo
1764979,1,wrong bias,1,28.9,1.6,11.0,10.20000,23.070,1003096223,410,4,horsham,2024-03-08,Horsham (AUS) 8th Mar,1.812544,1.643800,15206.80,poo poo
1764980,2,hidden stones,2,30.6,2.5,22.0,10.27000,23.135,1003096223,410,4,horsham,2024-03-08,Horsham (AUS) 8th Mar,2.573757,1.846300,10763.64,poo poo
1764981,6,miss verdansky,4,28.5,52.5,76.0,11.05925,23.813,1003096223,410,5,horsham,2024-03-08,Horsham (AUS) 8th Mar,190.000000,87.550400,145.98,poo poo
1764982,3,happy potter,4,32.5,101.0,254.0,11.64000,23.700,1004319650,400,5,the gardens,2024-03-08,The Gardens (AUS) 8th Mar,195.653973,24.485000,53.01,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

for x in list(races['Track'].unique()):
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])

bendigo
500 15375
425 38786
660 930
sandown park
515 35414
595 8340
715 2336
sale
440 24004
520 5350
650 800
510 699
435 2644
640 118
albion park
331 25516
395 25749
520 32034
600 4436
710 1852
mount gambier
512 11092
400 22199
600 1673
732 316
277 88
305 2226
angle park
388 9619
515 15571
600 2256
731 849
342 10138
530 11154
730 835
595 1598
shepparton
390 10293
450 22852
650 881
385 22937
traralgon
315 946
395 11132
525 737
665 7
595 46
500 1783
350 6824
450 4169
ballarat
450 25188
545 5011
390 28946
660 748
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13885
630 421
520 4529
722 28
launceston
515 10549
278 11860
600 624
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10503
450 5281
660 180
northam
297 6844
509 3565
588 156
721 15
warragul
460 24271
400 37520
680 511
horsham
410 21084
485 7769
geelong
460 19833
400 31825
520 1403
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30447
520 26765
275 20133
600 3680
715 1901
maitland
400 12141
450 5957
565 1016
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42703
520 16744
630 2027
732 105
288 17825
cranbourne
520 7244
311 20426
699 290
the meadows
525 38614
600 8414
725 1077
730 658
darwin
312 12950
383 8521
537 2442
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8454
320 10812
520 4137
622 884
722 35
wentworth park
520 34749
720 2490
280 2601
rockhampton
407 19831
510 3122
hobart
340 7876
461 14933
599 632
278 139
515 68
casino
411 12964
620 392
484 4670
300 8896
goulburn
350 17189
440 10667
dapto
520 10099
600 1719
297 10430
729 53
healesville
300 31784
350 29444
strathalbyn
319 437
416 211
536 140
the gardens
515 13247
400 29945
600 2261
715 426
272 9175
wagga
400 5898
320 9998
525 2399
760 6
bulli
472 4796
400 10372
515 879
590 380
340 3372
bundaberg
460 13152
550 1748
531 479
315 636
taree
314 5566
392 4445
537 1309
gawler
400 32861
531 8980
643 1322
townsville
380 29531
498 7616
643 301
dubbo
318 11627
400 7401
516 2909
605 362
temora
330 9191
457 4438
570 370
mandurah
405 34886
490 13574
302 19010
647 307
300 1751
400 2610
488 914
652 122
capalaba
366 29909
warrnambool
390 23419
450 16030
650 483
gosford
388 14708
515 6618
603 1276
710 64
murray bridge
395 12159
455 6597
530 1372
300 9812
350 3201
390 6
680 452
gunnedah
340 12255
527 1398
431 4190
richmond straight
324 11775

In [6]:
trk='murray bridge'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())
cas

[395 455 530 300 350 680]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL,TrainerName
0,1,plunder hawke,5,30.3,16.0,111,5.07,23.29,392592653,395,Maiden,murray bridge,2018-12-19,AUS / MBdg (AUS) 19th Dec,20.000000,11.059556,0.00,R Harris
1,2,springvale diva,3,26.0,3.3,662,5.29,23.39,392592653,395,Maiden,murray bridge,2018-12-19,AUS / MBdg (AUS) 19th Dec,3.250000,2.838482,0.00,G Harris
2,3,spring izzy,8,28.0,2.7,443,5.20,23.54,392592653,395,Maiden,murray bridge,2018-12-19,AUS / MBdg (AUS) 19th Dec,3.368829,2.438477,0.00,G Board
3,4,giveaway fury,4,31.1,18.0,324,5.19,23.64,392592653,395,Maiden,murray bridge,2018-12-19,AUS / MBdg (AUS) 19th Dec,28.000000,11.398870,0.00,T Hinrichsen
4,5,free fury,6,33.8,31.0,755,5.36,23.74,392592653,395,Maiden,murray bridge,2018-12-19,AUS / MBdg (AUS) 19th Dec,60.000000,6.761707,0.00,T Hinrichsen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14612,4,terrific janine,8,29.3,34.0,nan,7.19,19.92,1002606759,350,5,murray bridge,2024-03-05,Murray Bridge (AUS) 5th Mar,88.845146,4.322600,66.55,poo poo
14613,4,you say bolt,5,35.5,101.0,nan,4.58,17.19,1002606762,300,4,murray bridge,2024-03-05,Murray Bridge (AUS) 5th Mar,350.000000,144.352300,44.93,poo poo
14614,2,paxton dutton,6,36.0,1.8,nan,4.51,16.78,1002606762,300,2,murray bridge,2024-03-05,Murray Bridge (AUS) 5th Mar,1.995465,1.513300,5771.15,poo poo
14615,1,my reason,7,31.3,2.5,nan,4.42,16.72,1002606762,300,1,murray bridge,2024-03-05,Murray Bridge (AUS) 5th Mar,2.760000,1.923800,3536.26,poo poo
14616,4,woodside gracie,8,27.7,16.0,nan,4.62,17.19,1002606762,300,3,murray bridge,2024-03-05,Murray Bridge (AUS) 5th Mar,40.000000,22.066400,274.84,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]


        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice','BSP','MORNINGWAP']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice','BSP','MORNINGWAP']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)

#If you change this to few_dogs you need to take out underscore, change class and change number up top
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,BSP,MORNINGWAP,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,23.29,5.07,1,2018-12-19,392592653,395,30.3,16.0,20.000000,11.059556,...,0,0,0,0,1,0,0,0,0,1
1,23.39,5.29,2,2018-12-19,392592653,395,26.0,3.3,3.250000,2.838482,...,0,0,1,0,0,0,0,0,1,0
2,23.64,5.19,4,2018-12-19,392592653,395,31.1,18.0,28.000000,11.398870,...,0,0,0,1,0,0,0,0,0,1
3,24.04,5.39,7,2018-12-19,392592653,395,25.8,4.8,5.847508,4.470975,...,0,0,0,0,0,0,1,0,0,0
4,24.17,5.12,8,2018-12-19,392592653,395,27.8,8.0,13.500000,7.753839,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,19.92,7.19,4,2024-03-05,1002606759,350,29.3,34.0,88.845146,4.322600,...,0,0,0,0,0,0,0,1,0,0
13561,17.19,4.58,4,2024-03-05,1002606762,300,35.5,101.0,350.000000,144.352300,...,0,0,0,0,1,0,0,0,0,1
13562,16.78,4.51,2,2024-03-05,1002606762,300,36.0,1.8,1.995465,1.513300,...,0,0,0,0,0,1,0,0,0,1
13563,16.72,4.42,1,2024-03-05,1002606762,300,31.3,2.5,2.760000,1.923800,...,0,0,0,0,0,0,1,0,0,0
13564,17.19,4.62,4,2024-03-05,1002606762,300,27.7,16.0,40.000000,22.066400,...,0,0,0,0,0,0,0,1,0,0

In [16]:
dc

{'Invalid': [550361088,
  998752261,
  656343047,
  550361098,
  501809163,
  501809164,
  707237908,
  410810390,
  410810393,
  410810395,
  410810397,
  22561,
  410810405,
  456456236,
  680665143,
  547653695,
  403013696,
  403013697,
  471119942,
  403013703,
  471119951,
  779243610,
  996370526,
  996370528,
  680665192,
  65646,
  61561,
  34952,
  34953,
  875176076,
  875176077,
  875176078,
  775475346,
  775475347,
  430776468,
  430776470,
  557054104,
  430776473,
  557054111,
  745289900,
  566382765,
  37045,
  37046,
  472166591,
  718723279,
  995539152,
  426787028,
  426787029,
  426787030,
  426787034,
  822917346,
  557054179,
  557054181,
  557054182,
  822917349,
  24810,
  24811,
  516002040,
  888959236,
  888959237,
  26889,
  415971598,
  403013903,
  415971599,
  403013908,
  415971604,
  403013910,
  403013911,
  403013912,
  403013913,
  403013914,
  415971606,
  415971605,
  846606619,
  6430,
  6431,
  491086119,
  491086120,
  491086122,
  853520686,
  853520688,
  479113525,
  529058104,
  479113530,
  28992,
  28994,
  397584709,
  397584714,
  397584715,
  397584717,
  397584719,
  837931352,
  698513753,
  420178278,
  69993,
  472226159,
  472226160,
  472226161,
  472226162,
  656365947,
  485632394,
  485632395,
  640991627,
  485632398,
  530315666,
  530315668,
  557054356,
  67992,
  426785177,
  467653021,
  415971743,
  663021986,
  663021987,
  45484,
  45485,
  865597889,
  865597890,
  865597895,
  432624072,
  432624073,
  20937,
  710535627,
  432624076,
  20943,
  846606810,
  846606811,
  476813793,
  476813794,
  476813795,
  476813796,
  572688869,
  476813798,
  656280040,
  461099498,
  476813803,
  61930,
  461099502,
  792203768,
  460116473,
  460116474,
  467653116,
  467653117,
  744352254,
  850665981,
  669987328,
  460116481,
  515265041,
  515265045,
  865622554,
  540566053,
  423713318,
  540566054,
  677866033,
  677866035,
  570159669,
  570159670,
  570159671,
  570159675,
  570159678,
  731337290,
  634796619,
  889068109,
  424712782,
  701045346,
  701045347,
  701045348,
  451756657,
  798984817,
  451756664,
  549423738,
  726205052,
  549423744,
  461099661,
  461099665,
  572605079,
  572605081,
  572605085,
  561767077,
  561767083,
  767990454,
  767990459,
  815100616,
  525253323,
  525253324,
  482751182,
  482751183,
  525253326,
  482751188,
  707056341,
  807756514,
  472226531,
  472226533,
  534934257,
  472226549,
  70394,
  415003390,
  415003391,
  415003392,
  865598212,
  408804101,
  408804102,
  865598214,
  408804104,
  865598216,
  865598218,
  408804107,
  865598220,
  47887,
  694815507,
  408822576,
  540566321,
  540566322,
  663024432,
  842799926,
  705776439,
  496202573,
  496202574,
  496202575,
  781970255,
  823038813,
  15214,
  445055857,
  445055859,
  824820595,
  397624196,
  465437574,
  465437575,
  397624200,
  397624202,
  435594124,
  465437582,
  397624207,
  397624208,
  515974054,
  515974057,
  515974059,
  502563761,
  445055926,
  869979069,
  869979071,
  64450,
  555101135,
  555101139,
  555101142,
  58356,
  58357,
  829146102,
  829146103,
  877730821,
  435594249,
  435594250,
  877730828,
  435594255,
  519461907,
  857095216,
  857095217,
  877730878,
  440335425,
  520465476,
  440335429,
  440335432,
  448789605,
  509346926,
  568777842,
  807519352,
  1002167420,
  448896143,
  60581,
  60582,
  60585,
  54448,
  54449,
  440962228,
  440962229,
  64694,
  64692,
  504089790,
  504089791,
  550362302,
  550362303,
  504089794,
  504089795,
  465425604,
  550362304,
  27849,
  465425611,
  27851,
  732290258,
  734653653,
  846619876,
  860994795,
  392592653,
  545869071,
  545869072,
  36111,
  36116,
  485920032,
  5410,
  850664746,
  850664747,
  850664749,
  19757,
  38199,
  38200,
  578848070,
  860650825,
  578848075,
  523459916,
  785769808,
  523459921,
  842792281,
  60764,
  60765,
  60768,
  715001185,
  715001186,
  757960039,
  663047538,
  64884,
  392592759,
  392592760,
  540593529,
  392592765,
  392625536,
  882009473,
  752129413,
  392625542,
  884739470,
  877723029,
  877723031,
  768664991,
  675335585,
  434707883,
  458628529,
  458628536,
  458628538,
  458628539,
  451755455,
  69055,
  69057,
  451755458,
  833066434,
  833066436,
  69058,
  504090061,
  504090072,
  530388448,
  489684450,
  489684451,
  523460068,
  523460069,
  530388454,
  523460070,
  523460071,
  489684452,
  489684457,
  50683,
  638811646,
  576081407,
  540593664,
  540593666,
  576081412,
  576081415,
  540593672,
  561769996,
  857130517,
  795411992,
  432606746,
  476745255,
  861001255,
  476745257,
  476745258,
  476745261,
  476745263,
  445081140,
  445081141,
  650237495,
  538975805,
  546205263,
  546205264,
  9816,
  9818,
  626218596,
  626218597,
  407875191,
  407875195,
  407875198,
  829183615,
  829183617,
  7811,
  7812,
  7813,
  998764166,
  689297046,
  481900184,
  481900185,
  481900187,
  481900188,
  530388636,
  576081563,
  67229,
  576081568,
  994164383,
  525381310,
  63166,
  63167,
  525381313,
  63171,
  525381322,
  580853450,
  580853451,
  550729427,
  550729432,
  561770215,
  561770216,
  561770219,
  561770220,
  804075243,
  804075244,
  561770223,
  14060,
  14062,
  996378353,
  996378355,
  996378354,
  716426998,
  716426999,
  632788731,
  829183766,
  500539160,
  26408,
  57141,
  667670328,
  410810171,
  442492733,
  442492736,
  442492750,
  32595,
  400029538,
  400029539,
  400029541,
  550729577,
  550729578,
  400029547,
  400029548,
  550729579,
  416008046,
  877657961,
  702388082,
  59250,
  59251,
  815075200,
  801490831,
  491190167,
  491190168,
  491190171,
  491190172,
  738021278,
  775475108,
  61363,
  673093563,
  456456133,
  456456137,
  572594138,
  572594139,
  572594140,
  491085794,
  491085795,
  491085796,
  491085797,
  63464,
  400029674,
  400029675,
  400029676,
  400029677,
  491085802,
  731273199,
  400029680,
  827791338,
  400029683,
  400029685,
  55290]}

In [17]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [18]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()