In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2031382,6,cawbourne gia,3,24.2,7.0,nan,11.12,23.86,1008720936,400,5,mount gambier,2024-03-21,poo poo
2031383,1,aphrodite sally,2,28.0,7.0,0.0,11.09,23.51,1008720936,400,5,mount gambier,2024-03-21,poo poo
2031384,4,marionvale gal,1,26.6,4.4,nan,11.10,23.68,1008720936,400,6,mount gambier,2024-03-21,poo poo
2031387,4,rise as one,7,32.2,8.0,nan,11.59,24.52,1008720935,400,6,mount gambier,2024-03-21,poo poo
2031388,3,simply black,4,27.5,1.9,543.0,6.68,20.55,1008718924,340,6,gunnedah,2024-03-21,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

dick = {}

for x in list(races['Track'].unique()):
    
    dick[x] = []
    
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])
        if cas[cas['Distance']==i].shape[0] > 7000:
            dick[x].append(i)
dick

bendigo
500 15349
425 38893
660 938
sandown park
515 35277
595 8322
715 2330
sale
440 24004
520 5350
650 800
510 667
435 2576
640 126
albion park
331 25699
395 25932
520 32140
600 4462
710 1865
mount gambier
512 11107
400 22202
600 1665
732 316
277 88
305 2252
angle park
388 9619
515 15502
600 2251
731 845
342 10229
530 11199
730 830
595 1603
shepparton
390 10343
450 22844
650 881
385 22887
traralgon
315 946
395 11146
525 737
665 7
595 46
500 1743
350 6860
450 4143
ballarat
450 25351
545 5025
390 29203
660 748
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13892
630 421
520 4574
722 28
launceston
515 10548
278 11848
600 628
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10476
450 5302
660 180
northam
297 6790
509 3528
588 156
721 15
warragul
460 24339
400 37636
680 531
horsham
410 21151
485 7767
geelong
460 19886
400 31996
520 1410
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30545
520 26888
275 20247
600 3678
715 1939
maitland
400 12193
450 5968
565 1027
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42779
520 16831
630 2038
732 105
288 17825
cranbourne
520 7244
311 20426
699 290
the meadows
525 38669
600 8414
725 1077
730 664
darwin
312 12976
383 8564
537 2445
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8492
320 10883
520 4125
622 903
722 41
wentworth park
520 34674
720 2492
280 2595
rockhampton
407 19908
510 3135
hobart
340 7881
461 14931
599 632
278 250
515 119
casino
411 12789
620 376
484 4591
300 8832
goulburn
350 17107
440 10624
dapto
520 10018
600 1690
297 10279
729 53
healesville
300 31770
350 29422
strathalbyn
319 437
416 211
536 140
the gardens
515 13244
400 29869
600 2267
715 426
272 9157
wagga
400 5902
320 9993
525 2399
760 6
bulli
472 4791
400 10403
515 879
590 380
340 3388
bundaberg
460 13211
550 1748
531 495
315 684
tamworth
457 310
340 2067
402 1339
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 33042
531 9008
643 1327
muswellbrook
328 1638
429 574
560 112
336 1792
431 613
571 61
townsville
380 29589
498 7665
643 301
dubbo
318 11582
400 7409
516 2896
605 404
wauchope
384 3524
457 981
temora
330 9196
457 4431
570 368
732 7
broken hill
375 4479
525 926
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3083
400 984
530 198
405 249
mandurah
405 34870
490 13566
302 18956
647 307
300 1907
400 2701
488 932
652 117
capalaba
366 30079
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2541
440 504
530 70
warrnambool
390 23379
450 15974
650 483
gosford
388 14671
515 6577
603 1285
710 64
murray bridge
395 12110
455 6597
530 1372
300 9810
350 3200
390 6
680 452
gunnedah
340 12270
527 1386
431 4175
richmond straight
324 12013
canberra
530 1
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
kinsley
462 5036
268 1837
844 6
650 6
nottingham
500 5685
480 431
680 94
305 211
730 43
255 24
oxford
450 5458
847 6
650 239
253 221
addington
295 4354
520 1221
645 120
732 30
doncaster
450 3434
275 1901
483 1279
661 45
enniscorthy
480 2937
526 40
549 42
503 6
320 6
swindon
476 5680
262 715
682 180
896 6
towcester
270 2392
500 3570
712 180
942 11
yarmouth
462 4642
659 181
277 119
youghal
480 4273
503 6
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4433
275 1739
660 57
710 61
suffolk downs
388 4536
548 440
220 193
716 10
hove
500 6644
285 1376
695 291
515 307
740 5
tralee
480 4239
297 736
503 128
521 151
457 101
686 22
crayford
380 6641
540 1663
714 227
874 21
central park
480 506
265 594
642 18
450 17
500 5
491 2000
277 1887
664 21
sunderland
450 5923
261 1342
640 137
newcastle
480 7828
640 150
290 57
kilkenny
480 3964
663 35
harlow
238 4566
415 4465
592 74
lifford
480 1593
297 1519
503 111
526 72
750 6
newbridge
503 214
480 1637
297 303
526 76
shelbourne park
526 355
480 3550
503 885
549 103
320 151
686 226
777 6
937 17
galway
480 2392
320 786
503 164
526 34
741 10
297 121
hatrick
520 707
305 1239
755 30
limerick
480 3671
320 109
526 98
503 440
686 119
549 171
mullingar
480 3761
366 163
320 85
549 12
503 17
waterford
480 3987
297 59
526 40
668 91
503 110
thurles park
480 1657
302 71
521 166
curraheen park
503 274
480 3093
686 145
302 494
526 118
dundalk
480 1627
366 1435
503 106
526 59
567 27
613 4
549 36
drumbo park
480 842
306 873
526 32
503 43
764 4
clonmel
480 2244
503 200
274 517
686 6
manukau
318 2006
527 665
779 23
henlow
460 1917
550 196
692 18
277 79
manawatu
660 226
410 84
375 1046
457 594
pelaw grange
435 1537
ascot park
390 1052
457 403
cambridge
375 637
457 324
650 49
747 8
the valley
460 407
260 268
645 45

{'bendigo': [500, 425],
 'sandown park': [515, 595],
 'sale': [440],
 'albion park': [331, 395, 520],
 'mount gambier': [512, 400],
 'angle park': [388, 515, 342, 530],
 'shepparton': [390, 450, 385],
 'traralgon': [395],
 'ballarat': [450, 390],
 'bathurst': [307],
 'nowra': [365],
 'launceston': [515, 278],
 'grafton': [350],
 'northam': [],
 'warragul': [460, 400],
 'horsham': [410, 485],
 'geelong': [460, 400],
 'lismore': [],
 'cannington': [380, 520, 275],
 'maitland': [400],
 'devonport': [452],
 'cairns': [],
 'ipswich': [431, 520, 288],
 'cranbourne': [520, 311],
 'the meadows': [525, 600],
 'darwin': [312, 383],
 'richmond': [400, 330, 401, 320],
 'wentworth park': [520],
 'rockhampton': [407],
 'hobart': [340, 461],
 'casino': [411, 300],
 'goulburn': [350, 440],
 'dapto': [520, 297],
 'healesville': [300, 350],
 'strathalbyn': [],
 'the gardens': [515, 400, 272],
 'wagga': [320],
 'bulli': [400],
 'bundaberg': [460],
 'tamworth': [],
 'moree': [],
 'taree': [],
 'gawler': [400, 531],
 'muswellbrook': [],
 'townsville': [380, 498],
 'dubbo': [318, 400],
 'wauchope': [],
 'temora': [330],
 'broken hill': [],
 'armidale': [],
 'young': [],
 'port augusta': [],
 'kempsey': [],
 'coonamble': [],
 'mandurah': [405, 490, 302],
 'capalaba': [366],
 'cowra': [],
 'lithgow': [],
 'mudgee': [],
 'coonabarabran': [],
 'potts park': [],
 'warrnambool': [390, 450],
 'gosford': [388],
 'murray bridge': [395, 300],
 'gunnedah': [340],
 'richmond straight': [324],
 'canberra': [],
 'monmore': [480],
 'kinsley': [],
 'nottingham': [],
 'oxford': [],
 'addington': [],
 'doncaster': [],
 'enniscorthy': [],
 'swindon': [],
 'towcester': [],
 'yarmouth': [],
 'youghal': [],
 'romford': [400],
 'sheffield': [],
 'perry barr': [],
 'suffolk downs': [],
 'hove': [],
 'tralee': [],
 'crayford': [],
 'central park': [],
 'sunderland': [],
 'newcastle': [480],
 'kilkenny': [],
 'harlow': [],
 'lifford': [],
 'newbridge': [],
 'shelbourne park': [],
 'galway': [],
 'hatrick': [],
 'limerick': [],
 'mullingar': [],
 'waterford': [],
 'thurles park': [],
 'curraheen park': [],
 'dundalk': [],
 'drumbo park': [],
 'clonmel': [],
 'manukau': [],
 'henlow': [],
 'manawatu': [],
 'pelaw grange': [],
 'ascot park': [],
 'cambridge': [],
 'the valley': []}

In [6]:
trk='bulli'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())

cas

[400 472 515 590 340]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,big casey,5,40.1,8.00,441,NaN,23.14,337093378,400,Grade 5,bulli,2018-07-07,C Sheridan
1,2,sunburnt city,6,31.1,4.00,772,NaN,23.17,337093378,400,Grade 5,bulli,2018-07-07,J Richardson
2,3,avatar woody,4,30.0,34.00,323,NaN,23.23,337093378,400,Grade 5,bulli,2018-07-07,S Mulholland
3,4,faun flame,3,28.0,2.00,234,NaN,23.30,337093378,400,Grade 5,bulli,2018-07-07,C Proctor
4,5,bonsai jenmar,8,25.6,9.00,115,NaN,23.30,337093378,400,Grade 5,bulli,2018-07-07,J Brown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13255,2,dominator dan,3,34.2,9.00,5422.0,6.76,22.84,1007854717,400,Maiden,bulli,2024-03-19,poo poo
13256,3,zipping dursley,4,30.1,101.00,7633.0,6.81,23.07,1007854717,400,Maiden,bulli,2024-03-19,poo poo
13257,6,zipping myrtle,6,27.4,101.00,6776.0,6.86,23.27,1007854717,400,Maiden,bulli,2024-03-19,poo poo
13258,1,leichhardt roar,7,32.4,81.00,2111.0,6.56,22.73,1007854717,400,Maiden,bulli,2024-03-19,poo poo
13259,4,zipping mario,8,33.9,1.25,4354.0,6.66,23.21,1007854717,400,Maiden,bulli,2024-03-19,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]
        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)

#If you change this to few_dogs you need to take out underscore, change class and change number up top
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,mean_place,mean_in_race_pos,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,29.30,NaN,5,2018-07-28,343237279,515,37.3,81.0,4.400000,0.600000,...,0,0,0,0,0,0,1,0,0,0
1,27.19,NaN,6,2018-07-28,343237280,472,31.6,19.0,3.800000,1.700000,...,0,0,0,0,0,1,0,0,0,1
2,29.36,NaN,4,2018-08-04,346062859,515,35.6,4.0,2.600000,-0.600000,...,0,0,0,1,0,0,0,0,0,1
3,29.62,NaN,7,2018-08-04,346062859,515,30.8,18.0,4.000000,-0.500000,...,0,0,0,0,0,0,1,0,0,0
4,22.70,NaN,1,2018-08-04,346062860,400,28.0,3.4,4.500000,0.500000,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10706,22.12,6.37,1,2024-03-19,1007854721,400,26.5,2.6,2.111111,-0.444444,...,0,1,0,0,0,0,0,0,1,0
10707,22.40,6.44,3,2024-03-19,1007854721,400,33.9,8.0,2.250000,0.892857,...,0,0,1,0,0,0,0,0,1,0
10708,19.89,3.47,3,2024-03-19,1007854718,340,28.0,12.0,4.900000,2.100000,...,0,0,0,1,0,0,0,0,0,1
10709,20.36,3.75,6,2024-03-19,1007854718,340,28.2,18.0,6.400000,0.600000,...,0,1,0,0,0,0,0,0,1,0
10710,22.73,6.56,1,2024-03-19,1007854717,400,32.4,81.0,4.619048,-0.619048,...,0,0,0,0,0,0,1,0,0,0

In [16]:
dc

{'Invalid': [346062859,
  346062860,
  346062861,
  346062862,
  346062863,
  346062864,
  346062865,
  346062866,
  346062867,
  596021262,
  596021265,
  596021267,
  596021268,
  737939471,
  737939473,
  870434839,
  870434842,
  24,
  27,
  632746014,
  632746016,
  32,
  400089123,
  400089125,
  623859751,
  623859752,
  400089129,
  623859754,
  400089135,
  623859760,
  623859761,
  707237939,
  550361145,
  680665149,
  550361151,
  680665151,
  550361153,
  680665153,
  550361155,
  617984075,
  617984076,
  617984079,
  617984080,
  650115157,
  617984086,
  362973271,
  650115158,
  388868185,
  650115161,
  362973275,
  362973276,
  362973277,
  388868188,
  362973279,
  388868190,
  535478366,
  375183458,
  375183459,
  535478367,
  375183461,
  375183462,
  796837997,
  796838000,
  796838003,
  710535299,
  710535301,
  710535302,
  10203,
  640882852,
  415971494,
  640882854,
  415971496,
  881692840,
  881692841,
  415971499,
  354515116,
  354515117,
  881692844,
  354515119,
  354515120,
  354515121,
  354515122,
  354515123,
  354515124,
  881692846,
  881692847,
  2225,
  2232,
  2227,
  737939468,
  770857157,
  770857163,
  770857165,
  525625558,
  995539159,
  995539160,
  995539163,
  740378848,
  740378852,
  740378853,
  4339,
  4344,
  888959225,
  888959226,
  4348,
  4349,
  888959231,
  888959233,
  350290187,
  350290190,
  382656783,
  350290192,
  382656784,
  491086098,
  350290194,
  350290196,
  491086097,
  350290198,
  69907,
  350290200,
  491086105,
  69908,
  69915,
  69916,
  350290205,
  798906658,
  798906659,
  354515238,
  798906662,
  407589160,
  354515241,
  479136042,
  354515242,
  354515243,
  354515244,
  354515245,
  354515246,
  407589161,
  407589163,
  798906666,
  321,
  451756360,
  451756361,
  451756362,
  451756363,
  451756365,
  67921,
  67925,
  67927,
  350290264,
  350290266,
  350290267,
  350290268,
  67931,
  350290270,
  350290271,
  350290273,
  426787180,
  426787181,
  426787184,
  352178546,
  352178547,
  352178548,
  426787187,
  352178550,
  352178551,
  352178552,
  352178553,
  426787189,
  667685239,
  667685240,
  667685241,
  667685243,
  667685248,
  469819778,
  469819784,
  415971723,
  656279955,
  656279957,
  656279958,
  656279960,
  656279961,
  683143585,
  702388644,
  810746280,
  810746282,
  702388651,
  810746284,
  810746285,
  810746286,
  2484,
  2485,
  2487,
  718754244,
  718754245,
  718754246,
  525253063,
  525253065,
  718754252,
  378618319,
  378618320,
  378618322,
  378618323,
  745589202,
  378618325,
  557035990,
  378618327,
  557035992,
  745589208,
  745589211,
  356884957,
  356884960,
  356884961,
  356884962,
  356884963,
  356884964,
  538913252,
  356884966,
  538913253,
  538913254,
  889002491,
  4606,
  4607,
  423713282,
  489640451,
  423713284,
  423713285,
  702388738,
  702388740,
  702388741,
  566495753,
  889002498,
  566495755,
  566495756,
  566495757,
  566495758,
  472226319,
  850666019,
  432624164,
  432624165,
  716321321,
  432624173,
  716321325,
  716321327,
  530405936,
  374086194,
  374086195,
  374086196,
  374086197,
  374086198,
  530405940,
  530405942,
  716321331,
  561764925,
  561764926,
  561764928,
  561764929,
  502577730,
  561764930,
  561764931,
  677866061,
  677866063,
  677866064,
  383636049,
  591,
  677866067,
  12882,
  677866069,
  12883,
  599,
  12888,
  12889,
  425857628,
  880939612,
  880939613,
  634796639,
  634796640,
  540566113,
  425857634,
  540566114,
  540566115,
  549423717,
  540566118,
  634796644,
  698456676,
  880939621,
  880939622,
  549423723,
  549423731,
  865622645,
  865622646,
  865622647,
  55926,
  865622653,
  865622654,
  55933,
  537899652,
  779246215,
  779246220,
  779246223,
  779246225,
  779246227,
  4610,
  343237277,
  343237278,
  343237279,
  343237280,
  601852573,
  601852577,
  343237283,
  343237284,
  343237285,
  601852580,
  2727,
  2723,
  2725,
  383636139,
  570159790,
  383636143,
  570159792,
  383636146,
  383636148,
  383636152,
  645888700,
  645888702,
  645888703,
  745589438,
  745589439,
  745589441,
  2989,
  665363142,
  665363143,
  634796744,
  634796745,
  665363145,
  665363147,
  665363148,
  745589447,
  745589449,
  41677,
  41676,
  41681,
  41682,
  41680,
  41679,
  672985823,
  815100644,
  504087269,
  672985830,
  4840,
  504087273,
  824820458,
  889002501,
  459571948,
  815100653,
  4846,
  504087279,
  459571952,
  824820463,
  785769202,
  824820464,
  785769206,
  785769213,
  337093378,
  337093379,
  337093380,
  337093381,
  337093382,
  337093383,
  337093384,
  337093385,
  337093386,
  337093387,
  771539720,
  718754575,
  408804112,
  408804114,
  530406166,
  718754582,
  408804120,
  716321571,
  716321575,
  716321578,
  760357682,
  496202551,
  760357687,
  874634043,
  366269246,
  874634047,
  874634049,
  366269250,
  366269253,
  792204101,
  366269256,
  366269257,
  366269258,
  366269259,
  62297,
  877730651,
  877730652,
  62301,
  877730654,
  62302,
  647631712,
  811787104,
  62300,
  647631715,
  869,
  870,
  811787111,
  873,
  775512939,
  876,
  775512941,
  775512942,
  878,
  775512948,
  410792841,
  410792845,
  823038867,
  823038868,
  823038869,
  688249765,
  688249767,
  520201128,
  540566441,
  688249768,
  540566443,
  857095081,
  857095083,
  857095086,
  2988,
  397624240,
  540566448,
  540566450,
  857095088,
  2223,
  2993,
  476742582,
  2997,
  397624249,
  397624252,
  383284164,
  383284165,
  397624262,
  383284166,
  383284168,
  383284169,
  383284171,
  592675802,
  611251163,
  387419101,
  611251166,
  387419104,
  611251175,
  611251177,
  611251181,
  71030,
  626240514,
  599542787,
  599542788,
  626240515,
  520465414,
  599542790,
  599542791,
  626240517,
  346072074,
  346072075,
  626240519,
  346072077,
  346072078,
  346072079,
  346072080,
  626240520,
  346072082,
  346072083,
  760357907,
  760357909,
  824820750,
  824820756,
  824820757,
  838005784,
  760357914,
  838005787,
  838005788,
  421940253,
  421940254,
  421940255,
  421940256,
  838005790,
  547652644,
  547652645,
  547652646,
  760357926,
  547652648,
  547652653,
  804047925,
  448896054,
  448896057,
  705713209,
  448896059,
  804047931,
  804047932,
  448896062,
  857095231,
  857095233,
  555162693,
  555162694,
  555162696,
  402887763,
  402887765,
  402887767,
  71032,
  402887772,
  775513180,
  775513185,
  782154849,
  356904035,
  356904036,
  356904037,
  782154852,
  356904039,
  356904040,
  568777832,
  568777833,
  782154853,
  356904044,
  392625261,
  392625262,
  568777837,
  392625264,
  568777841,
  392625266,
  792134768,
  5239,
  732290170,
  732290171,
  732290173,
  732290174,
  1007854718,
  1007854719,
  5249,
  1007854717,
  50307,
  50308,
  1007854724,
  1007854726,
  1007854723,
  50312,
  634918025,
  634918026,
  669981833,
  669981834,
  669981836,
  669981837,
  448789647,
  669981838,
  448789649,
  448789650,
  448789651,
  634918034,
  705713299,
  1170,
  1176,
  705713307,
  587850911,
  846623912,
  846623913,
  578847918,
  578847920,
  578847926,
  3255,
  485919928,
  3256,
  1003117754,
  1003117756,
  1003117757,
  485919946,
  60622,
  886871249,
  50313,
  438521047,
  50314,
  886871257,
  438521051,
  886871259,
  841186537,
  841186538,
  695934187,
  550362368,
  550362372,
  790187284,
  432606486,
  432606487,
  432606488,
  790187286,
  432606494,
  707257631,
  432606496,
  707257632,
  509334819,
  675362085,
  509334822,
  675362088,
  675362089,
  675362092,
  675362093,
  509334833,
  509334836,
  58697,
  663047510,
  663047511,
  663047512,
  663047513,
  402888030,
  402888031,
  68961,
  68962,
  68966,
  68969,
  504089964,
  504089969,
  54642,
  54645,
  629704054,
  629704055,
  54648,
  629704057,
  629704058,
  629704059,
  54649,
  54651,
  765478270,
  1406,
  63372,
  472221057,
  71033,
  472221059,
  765478279,
  340684170,
  340684171,
  846624138,
  340684174,
  340684175,
  340684176,
  340684177,
  340684178,
  340684179,
  846624143,
  846624147,
  846624149,
  846624151,
  854027672,
  892812698,
  892812700,
  846624157,
  892812701,
  892812703,
  892812705,
  829289896,
  829289903,
  734725562,
  734725564,
  734725567,
  734725568,
  734725569,
  614165954,
  734725570,
  792135106,
  614165957,
  792135107,
  842792387,
  833066440,
  842792390,
  3524,
  3523,
  614165967,
  833066448,
  614165969,
  614165971,
  614165972,
  757788130,
  757788133,
  757788134,
  751957479,
  751957480,
  638811630,
  638811631,
  638811633,
  504053238,
  504053239,
  504053240,
  638811638,
  360982023,
  360982024,
  360982025,
  360982026,
  360982027,
  360982028,
  360982029,
  360982030,
  360982031,
  360982032,
  752129555,
  481900052,
  752129556,
  481900059,
  861001272,
  861001278,
  861001279,
  861001280,
  861001281,
  654153296,
  620594772,
  620594774,
  620594777,
  620594778,
  57313,
  57314,
  638811756,
  638811758,
  57315,
  434716283,
  434716287,
  359650953,
  359650955,
  359650957,
  359650958,
  359650959,
  359650960,
  500543121,
  500543120,
  587839117,
  370448020,
  370448021,
  1685,
  370448024,
  370448026,
  863837852,
  370448029,
  863837855,
  740282016,
  804075168,
  740282018,
  863837859,
  804075174,
  451755687,
  451755688,
  451755693,
  990396081,
  410810035,
  369882804,
  369882805,
  369882806,
  369882807,
  369882808,
  369882809,
  369882810,
  369882811,
  369882812,
  410810039,
  672986812,
  672986815,
  540612288,
  767946426,
  767946427,
  857138879,
  767946436,
  540612293,
  857138885,
  857138886,
  857138887,
  540612304,
  3792,
  3793,
  614166227,
  614166229,
  540612310,
  3799,
  614166232,
  614166233,
  833066712,
  3802,
  614166237,
  580853470,
  833066719,
  833066720,
  833066721,
  833066722,
  434716389,
  360982252,
  360982253,
  360982255,
  360982256,
  360982257,
  360982259,
  689295108,
  689295117,
  426827552,
  650116903,
  442494760,
  442494761,
  870434602,
  442494768,
  870434608,
  609365822,
  609365823,
  609365824,
  609365825,
  609365827,
  410810181,
  410810184,
  580904784,
  580904785,
  693385041,
  580904789,
  580904790,
  555079512,
  393322330,
  393322332,
  555079518,
  393322336,
  815075169,
  996378466,
  815075171,
  815075172,
  996378468,
  996378467,
  996378465,
  815075177,
  996378473,
  491190125,
  870678381,
  710604660,
  710604661,
  710604667,
  870678395,
  870678397,
  870678401,
  338071428,
  338071430,
  338071431,
  338071432,
  338071433,
  338071434,
  338071435,
  338071436,
  710604684,
  710604686,
  779243398,
  779243401,
  779243404,
  779243408,
  63375,
  63378,
  63374,
  1960,
  1965,
  606678966,
  606678969,
  606678970,
  465432507,
  606678972,
  700936123,
  465432513,
  700936130,
  465432515,
  465432516,
  378695620,
  378695621,
  378695622,
  378695623,
  378695625,
  378695626,
  827699160,
  4057,
  827699162,
  4056,
  827699164,
  749000669,
  749000670,
  749000671,
  749000672,
  4062,
  4064,
  749000675,
  415971300,
  415971301,
  749000677,
  415971303,
  749000678,
  779246237,
  827699178,
  57320,
  57316]}

In [17]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [18]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()

In [19]:
a = pd.read_csv('allRaces1.csv')

In [20]:
a = a[a['Track']=='rockhampton']
max(a.date)

'2024-03-20'