In [1]:
import pandas as pd

#tracks = ['traralgon','ipswich','albion park','cannington','geelong','ballarat','launceston','warrnambool','casino','gosford','warragul','grafton','mandurah','townsville','bendigo','shepparton','hobart']
tracks = ['bundaberg']

races = pd.read_csv('allRaces1.csv')
for track in tracks:
    invalid = []
    races1 = pd.read_csv('class/'+track+'.csv')
    for raceid in races1['RaceId'].unique():
        if races[races['RaceId']==raceid].shape[0] == races1[races1['RaceId']==raceid].shape[0]:
            pass
        else:
            invalid.append(raceid)
    dc = {'Invalid':invalid}
    dff = pd.DataFrame(dc)
    dff.to_csv('Invalid/Invalid_'+track+'.csv')

In [2]:
races = pd.read_csv('allRaces1.csv')

races[races['RaceId']==879471937]

,Unnamed: 0,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
1473533,1473533,1.0,smiling sapphire,1.0,29.1,2.0,111,6.68,24.41,879471937,425,Grade 5 T3,bendigo,2023-03-08,Knight,D
1473534,1473534,2.0,go saints go,8.0,30.6,16.0,565,6.80,24.66,879471937,425,Grade 5 T3,bendigo,2023-03-08,Boots,P
1473535,1473535,3.0,island chief,7.0,32.4,17.0,222,6.69,24.69,879471937,425,Grade 5 T3,bendigo,2023-03-08,Dunlevey,P
1473536,1473536,4.0,devil's water,3.0,27.0,25.0,333,6.76,24.71,879471937,425,Grade 5 T3,bendigo,2023-03-08,Lingard,K
1473537,1473537,5.0,forgotten boy,2.0,29.6,3.2,644,6.80,24.78,879471937,425,Grade 5 T3,bendigo,2023-03-08,Dunlevey,P
1473538,1473538,6.0,our danny,6.0,29.1,5.0,456,6.76,24.82,879471937,425,Grade 5 T3,bendigo,2023-03-08,Hansen,W
1473539,1473539,7.0,got one fernando,4.0,24.4,81.3,777,6.84,24.84,879471937,425,Grade 5 T3,bendigo,2023-03-08,Ashton,K