## GRV API

- acc email: maxharper26@icloud.com
- acc password: kowGot-sonbyk-4fazko
- api key: 4157732f-fa7f-4459-ab26-089e4deab17a
- documentation: https://topaz.grv.org.au/docs/#/codes/GetTrack

In [1]:
import pandas as pd
from topaz import TopazAPI
import time
import requests
from requests.exceptions import HTTPError
from json import JSONDecodeError
import numpy as np

In [2]:
key = '4157732f-fa7f-4459-ab26-089e4deab17a'
key_m = '6a8ffdc7-ee7a-4795-9b98-607e3e838342'
key_p ='34b33827-3ca1-4c2b-a4c5-40fde1d99a84'

In [3]:
topaz_api = TopazAPI(key)

In [4]:
authority_codes = [ 'NSW', 'QLD', 'SA', 'TAS', 'VIC', 'WA','NT']
all_races = []
missed_run=False

for code in authority_codes:
    try:
        races = topaz_api.get_races(from_date='2024-02-28', to_date='2024-03-02', owning_authority_code=code)
        all_races.append(races)
    except Exception as e:
        print(f"Error fetching races for {code}: {e}")

all_races_df = pd.concat(all_races, ignore_index=True)
race_ids = list(all_races_df['raceId'].unique())
race_ids

Error fetching races for NT: 404 Client Error: Not Found for url: https://topaz.grv.org.au/api/race?from=2024-02-28&to=2024-03-02&owningauthoritycode=NT

[1001127271,
 1001127272,
 1001127273,
 1001127274,
 1001127275,
 1001127276,
 1001127277,
 1001127278,
 1001127279,
 1001127280,
 1001127281,
 1001127282,
 1001127283,
 1001127284,
 1001127285,
 1001127286,
 1001127287,
 1001127288,
 1001127289,
 1001127290,
 1001127291,
 1001129300,
 1001129302,
 1001129304,
 1001129305,
 1001129307,
 1001129309,
 1001129311,
 1001129313,
 1001129315,
 1001129316,
 1001127304,
 1001127305,
 1001127306,
 1001127307,
 1001127308,
 1001127309,
 1001127310,
 1001127311,
 1001127312,
 1001127313,
 1001127314,
 1001127315,
 1001129275,
 1001129276,
 1001129277,
 1001129278,
 1001129279,
 1001129280,
 1001129281,
 1001129282,
 1001129283,
 1001129284,
 1001129285,
 1001129286,
 1001129287,
 1001129288,
 1001129289,
 1001129290,
 1001129291,
 1001129292,
 1001129293,
 1001129294,
 1001129295,
 1001129296,
 1001129297,
 1001129298,
 1001127375,
 1001127376,
 1001127377,
 1001127378,
 1001127379,
 1001127380,
 1001127381,
 1001127382,
 1001127383,
 1001127384,
 1001127385,
 1001129319,
 1001129320,
 1001129321,
 1001129322,
 1001129323,
 1001129324,
 1001129325,
 1001129326,
 1001129327,
 1001129328,
 1001129329,
 1001129330,
 1001129331,
 1001129332,
 1001129333,
 1001129334,
 1001129335,
 1001129336,
 1001129337,
 1001129338,
 1001129339,
 1001129340,
 1001129341,
 1001129342,
 1001204427,
 1001204428,
 1001204429,
 1001204430,
 1001204431,
 1001204432,
 1001204433,
 1001204434,
 1001204435,
 1001204436,
 1001204437,
 1001204438,
 1001127352,
 1001127353,
 1001127354,
 1001127355,
 1001127356,
 1001127357,
 1001127358,
 1001127359,
 1001127360,
 1001127361,
 1001127362,
 1002167360,
 1002167361,
 1002167362,
 1002167363,
 1002167364,
 1002167365,
 1002167366,
 1002167367,
 1002167368,
 1002167369,
 1002167370,
 1002167371,
 1002276051,
 1002276052,
 1002276053,
 1002276054,
 1002276055,
 1002276056,
 1002276057,
 1002276058,
 1002276059,
 1002276060,
 1002276061,
 1002276062,
 1002314137,
 1002314138,
 1002314139,
 1002314140,
 1002314141,
 1002314142,
 1002314143,
 1002314144,
 1002314145,
 1002314146,
 998752332,
 998752333,
 998752334,
 998752335,
 998752336,
 998752337,
 998752338,
 998752339,
 998752340,
 998752341,
 998752342,
 998752343,
 1001127292,
 1001127293,
 1001127294,
 1001127295,
 1001127296,
 1001127297,
 1001127298,
 1001127299,
 1001127300,
 1001127301,
 1001127302,
 1001127303,
 1001127386,
 1001127387,
 1001127388,
 1001127389,
 1001127390,
 1001127391,
 1001127392,
 1001127393,
 1001127394,
 1001127395,
 1001127396,
 1001127397,
 1001129299,
 1001129301,
 1001129303,
 1001129306,
 1001129308,
 1001129310,
 1001129312,
 1001129314,
 1001129317,
 1001129318,
 1001127363,
 1001127364,
 1001127365,
 1001127366,
 1001127367,
 1001127368,
 1001127369,
 1001127370,
 1001127371,
 1001127372,
 1001127373,
 1001127374,
 1002314147,
 1002314148,
 1002314149,
 1002314150,
 1002314151,
 1002314152,
 1002314153,
 1002314154,
 1002314155,
 1002314156,
 1002314157,
 1002314158,
 1002314127,
 1002314128,
 1002314129,
 1002314130,
 1002314131,
 1002314132,
 1002314133,
 1002314134,
 1002314135,
 1002314136,
 998752344,
 998752345,
 998752346,
 998752347,
 998752348,
 998752349,
 998752350,
 998752351,
 998752352,
 998752353,
 998752354,
 1001129365,
 1001129366,
 1001129367,
 1001129368,
 1001129369,
 1001129370,
 1001129371,
 1001129372,
 1001129373,
 1001129374,
 1001129375,
 1001129376,
 1001204413,
 1001204414,
 1001204415,
 1001204416,
 1001204417,
 1001204418,
 1001204419,
 1001204420,
 1001204421,
 1001204422,
 1001204423,
 1001204424,
 1001127398,
 1001127399,
 1001127400,
 1001127401,
 1001127402,
 1001127403,
 1001127404,
 1001127405,
 1001127406,
 1001127407,
 1002167394,
 1002167395,
 1002167397,
 1002167399,
 1002167401,
 1002167403,
 1002167405,
 1002167407,
 1002167409,
 1002167411,
 998755259,
 998755260,
 998755261,
 998755262,
 998755263,
 998755264,
 998755265,
 998755266,
 998755267,
 998755268,
 1001631271,
 1001631272,
 1001631270,
 1001631268,
 1001631275,
 1001631274,
 1001631264,
 1001631273,
 1001631269,
 1001631265,
 1001631266,
 1001631267,
 1001631284,
 1001631285,
 1001631283,
 1001631282,
 1001631278,
 1001631279,
 1001631276,
 1001631281,
 1001631286,
 1001631280,
 1001631277,
 1001687382,
 1001687386,
 1001687379,
 1001687376,
 1001687385,
 1001687383,
 1001687384,
 1001687387,
 1001687380,
 1001687381,
 1001687377,
 1001687378,
 1001659822,
 1001659821,
 1001659831,
 1001659828,
 1001659830,
 1001659823,
 1001659824,
 1001659829,
 1001659827,
 1001659826,
 1001659825,
 1001687395,
 1001129274,
 1001687394,
 1001687391,
 1001687397,
 1001687389,
 1001687398,
 1001687388,
 1001687396,
 1001687390,
 1001687392,
 1001687393,
 1002015532,
 998752307,
 1002015537,
 1002015531,
 1002015540,
 1002015539,
 1002015535,
 1002015538,
 1002015533,
 1002015534,
 1002015536,
 1001996003,
 1001996000,
 1001996001,
 1001995998,
 1001996002,
 1001995993,
 1001995994,
 1001995992,
 1001995999,
 1001995996,
 1001995997,
 1001995995,
 1001983470,
 1001983469,
 1001983467,
 1001983468,
 1001983472,
 1001983477,
 1001983478,
 1001983476,
 1001983471,
 1001983473,
 1001983474,
 1001983475,
 1002352704,
 1002352708,
 1002352707,
 1002352712,
 1002352711,
 998764350,
 1002352709,
 1002352713,
 1002352714,
 1002352710,
 1002352705,
 1002352706,
 1002273551,
 1002273556,
 1002273548,
 1002273547,
 1002273546,
 1002273554,
 1002273553,
 1002273552,
 1002273557,
 1002273550,
 1002273549,
 1002273555,
 1002041583,
 1002041584,
 1002041585,
 1002041589,
 998752355,
 998755269,
 1002041586,
 1002041592,
 1002041591,
 1002041590,
 1002041587,
 1002041588,
 1002240480,
 1002240481,
 1002240482,
 1002240483,
 1002240484,
 1002240485,
 1002240486,
 1002240487,
 1002240488,
 1002355210,
 1002355209,
 998764289,
 1002355213,
 1002355212,
 1002355216,
 1002355217,
 1002355211,
 1001204412,
 998752308,
 1002355214,
 1002355215,
 1002339186,
 1002339187,
 1002339178,
 1002339177,
 1002339185,
 1002339183,
 1002339184,
 1002339182,
 1002339181,
 1002339180,
 1002339179,
 1002339188,
 998755247,
 998755248,
 998755249,
 998755250,
 998755251,
 998755252,
 998755253,
 998755254,
 998755255,
 998755256,
 998755257,
 998755258,
 998764348,
 998764349,
 1001127316,
 1001127317,
 1001127318,
 1001127319,
 1001127320,
 1001127321,
 1001127322,
 1001127323,
 1001127324,
 1001127325,
 1001127326,
 1001127327,
 1001204439,
 1001204440,
 1001204441,
 1001204442,
 1001204443,
 1001204444,
 1001204445,
 1001204446,
 1001204447,
 1001204448,
 1001129377,
 1001129378,
 1001129379,
 1001129381,
 1001129385,
 1001129388,
 1001129390,
 1001129393,
 1001129395,
 1001129398,
 1001129399,
 1001129400]

In [5]:
len(race_ids)

514

In [16]:
race_ids = pd.read_csv('api_files/missing.csv')['missed']
missed_run=True
race_ids

0       990395989
1       990395990
2       990395991
3       990395992
4       990395993
          ...
474    1002041592
475    1002041591
476    1002041590
477     998764348
478     998764349
Name: missed, Length: 479, dtype: int64

In [17]:
big = ''
start = time.time()
first=0
headers={'X-API-Key':key}
missed=[]



for i in range(first,len(race_ids)):
    rID = race_ids[i]
    url = f'https://topaz.grv.org.au/api/race/{rID}/result'
    try:
        race = requests.get(url.format(rID),headers=headers).json()
    except JSONDecodeError as e:
        race={'error':1,'message':'empty json'}
    
    if('error' in race and 'message' in race):
        print(rID,race['message'])
        missed.append(rID)
    else:
        splits = race['splitTimes']
        
        
        summary = pd.DataFrame(race['runs'])

        cols=['track','distance','raceId','weightInKg','meetingDate','dogName','resultTime','bestFinishTrackAndDistance', 'pir','incomingGrade', 'outgoingGrade', 'rating','resultMarginLengths', 'startPaceCode', 'jumpCode',
           'startPrice','boxNumber']
        summary=summary[cols]
        summary['Plc'] = summary['resultTime'].rank(method='min')

        if(splits!=[]):
            splits = pd.DataFrame(splits)
            splits = splits[['dogName','splitTimeMarker','time']]

            markers = max(splits['splitTimeMarker'])
            for marker in range(1,markers+1):
                split2 = splits[splits['splitTimeMarker']==marker]
                split2=split2.rename(columns={'time':'split_'+str(marker)})[['dogName','split_'+str(marker)]]
                summary = pd.merge(summary,split2,on='dogName',how='outer')


        if(type(big)==str):
            big = summary
        else:
            big = pd.concat([big,summary])

            



end = time.time()
taken = end-start
print('time for',len(race_ids),':',round(taken,3),'avg:',round(taken/len(race_ids),2))

990395989 empty json
990395990 empty json
990395991 empty json
990395992 empty json
990395993 empty json
990395994 empty json
990395995 empty json
990395996 empty json
990395997 empty json
990395998 empty json
990395999 empty json
990376520 empty json
990376521 empty json
990376522 empty json
990376523 empty json
990376524 empty json
990376525 empty json
990376526 empty json
990376527 empty json
990376528 empty json
990376529 empty json
990376530 empty json
990376531 empty json
990376739 empty json
990376740 empty json
990376741 empty json
990376742 empty json
990376743 empty json
990376744 empty json
990376745 empty json
990376746 empty json
990376747 empty json
990376748 empty json
990376749 empty json
990376750 empty json
995539127 empty json
995539128 empty json
995539129 empty json
995539130 empty json
995539131 empty json
995539132 empty json
995539133 empty json
995539134 Race does not yet have results.
995539135 Race does not yet have results.
996378498 Race does not yet have results.
996378499 Race does not yet have results.
996378500 Race does not yet have results.
996378501 Race does not yet have results.
996378502 Race does not yet have results.
996378503 Race does not yet have results.
996378504 Race does not yet have results.
996378505 Race does not yet have results.
996378506 Race does not yet have results.
996378507 Race does not yet have results.
996378508 Race does not yet have results.
996378509 Race does not yet have results.
996378420 Race does not yet have results.
996378422 Race does not yet have results.
996378424 Race does not yet have results.
996378426 Race does not yet have results.
996378428 Race does not yet have results.
996378430 Race does not yet have results.
996378432 Race does not yet have results.
996378434 Race does not yet have results.
996378436 Race does not yet have results.
996378438 Race does not yet have results.
996378439 Race does not yet have results.
996378440 Race does not yet have results.
998752203 empty json
998752204 empty json
998752205 empty json
998752206 empty json
998752207 empty json
998752208 empty json
998755183 empty json
998755184 empty json
998755185 empty json
998755188 empty json
998755190 empty json
998755192 empty json
998755193 empty json
998755195 empty json
998755198 empty json
998755200 empty json
998752233 empty json
998752234 empty json
998752235 empty json
998752236 empty json
998752237 empty json
998752238 empty json
998752239 empty json
998752240 empty json
998752241 empty json
998752242 empty json
998752243 empty json
998755234 empty json
998755235 empty json
998755236 empty json
998755237 empty json
998755238 empty json
998755239 empty json
998755240 empty json
998755241 empty json
998755242 empty json
998764324 empty json
998764325 empty json
998764326 empty json
998764327 empty json
998764328 empty json
998764329 empty json
998764330 empty json
998764331 empty json
998764332 empty json
998764333 empty json
998764334 empty json
998764335 empty json
998764336 empty json
998764337 empty json
998764338 empty json
998764339 empty json
998764340 empty json
998764341 empty json
998764342 empty json
998764343 empty json
998764344 empty json
998764345 empty json
998764346 empty json
998764347 empty json
998764206 empty json
998764207 empty json
998764210 empty json
998764212 empty json
998764214 empty json
998764216 empty json
1000823660 empty json
1000823658 empty json
1000823652 empty json
1000823661 empty json
1000823662 empty json
1000823653 empty json
1000823657 empty json
1000823656 empty json
1000823654 empty json
1000823655 empty json
1000576165 empty json
1000576168 empty json
998752302 empty json
998752303 empty json
998752304 empty json
998752305 empty json
998752306 empty json
998755243 empty json
998755244 empty json
998755245 empty json
998755246 empty json
998752277 empty json
998752278 empty json
998752279 empty json
998752280 empty json
998752281 empty json
998752282 empty json
998752284 empty json
998752289 empty json
998752292 empty json
1001129333 empty json
1001129334 empty json
1001129335 empty json
1001129336 empty json
1001129337 empty json
1001129338 empty json
1001129339 empty json
1001129340 empty json
1001129341 empty json
1001129342 empty json
1001204427 empty json
1001204428 empty json
1001204429 empty json
1001204430 empty json
1001204431 empty json
1001204432 empty json
1001204433 empty json
1001204434 empty json
1001204435 empty json
1001204436 empty json
1001204437 empty json
1001204438 empty json
1001127352 empty json
1001127353 empty json
1001127354 empty json
1001127355 empty json
1001127356 empty json
1001127357 empty json
1001127358 empty json
1001127359 empty json
1001127360 empty json
1001127361 empty json
1001127362 empty json
1002167360 empty json
1002167361 empty json
1002167362 empty json
1002167363 empty json
1002167364 empty json
1002167365 empty json
1002167366 empty json
1002167367 empty json
1002167368 empty json
1002167369 empty json
1002167370 empty json
1002167371 empty json
1002276051 empty json
1002276052 empty json
1002276053 empty json
1002276054 empty json
1002276055 empty json
1002276056 empty json
1002276057 empty json
1002276058 empty json
1002276059 empty json
1002276060 empty json
1002276061 empty json
1002276062 empty json
1002314137 empty json
1002314138 empty json
1002314139 empty json
1002314140 empty json
1002314141 empty json
1002314142 empty json
1002314143 empty json
1002314144 empty json
1002314145 empty json
1002314146 empty json
998752332 empty json
998752333 empty json
998752334 empty json
998752335 empty json
998752336 empty json
998752337 empty json
998752338 empty json
998752339 empty json
998752340 empty json
998752341 empty json
998752342 empty json
998752343 empty json
1001127292 empty json
1001127293 empty json
1001127294 empty json
1001127295 empty json
1001127296 empty json
1001127297 empty json
1001127298 empty json
1001127299 empty json
1001127300 empty json
1001127301 empty json
1001127302 empty json
1001127303 empty json
1001127386 empty json
1001127387 empty json
1001127388 empty json
1001127389 empty json
1001127390 empty json
1001127391 empty json
1001127392 empty json
1001127393 empty json
1001127394 empty json
1001127395 empty json
1001127396 empty json
1001127397 empty json
1001129299 empty json
1001129301 empty json
1001129303 empty json
1001129306 empty json
1001129308 empty json
1001129310 empty json
998755266 empty json
998755267 empty json
998755268 empty json
1001631271 empty json
1001631272 empty json
1001631270 empty json
1001631268 empty json
1001631275 empty json
1001631274 empty json
1001631264 empty json
1001631273 empty json
1001631269 empty json
1001631265 empty json
1001631266 empty json
1001631267 empty json
1001631284 empty json
1001631285 empty json
1001631283 empty json
1001631282 empty json
1001631278 empty json
1001631279 empty json
1001631276 empty json
1001631281 empty json
1001631286 empty json
1001631280 empty json
1001631277 empty json
1001687382 empty json
1001687386 empty json
1001687379 empty json
1001687376 empty json
1001687385 empty json
1001687383 empty json
1001687384 empty json
1001687387 empty json
1001687380 empty json
1001687381 empty json
1001687377 empty json
1001687378 empty json
1001659822 empty json
1001659821 empty json
1001659831 empty json
1001659828 empty json
1001659830 empty json
1001659823 empty json
1001659824 empty json
1001659829 empty json
1001659827 empty json
1001659826 empty json
1001659825 empty json
1001687395 empty json
1001129274 empty json
1001687394 empty json
1001687391 empty json
1001687397 empty json
1001687389 empty json
1001687398 empty json
1001687388 empty json
1001687396 empty json
998764348 Race does not yet have results.
998764349 Race does not yet have results.
time for 479 : 85.835 avg: 0.18

In [18]:
big

,track,distance,raceId,weightInKg,meetingDate,dogName,resultTime,bestFinishTrackAndDistance,pir,incomingGrade,...,rating,resultMarginLengths,startPaceCode,jumpCode,startPrice,boxNumber,Plc,split_1,split_2,split_3
0,Albion Park,600,998752117,NaN,2024-02-22T00:00:00.000Z,CARAMEL QUEEN,NaN,35.770,None,5,...,92,None,None,None,1.00,NaN,NaN,NaN,NaN,NaN
1,Albion Park,600,998752117,29.6,2024-02-22T00:00:00.000Z,PURSUER,34.850,34.850,22,5,...,90,1.00L,None,None,2.30,1.0,1.0,9.7800,21.83,NaN
2,Albion Park,600,998752117,34.3,2024-02-22T00:00:00.000Z,TINY ENCOUNTER,35.060,34.870,33,5,...,90,3.25L,None,None,19.00,2.0,3.0,9.9000,22.02,NaN
3,Albion Park,600,998752117,29.8,2024-02-22T00:00:00.000Z,BOOK OF LOVE,35.130,34.920,44,5,...,88,4.25L,None,None,13.00,5.0,4.0,9.9700,22.19,NaN
4,Albion Park,600,998752117,24.6,2024-02-22T00:00:00.000Z,SEVEN SINNERS,34.890,34.890,11,5,...,100,1.00L,None,None,1.85,7.0,2.0,9.7300,21.74,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Bendigo,425,1002041590,29.2,2024-03-01T00:00:00.000Z,ASTON MONARCHY,24.141,24.141,122,7,...,87,5.50L,None,Medium,28.60,6.0,2.0,6.5000,NaN,NaN
6,Bendigo,425,1002041590,29.9,2024-03-01T00:00:00.000Z,HUSTLE NINA,24.473,24.106,774,6,...,89,10.50L,None,Medium,52.60,7.0,4.0,6.7590,NaN,NaN
7,Bendigo,425,1002041590,37.5,2024-03-01T00:00:00.000Z,FRANK GRIMES,24.909,23.991,656,6,...,92,17.00L,None,Medium,15.70,8.0,5.0,6.7415,NaN,NaN
8,Bendigo,425,1002041590,NaN,2024-03-01T00:00:00.000Z,TWILIGHT STYLE,NaN,24.355,None,6,...,90,None,None,None,0.00,NaN,NaN,NaN,NaN,NaN
9,Bendigo,425,1002041590,26.9,2024-03-01T00:00:00.000Z,ASTON APATITE,25.196,25.196,567,7,...,91,21.25L,None,Medium,23.70,4.0,7.0,6.7345,NaN,NaN

In [19]:
big1 = big.copy()
big1['Track']=big1['track'].str.lower()
big1['dogName']=big1['dogName'].str.lower()

to_rename={
    'Plc':'Place',
    'dogName':'DogName',
    'boxNumber':'Box',
    'resultTime':'RunTime',
    'weightInKg':'Weight',
    'startPrice':'StartPrice',
    'pir':'PIR',
    'distance':'Distance',
    'raceId':'RaceId',
    'incomingGrade':'RaceGrade',
    'meetingDate':'date',
    'split_1':'Split'
}

big1=big1.rename(columns=to_rename)
big1 = big1[['Place','DogName','Box','Weight','StartPrice','PIR','Split','RunTime','RaceId','Distance','RaceGrade','Track','date']]
big1['TrainerLName']='poo'
big1['TrainerFName']='poo'

big1['date']=big1['date'].astype(str).str.split('T').str[0]
big1['date']=pd.to_datetime(big1['date'])


import os
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
m=0
print(files)
for file in files:
    num = file.split('_')[1].split('.')[0]
    num=int(num)
    if(num>m):
        m=num
print(m)

big1.to_csv('api_files/api_'+str(m+1)+'.csv',index=False)
big1

['api_8.csv', 'api_9.csv', 'api_17.csv', 'api_16.csv', 'api_14.csv', 'api_28.csv', 'api_29.csv', 'api_15.csv', 'api_11.csv', 'api_10.csv', 'api_12.csv', 'api_13.csv', 'api_22.csv', 'api_23.csv', 'api_21.csv', 'api_20.csv', 'api_18.csv', 'api_24.csv', 'api_30.csv', 'api_25.csv', 'api_19.csv', 'api_27.csv', 'api_26.csv', 'api_7.csv', 'api_6.csv', 'api_4.csv', 'api_5.csv', 'api_1.csv', 'api_2.csv', 'api_3.csv']
30

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,NaN,caramel queen,NaN,NaN,1.00,None,NaN,NaN,998752117,600,5,albion park,2024-02-22,poo,poo
1,1.0,pursuer,1.0,29.6,2.30,22,9.7800,34.850,998752117,600,5,albion park,2024-02-22,poo,poo
2,3.0,tiny encounter,2.0,34.3,19.00,33,9.9000,35.060,998752117,600,5,albion park,2024-02-22,poo,poo
3,4.0,book of love,5.0,29.8,13.00,44,9.9700,35.130,998752117,600,5,albion park,2024-02-22,poo,poo
4,2.0,seven sinners,7.0,24.6,1.85,11,9.7300,34.890,998752117,600,5,albion park,2024-02-22,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2.0,aston monarchy,6.0,29.2,28.60,122,6.5000,24.141,1002041590,425,7,bendigo,2024-03-01,poo,poo
6,4.0,hustle nina,7.0,29.9,52.60,774,6.7590,24.473,1002041590,425,6,bendigo,2024-03-01,poo,poo
7,5.0,frank grimes,8.0,37.5,15.70,656,6.7415,24.909,1002041590,425,6,bendigo,2024-03-01,poo,poo
8,NaN,twilight style,NaN,NaN,0.00,None,NaN,NaN,1002041590,425,6,bendigo,2024-03-01,poo,poo
9,7.0,aston apatite,4.0,26.9,23.70,567,6.7345,25.196,1002041590,425,7,bendigo,2024-03-01,poo,poo

In [20]:
if(missed_run==False):
    missing  = pd.read_csv('api_files/missing.csv')[['missed']]
    missing2 = pd.DataFrame(missed,columns=['missed'])
    missing3 = pd.concat([missing,missing2])
    missing4 = missing3['missed'].unique()
    missing5 = pd.DataFrame(missing4,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
else:
    missing5 = pd.DataFrame(missed,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
    
missing5

         missed
0     990395989
1     990395990
2     990395991
3     990395992
4     990395993
..          ...
328  1001687398
329  1001687388
330  1001687396
331   998764348
332   998764349

[333 rows x 1 columns]

In [21]:
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
files.sort()
files
merged = pd.read_csv('api_files/'+files[0])
for file in files[1:]:
    merged=pd.concat([merged,pd.read_csv('api_files/'+file)])

merged=merged.sort_values(by='date')
merged['Track']=np.where(merged['Track'].str.contains('dport @'),'hobart',merged['Track'])
merged

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,6.0,chick magnet,1.0,30.5,5.5,566.0,NaN,19.700,990412069,336,5,muswellbrook,2024-01-28,poo,poo
1331,1.0,monkey's style,7.0,34.5,4.9,111.0,5.1800,24.282,992122290,435,5,sale,2024-01-28,poo,poo
1330,3.0,rumour confirmed,6.0,31.9,38.7,743.0,5.4425,24.537,992122290,435,5,sale,2024-01-28,poo,poo
1329,8.0,crew,5.0,34.5,57.1,678.0,5.4075,25.242,992122290,435,5,sale,2024-01-28,poo,poo
1328,7.0,persuasion,4.0,27.1,20.2,887.0,5.4775,25.181,992122290,435,5,sale,2024-01-28,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,3.0,hard maintenance,2.0,25.6,17.5,3333.0,5.5300,30.320,1001129393,520,6,cannington,2024-03-02,poo,poo
2225,1.0,canya cracken,1.0,32.2,3.3,1111.0,5.4500,29.830,1001129393,520,5,cannington,2024-03-02,poo,poo
2224,NaN,pingelly prince,NaN,NaN,1.0,NaN,NaN,NaN,1001129393,520,7,cannington,2024-03-02,poo,poo
2237,6.0,bee queen,6.0,28.8,39.5,33346.0,9.9000,35.900,1001129395,600,5,cannington,2024-03-02,poo,poo
1688,8.0,aston mead,2.0,38.6,57.8,7446.0,9.2850,35.330,998764289,600,5,the meadows,2024-03-02,poo,poo

In [22]:
a = pd.read_csv('../allRaces2.csv')
b = merged.copy()
c = pd.concat([a,b])
#c = c.drop(columns=['Unnamed: 0.1'])
c = c.drop_duplicates(keep='first')

c['Track']=np.where(c['Track'].str.contains('murray'),'murray bridge',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])



c.to_csv('../allRaces1.csv',index=False)
c

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_53068/2967691039.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_53068/2967691039.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_53068/2967691039.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,raine allen,1.0,27.4,2.4,111,6.680,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2.0,surf a lot,2.0,32.8,6.3,332,7.010,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3.0,pingin' bee,6.0,25.5,9.3,443,7.240,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4.0,lucas the great,7.0,32.2,9.1,655,7.310,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5.0,quavo,4.0,28.9,3.4,766,7.380,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,3.0,hard maintenance,2.0,25.6,17.5,3333.0,5.530,30.32,1001129393,520,6,cannington,2024-03-02,poo,poo
2225,1.0,canya cracken,1.0,32.2,3.3,1111.0,5.450,29.83,1001129393,520,5,cannington,2024-03-02,poo,poo
2224,NaN,pingelly prince,NaN,NaN,1.0,NaN,NaN,NaN,1001129393,520,7,cannington,2024-03-02,poo,poo
2237,6.0,bee queen,6.0,28.8,39.5,33346.0,9.900,35.90,1001129395,600,5,cannington,2024-03-02,poo,poo
1688,8.0,aston mead,2.0,38.6,57.8,7446.0,9.285,35.33,998764289,600,5,the meadows,2024-03-02,poo,poo

In [23]:
tks = c['Track'].unique()
tks.sort()
tks

array(['addington', 'albion park', 'angle park', 'armidale', 'ascot park',
       'ballarat', 'bathurst', 'bendigo', 'broken hill', 'bulli',
       'bundaberg', 'cairns', 'cambridge', 'canberra', 'cannington',
       'capalaba', 'casino', 'central park', 'clonmel', 'coonabarabran',
       'coonamble', 'cowra', 'cranbourne', 'crayford', 'curraheen park',
       'dapto', 'darwin', 'devonport', 'doncaster', 'drumbo park',
       'dubbo', 'dundalk', 'enniscorthy', 'galway', 'gawler', 'geelong',
       'gosford', 'goulburn', 'grafton', 'gunnedah', 'harlow', 'hatrick',
       'healesville', 'henlow', 'hobart', 'horsham', 'hove', 'ipswich',
       'kempsey', 'kilkenny', 'kinsley', 'launceston', 'lifford',
       'limerick', 'lismore', 'lithgow', 'maitland', 'manawatu',
       'mandurah', 'manukau', 'monmore', 'moree', 'mount gambier',
       'mudgee', 'mullingar', 'murray bridge', 'muswellbrook',
       'newbridge', 'newcastle', 'northam', 'nottingham', 'nowra',
       'oxford', 'pelaw grange', 'perry barr', 'port augusta',
       'potts park', 'richmond', 'richmond straight', 'rockhampton',
       'romford', 'sale', 'sandown park', 'sheffield', 'shelbourne park',
       'shepparton', 'strathalbyn', 'suffolk downs', 'sunderland',
       'swindon', 'tamworth', 'taree', 'temora', 'the gardens',
       'the meadows', 'the valley', 'thurles park', 'towcester',
       'townsville', 'tralee', 'traralgon', 'wagga', 'warragul',
       'warrnambool', 'waterford', 'wauchope', 'wentworth park',
       'yarmouth', 'youghal', 'young'], dtype=object)

In [24]:
## still missing 
for rID in missing5['missed']:
    url = f'https://topaz.grv.org.au/api/race/{rID}/runs'
    try:
        race = requests.get(url.format(rID),headers=headers).json()[0]
        print(race['track'],race['meetingDate'],race['distance'])
    except JSONDecodeError as e:
        print(rID,'fucked')
        
# race

Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 498
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
990376742 fucked
990376743 fucked
990376744 fucked
990376745 fucked
990376746 fucked
990376747 fucked
990376748 fucked
990376749 fucked
990376750 fucked
995539127 fucked
995539128 fucked
995539129 fucked
995539130 fucked
995539131 fucked
995539132 fucked
995539133 fucked
995539134 fucked
995539135 fucked
996378498 fucked
996378499 fucked
996378500 fucked
996378501 fucked
996378502 fucked
996378503 fucked
996378504 fucked
996378505 fucked
996378506 fucked
996378507 fucked
996378508 fucked
996378509 fucked
996378420 fucked
996378422 fucked
996378424 fucked
996378426 fucked
996378428 fucked
996378430 fucked
996378432 fucked
996378434 fucked
996378436 fucked
996378438 fucked
996378439 fucked
996378440 fucked
998752203 fucked
998752204 fucked
998752205 fucked
998752206 fucked
998752207 fucked
998752208 fucked
998755183 fucked
998755184 fucked
998755185 fucked
998755188 fucked
998755190 fucked
998755192 fucked
998755193 fucked
998755195 fucked
998755198 fucked
998755200 fucked
998752233 fucked
998752234 fucked
998752235 fucked
998752236 fucked
998752237 fucked
998752238 fucked
998752239 fucked
998752240 fucked
998752241 fucked
998752242 fucked
998752243 fucked
998755234 fucked
998755235 fucked
998755236 fucked
998755237 fucked
998755238 fucked
998755239 fucked
998755240 fucked
998755241 fucked
998755242 fucked
998764324 fucked
998764325 fucked
998764326 fucked
998764327 fucked
998764328 fucked
998764329 fucked
998764330 fucked
998764331 fucked
998764332 fucked
998764333 fucked
998764334 fucked
998764335 fucked
998764336 fucked
998764337 fucked
998764338 fucked
998764339 fucked
998764340 fucked
998764341 fucked
998764342 fucked
998764343 fucked
998764344 fucked
998764345 fucked
998764346 fucked
998764347 fucked
998764206 fucked
998764207 fucked
998764210 fucked
998764212 fucked
998764214 fucked
998764216 fucked
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 450
Warrnambool 2024-02-26T00:00:00.000Z 450
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Ballarat 2024-02-26T00:00:00.000Z 390
Ballarat 2024-02-26T00:00:00.000Z 450
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Mandurah 2024-02-27T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 537
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 537
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 312
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 300
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 300
Casino 2024-03-01T00:00:00.000Z 300
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 401
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 722
Richmond 2024-03-01T00:00:00.000Z 622
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 622
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
The Gardens 2024-03-02T00:00:00.000Z 272
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 272
The Gardens 2024-03-02T00:00:00.000Z 272
Dubbo 2024-03-02T00:00:00.000Z 516
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 605
Dubbo 2024-03-02T00:00:00.000Z 400
Dubbo 2024-03-02T00:00:00.000Z 400
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 510
998752335 fucked
998752336 fucked
998752337 fucked
998752338 fucked
998752339 fucked
998752340 fucked
998752341 fucked
998752342 fucked
998752343 fucked
1001127292 fucked
1001127293 fucked
1001127294 fucked
1001127295 fucked
1001127296 fucked
1001127297 fucked
1001127298 fucked
1001127299 fucked
1001127300 fucked
1001127301 fucked
1001127302 fucked
1001127303 fucked
1001127386 fucked
1001127387 fucked
1001127388 fucked
1001127389 fucked
1001127390 fucked
1001127391 fucked
1001127392 fucked
1001127393 fucked
1001127394 fucked
1001127395 fucked
1001127396 fucked
1001127397 fucked
1001129299 fucked
1001129301 fucked
1001129303 fucked
1001129306 fucked
1001129308 fucked
1001129310 fucked
998755266 fucked
998755267 fucked
998755268 fucked
1001631271 fucked
1001631272 fucked
1001631270 fucked
1001631268 fucked
1001631275 fucked
1001631274 fucked
1001631264 fucked
1001631273 fucked
1001631269 fucked
1001631265 fucked
1001631266 fucked
1001631267 fucked
1001631284 fucked
1001631285 fucked
1001631283 fucked
1001631282 fucked
1001631278 fucked
1001631279 fucked
1001631276 fucked
1001631281 fucked
1001631286 fucked
1001631280 fucked
1001631277 fucked
1001687382 fucked
1001687386 fucked
1001687379 fucked
1001687376 fucked
1001687385 fucked
1001687383 fucked
1001687384 fucked
1001687387 fucked
1001687380 fucked
1001687381 fucked
1001687377 fucked
1001687378 fucked
1001659822 fucked
1001659821 fucked
1001659831 fucked
1001659828 fucked
1001659830 fucked

1001659823 fucked
1001659824 fucked
1001659829 fucked
1001659827 fucked
1001659826 fucked
1001659825 fucked
1001687395 fucked
1001129274 fucked
1001687394 fucked
1001687391 fucked
1001687397 fucked
1001687389 fucked
1001687398 fucked
1001687388 fucked
1001687396 fucked
998764348 fucked
998764349 fucked

In [25]:
big1

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,NaN,caramel queen,NaN,NaN,1.00,None,NaN,NaN,998752117,600,5,albion park,2024-02-22,poo,poo
1,1.0,pursuer,1.0,29.6,2.30,22,9.7800,34.850,998752117,600,5,albion park,2024-02-22,poo,poo
2,3.0,tiny encounter,2.0,34.3,19.00,33,9.9000,35.060,998752117,600,5,albion park,2024-02-22,poo,poo
3,4.0,book of love,5.0,29.8,13.00,44,9.9700,35.130,998752117,600,5,albion park,2024-02-22,poo,poo
4,2.0,seven sinners,7.0,24.6,1.85,11,9.7300,34.890,998752117,600,5,albion park,2024-02-22,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2.0,aston monarchy,6.0,29.2,28.60,122,6.5000,24.141,1002041590,425,7,bendigo,2024-03-01,poo,poo
6,4.0,hustle nina,7.0,29.9,52.60,774,6.7590,24.473,1002041590,425,6,bendigo,2024-03-01,poo,poo
7,5.0,frank grimes,8.0,37.5,15.70,656,6.7415,24.909,1002041590,425,6,bendigo,2024-03-01,poo,poo
8,NaN,twilight style,NaN,NaN,0.00,None,NaN,NaN,1002041590,425,6,bendigo,2024-03-01,poo,poo
9,7.0,aston apatite,4.0,26.9,23.70,567,6.7345,25.196,1002041590,425,7,bendigo,2024-03-01,poo,poo