In [3]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt

In [4]:
races = pd.read_csv('allRaces1.csv', index_col=False)

races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919051,5,senans joy,6,27.3,0.0,nan,NaN,18.43,61883,297,ON2,lifford,2023-11-27,W Mullan
1919052,6,ross sky,1,25.9,0.0,nan,NaN,18.55,61883,297,ON2,lifford,2023-11-27,E Devlin
1919053,1,trewmount sparow,1,34.5,0.0,1111,2.79,29.35,61884,480,OR,lifford,2023-11-27,M Watson
1919054,3,fridays always,5,28.2,0.0,3333,2.98,30.45,61884,480,OR,lifford,2023-11-27,P Whyte
1919055,4,cluain tommy,5,31.8,0.0,4-4-,4.53,18.03,61885,297,S3,lifford,2023-11-27,C Cosy-Bar-Syndicate

In [ ]:
tracks = ['albion park']

for trk in tracks:
    cas = pd.read_csv('class/'+trk+'.csv')
    
    dogs_done = set()
    dog_races = {}

    for i in range(1,cas.shape[0]):
        index = cas.shape[0]-i
        name = cas.iloc[index,1]
        if(name not in dogs_done):
            dog_past_race = races[races['DogName']==name]
            dog_races[name]=dog_past_race
            dogs_done.add(name)

        if(i%1000==0):
            print(i)

In [ ]:

    
    for i in range(0,cas.shape[0]):
        row = cas.iloc[i,]

        df = dog_races[name]
        df = df[df['date']<date]
        df=df.sort_values(by='date')

        trainer = trainer_races[row['TrainerName']]
    #     trainer = trainer[trainer['Track']==trk]
        trainer = trainer[trainer['date']<date]

        if(df.shape[0]<5):
            pass
        else: