In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('bsp_allRaces.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_31987/129307746.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  races = pd.read_csv('bsp_allRaces.csv', index_col=False)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
MENU_HINT        object
BSP             float64
MORNINGWAP      float64
PPTRADEDVOL     float64
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,2.485728,2.402235,0.0,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,10.000000,8.224462,0.0,C Tyley
2,3,pingin bee,6,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,12.362569,8.322981,0.0,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,8.013214,5.076427,0.0,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,3.820639,2.578982,0.0,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736152,1,rockstar sue,3,27.9,3.2,31.0,8.72,21.05,996299913,365,5,nowra,2024-02-19,NaN,NaN,NaN,NaN,poo poo
1736153,2,angry firestorm,2,31.4,3.8,22.0,8.69,21.10,996299913,365,5,nowra,2024-02-19,NaN,NaN,NaN,NaN,poo poo
1736154,8,boy serious,8,31.6,51.0,88.0,9.30,21.81,996299912,365,Maiden,nowra,2024-02-19,NaN,NaN,NaN,NaN,poo poo
1736155,1,ocean king,7,28.1,31.0,11.0,8.55,21.02,996299912,365,Maiden,nowra,2024-02-19,NaN,NaN,NaN,NaN,poo poo
1736156,7,miss narla,4,23.7,21.0,77.0,9.08,21.53,996299914,365,7,nowra,2024-02-19,NaN,NaN,NaN,NaN,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

for x in list(races['Track'].unique()):
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])

bendigo
500 15259
425 38398
660 908
sandown park
515 35041
595 8274
715 2328
sale
440 24004
520 5350
650 800
510 611
435 2380
640 110
albion park
331 25320
395 25494
520 31730
600 4389
710 1820
mount gambier
512 10991
400 21958
600 1662
732 316
277 88
305 2183
angle park
388 9619
515 15571
600 2256
731 849
342 9869
530 10955
730 827
595 1566
shepparton
390 9889
450 22625
650 877
385 22937
traralgon
315 946
395 10772
525 737
665 7
595 46
500 1745
350 6592
450 4010
ballarat
450 24994
545 5004
390 28714
660 741
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13792
630 410
520 4497
722 28
launceston
515 10434
278 11767
600 624
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10337
450 5215
660 173
northam
297 6844
509 3565
588 156
721 15
warragul
460 24209
400 37377
680 511
horsham
410 20835
485 7648
geelong
460 19739
400 31673
520 1403
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30178
520 26570
275 19940
600 3648
715 1867
maitland
400 12074
450 5864
565 1003
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42151
520 16595
630 2012
732 105
288 17617
cranbourne
520 7244
311 20426
699 290
the meadows
525 38278
600 8355
725 1077
730 643
darwin
312 12856
383 8441
537 2424
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8270
320 10625
520 3943
622 841
722 24
wentworth park
520 34410
720 2483
280 2557
rockhampton
407 19619
510 3076
hobart
340 7725
461 14780
599 632
278 46
515 28
casino
411 12792
620 392
484 4626
300 8685
goulburn
350 17032
440 10595
dapto
520 10024
600 1708
297 10288
729 53
healesville
300 31392
350 29105
strathalbyn
319 437
416 211
536 140
the gardens
515 13165
400 29658
600 2242
715 426
272 9151
wagga
400 5837
320 9865
525 2378
760 6
bulli
472 4771
400 10321
515 879
590 380
340 3304
bundaberg
460 13084
550 1748
531 437
315 569
taree
314 5566
392 4445
537 1309
gawler
400 32562
531 8941
643 1303
townsville
380 29166
498 7517
643 301
dubbo
318 11538
400 7371
516 2889
605 347
temora
330 8981
457 4369
570 364
mandurah
405 34886
490 13574
302 19010
647 307
300 1415
400 2170
488 782
652 112
capalaba
366 29600
warrnambool
390 23077
450 15850
650 483
gosford
388 14439
515 6585
603 1251
710 64
murray bridge
395 12068
455 6547
530 1359
300 9659
350 3151
390 6
680 452
gunnedah
340 11985
527 1385
431 4143

In [6]:
trk='bendigo'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())
cas

[425 500 660]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL,TrainerName
0,1,big flood,5,34.7,2.6,111,6.5200,23.640,335811293,425,S/E Heat,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,2.702306,2.571279,0.00,S Thompson
1,2,rock up top,4,32.3,8.1,322,6.6600,23.830,335811293,425,S/E Heat,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,12.180238,8.437657,0.00,R Britton
2,3,vanda mick,2,31.2,17.5,654,6.8000,23.900,335811293,425,S/E Heat,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,29.000000,20.514816,0.00,M Ellis
3,4,black mumbo,8,34.9,4.6,537,6.7700,23.980,335811293,425,S/E Heat,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,4.500000,3.846026,0.00,A Karabitsakos
4,5,fast car driving,6,29.9,4.3,876,6.8500,24.180,335811293,425,S/E Heat,bendigo,2018-07-01,AUS / Bend (AUS) 1st Jul,4.600000,4.369149,0.00,J Britton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,2,hustle hustle,6,34.8,6.7,111.0,6.5500,28.263,997789105,500,5,bendigo,2024-02-16,Bendigo (AUS) 16th Feb,6.850687,4.474000,1904.44,poo poo
46895,4,rock the marjen,5,34.3,16.3,656.0,6.7845,28.766,997789105,500,5,bendigo,2024-02-16,Bendigo (AUS) 16th Feb,16.275882,9.062600,666.14,poo poo
46896,5,aurelia,4,26.9,2.3,345.0,6.7075,28.785,997789105,500,5,bendigo,2024-02-16,Bendigo (AUS) 16th Feb,3.300000,2.731000,6290.63,poo poo
46897,3,greysynd shock,2,28.3,15.8,433.0,6.7250,28.499,997789105,500,5,bendigo,2024-02-16,Bendigo (AUS) 16th Feb,15.906108,10.467100,1164.95,poo poo
46898,7,alfie abalone,1,31.6,14.6,777.0,6.7915,28.955,997789105,500,5,bendigo,2024-02-16,Bendigo (AUS) 16th Feb,21.711514,8.934600,611.68,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000
2000
3000
4000
5000
6000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]


        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice','BSP','MORNINGWAP']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice','BSP','MORNINGWAP']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,BSP,MORNINGWAP,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,24.420,6.8000,4,2018-07-20,342160966,425,31.0,45.5,131.805878,55.396371,...,0,0,0,1,0,0,0,0,0,1
1,24.740,7.0100,3,2018-07-25,343205558,425,28.1,14.0,21.344491,10.160255,...,0,0,0,0,0,0,1,0,0,0
2,29.170,7.0700,5,2018-07-25,343205562,500,26.4,23.9,27.000000,15.566425,...,0,0,0,0,1,0,0,0,0,1
3,28.670,6.9700,3,2018-07-25,343205559,500,29.8,6.5,6.738162,5.729993,...,0,1,0,0,0,0,0,0,1,0
4,29.040,7.0100,7,2018-07-25,343205559,500,32.7,8.0,8.377814,8.100653,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40107,28.263,6.5500,2,2024-02-16,997789105,500,34.8,6.7,6.850687,4.474000,...,0,0,0,0,0,1,0,0,0,1
40108,28.766,6.7845,4,2024-02-16,997789105,500,34.3,16.3,16.275882,9.062600,...,0,0,0,0,1,0,0,0,0,1
40109,28.785,6.7075,5,2024-02-16,997789105,500,26.9,2.3,3.300000,2.731000,...,0,0,0,1,0,0,0,0,0,1
40110,28.499,6.7250,3,2024-02-16,997789105,500,28.3,15.8,15.906108,10.467100,...,0,1,0,0,0,0,0,0,1,0
40111,28.955,6.7915,7,2024-02-16,997789105,500,31.6,14.6,21.711514,8.934600,...,1,0,0,0,0,0,0,0,1,0

In [16]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [17]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()