In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
print(races.dtypes)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004703,6,ziva bale,3,25.7,0.0,2.0,3.93750,17.424,998047627,300,Maiden,healesville,2024-02-16,poo poo
2004704,4,dash about,4,25.9,0.0,1.0,3.92000,17.249,998047627,300,Maiden,healesville,2024-02-16,poo poo
2004705,1,glass flute,5,27.3,1.7,5.0,3.98125,17.102,998047627,300,Maiden,healesville,2024-02-16,poo poo
2004706,3,star's hope,8,26.6,7.8,56.0,8.63750,23.006,998047618,400,5,geelong,2024-02-16,poo poo
2004707,2,khan craig,8,27.3,11.2,222.0,6.65750,24.217,997789103,425,7,bendigo,2024-02-16,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

for x in list(races['Track'].unique()):
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])

bendigo
500 15259
425 38398
660 908
sandown park
515 34894
595 8243
715 2328
sale
440 24004
520 5350
650 800
510 587
435 2322
640 102
albion park
331 25229
395 25480
520 31632
600 4378
710 1806
mount gambier
512 10943
400 21825
600 1662
732 316
277 88
305 2171
angle park
388 9619
515 15502
600 2251
731 845
342 9742
530 10903
730 823
595 1544
shepparton
390 9850
450 22550
650 877
385 22887
traralgon
315 946
395 10772
525 737
665 7
595 46
500 1745
350 6592
450 4010
ballarat
450 24994
545 5004
390 28714
660 741
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13733
630 405
520 4485
722 28
launceston
515 10394
278 11735
600 618
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10276
450 5199
660 161
northam
297 6844
509 3565
588 156
721 15
warragul
460 24187
400 37333
680 511
horsham
410 20835
485 7648
geelong
460 19731
400 31650
520 1403
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30163
520 26526
275 19940
600 3631
715 1862
maitland
400 12074
450 5864
565 1003
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42120
520 16548
630 2004
732 105
288 17610
cranbourne
520 7244
311 20426
699 290
the meadows
525 38210
600 8347
725 1077
730 628
darwin
312 12828
383 8410
537 2420
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8183
320 10534
520 3943
622 841
722 24
wentworth park
520 34347
720 2475
280 2557
rockhampton
407 19619
510 3076
hobart
340 7650
461 14718
599 632
515 28
278 46
casino
411 12760
620 392
484 4614
300 8639
goulburn
350 17027
440 10588
dapto
520 9988
600 1700
297 10251
729 53
healesville
300 31344
350 29060
strathalbyn
319 437
416 211
536 140
the gardens
515 13141
400 29603
600 2235
715 426
272 9151
wagga
400 5837
320 9865
525 2378
760 6
bulli
472 4771
400 10321
515 879
590 380
340 3304
bundaberg
460 13046
550 1748
531 423
315 539
tamworth
457 310
340 2038
402 1327
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 32508
531 8923
643 1298
muswellbrook
328 1638
429 574
560 112
336 1690
431 597
571 61
townsville
380 29166
498 7517
643 301
dubbo
318 11457
400 7313
516 2876
605 341
wauchope
384 3560
457 984
temora
330 8981
457 4369
570 364
broken hill
375 4535
525 944
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3108
400 984
530 198
405 257
mandurah
405 34870
490 13566
302 18956
647 307
300 1383
400 2144
488 762
652 112
capalaba
366 29519
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2485
440 492
530 70
warrnambool
390 22982
450 15768
650 483
gosford
388 14439
515 6585
603 1251
710 64
murray bridge
395 12018
455 6533
530 1359
300 9659
350 3151
390 6
680 452
gunnedah
340 11935
527 1379
431 4130
richmond straight
324 11433
canberra
530 1
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
kinsley
462 5036
268 1837
844 6
650 6
nottingham
500 5686
480 431
680 94
305 211
730 43
255 24
oxford
450 5501
847 6
650 239
253 227
addington
295 4354
520 1221
645 120
732 30
doncaster
450 3470
275 1913
483 1289
661 45
enniscorthy
480 2988
526 40
549 42
503 6
320 6
swindon
476 5680
262 715
682 180
896 6
towcester
270 2392
500 3570
712 180
942 11
yarmouth
462 4643
659 181
277 119
youghal
480 4273
503 6
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4478
275 1762
660 57
710 61
suffolk downs
388 4536
548 440
220 193
716 10
hove
500 6694
285 1385
695 291
515 307
740 5
tralee
480 4281
297 752
503 128
521 151
457 101
686 22
crayford
380 6641
540 1663
714 227
874 21
central park
480 506
265 594
642 18
450 17
500 5
491 2000
277 1887
664 21
sunderland
450 5923
261 1342
640 137
newcastle
480 7828
640 150
290 57
kilkenny
480 3964
663 35
harlow
238 4566
415 4465
592 74
lifford
480 1621
297 1537
503 111
526 72
750 6
newbridge
503 214
480 1637
297 303
526 76
shelbourne park
526 367
480 3638
503 897
549 103
320 151
686 232
777 6
937 17
galway
480 2392
320 786
503 170
526 34
741 10
297 121
hatrick
520 707
305 1239
755 30
limerick
480 3749
320 109
526 98
503 492
686 130
549 171
mullingar
480 3817
366 169
320 85
549 12
503 17
waterford
480 4122
297 59
526 40
668 91
503 110
thurles park
480 1709
302 71
521 178
curraheen park
503 298
480 3128
686 151
302 494
526 118
dundalk
480 1633
366 1451
503 106
526 59
567 27
613 4
549 36
drumbo park
480 864
306 890
526 32
503 43
764 4
clonmel
480 2244
503 200
274 517
686 6
manukau
318 2006
527 665
779 23
henlow
460 1918
550 197
692 18
277 79
manawatu
660 232
410 92
375 1088
457 622
pelaw grange
435 1667
ascot park
390 1052
457 403
cambridge
375 637
457 324
650 49
747 8
the valley
460 407
260 268
645 45

In [6]:
trk='capalaba'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())
cas

[366]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,thanking peter,8,34.6,1.4,0,NaN,19.99,344127991,366,Novice Non Penalty,capalaba,2018-07-28,T Guymer
1,2,trump vegas,1,29.1,2.0,0,NaN,20.10,344127991,366,Novice Non Penalty,capalaba,2018-07-28,W Liddell
2,3,bardo's memory,2,33.7,3.5,nan,NaN,20.29,344127991,366,Novice Non Penalty,capalaba,2018-07-28,G Monkman
3,4,lady grand,5,29.6,6.0,nan,NaN,20.46,344127991,366,Novice Non Penalty,capalaba,2018-07-28,T Rice
4,5,cawbourne fawny,3,30.5,4.0,nan,NaN,20.46,344127991,366,Novice Non Penalty,capalaba,2018-07-28,M Cuneo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26324,4,crayfish,6,26.6,12.0,22.0,NaN,20.21,996378324,366,5,capalaba,2024-02-11,poo poo
26325,3,blaze duck,4,26.7,1.8,45.0,NaN,20.18,996378324,366,5,capalaba,2024-02-11,poo poo
26326,6,tea star,3,25.5,16.0,76.0,NaN,20.48,996378324,366,6,capalaba,2024-02-11,poo poo
26327,5,who's your papi,2,25.0,21.0,67.0,NaN,20.31,996378324,366,6,capalaba,2024-02-11,poo poo
26328,6,hara's stellar,1,26.8,4.2,34.0,NaN,20.48,996378324,366,6,capalaba,2024-02-11,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [ ]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000

In [ ]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [ ]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        at_cas_dist_time=track_params[2]
        at_cas_dist_time_avg=track_params[2]
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=final_row['RunTime']
            at_cas_dist_time_avg=at_cas_dist['RunTime'].mean()
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]


        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

In [ ]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [ ]:
df_final.to_csv('class/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

In [ ]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [ ]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()