## GRV API

- acc email: maxharper26@icloud.com
- acc password: kowGot-sonbyk-4fazko
- api key: 4157732f-fa7f-4459-ab26-089e4deab17a
- documentation: https://topaz.grv.org.au/docs/#/codes/GetTrack

In [1]:
import pandas as pd
from topaz import TopazAPI
import time
import requests
from requests.exceptions import HTTPError
from json import JSONDecodeError
import numpy as np

In [2]:
key = '4157732f-fa7f-4459-ab26-089e4deab17a'
key_m = '6a8ffdc7-ee7a-4795-9b98-607e3e838342'
key_p ='34b33827-3ca1-4c2b-a4c5-40fde1d99a84'

In [3]:
topaz_api = TopazAPI(key)

In [4]:
authority_codes = [ 'NSW', 'QLD', 'SA', 'TAS', 'VIC', 'WA','NT']
all_races = []
missed_run=False

for code in authority_codes:
    try:
        races = topaz_api.get_races(from_date='2024-03-17', to_date='2024-03-18', owning_authority_code=code)
        all_races.append(races)
    except Exception as e:
        print(f"Error fetching races for {code}: {e}")

all_races_df = pd.concat(all_races, ignore_index=True)
race_ids = list(all_races_df['raceId'].unique())
race_ids

[1006994033,
 1006994034,
 1006994035,
 1006994036,
 1006994037,
 1006994038,
 1006994039,
 1006994040,
 1006994041,
 1006994042,
 1007029048,
 1007029049,
 1007029050,
 1007029051,
 1007029052,
 1007029053,
 1007029054,
 1007029055,
 1007029056,
 1007029057,
 1007029058,
 1007029059,
 1007029060,
 1007029061,
 1007029062,
 1007029063,
 1007029064,
 1007029065,
 1007029066,
 1007029067,
 1007029068,
 1007461416,
 1007461419,
 1007461422,
 1007461425,
 1007461428,
 1007461431,
 1007461434,
 1007461437,
 1007461442,
 1007461445,
 1007461417,
 1007461420,
 1007461423,
 1007461426,
 1007461429,
 1007461432,
 1007461435,
 1007461438,
 1007461440,
 1007461443,
 1007461446,
 1007461448,
 1007461418,
 1007461421,
 1007461424,
 1007461427,
 1007461430,
 1007461433,
 1007461436,
 1007461439,
 1007461441,
 1007461444,
 1007461447,
 1007504487,
 1007504488,
 1007504489,
 1007504490,
 1007504491,
 1007504492,
 1007504493,
 1007504494,
 1007504495,
 1007504496,
 1007062625,
 1007062626,
 1007062628,
 1007062630,
 1007062632,
 1007062635,
 1007062636,
 1007062638,
 1007062640,
 1007062642,
 1007062644,
 1007062645,
 1007461449,
 1007461450,
 1007461451,
 1007461452,
 1007461453,
 1007461454,
 1007461455,
 1007461456,
 1007461457,
 1007461458,
 1007461459,
 1007504500,
 1007504501,
 1007504502,
 1007504503,
 1007504504,
 1007504505,
 1007504506,
 1007504507,
 1007504508,
 1007504509,
 1007504510,
 1007504511,
 1007522523,
 1007522524,
 1007522525,
 1007522526,
 1007522527,
 1007522528,
 1007522529,
 1007522530,
 1007522531,
 1007522532,
 1007522533,
 1007522534,
 1006994021,
 1006994022,
 1006994023,
 1006994024,
 1006994025,
 1006994026,
 1006994027,
 1006994028,
 1006994029,
 1006994030,
 1006994031,
 1006994032,
 1007461460,
 1007461461,
 1007461462,
 1007461463,
 1007461464,
 1007461465,
 1007461466,
 1007461467,
 1007461468,
 1007461469,
 1007461470,
 1007461471,
 1007504524,
 1007504525,
 1007504526,
 1007504527,
 1007504528,
 1007504529,
 1007504530,
 1007504531,
 1007504532,
 1007504533,
 1007504534,
 1007504535,
 1006693902,
 1006693903,
 1006693904,
 1006693905,
 1006693906,
 1006693907,
 1006693908,
 1006693909,
 1006693910,
 1006693911,
 1007440368,
 1007440367,
 1007440366,
 1007440369,
 1007440361,
 1007440359,
 1007440360,
 1007440370,
 1007440362,
 1007440363,
 1007440364,
 1007440365,
 1007495475,
 1005573156,
 1007495474,
 1007495473,
 1007495477,
 1007495470,
 1007495469,
 1007495476,
 1007495479,
 1007495478,
 1007495471,
 1007495472,
 1007040593,
 1007040592,
 1007040591,
 1007040588,
 1007040589,
 1007040590,
 1007040594,
 1007040584,
 1005475505,
 1007040585,
 1007040586,
 1007040587,
 1007880245,
 1007880237,
 1007880238,
 1007880248,
 1007880240,
 1007880241,
 1007880242,
 1007880243,
 1007880244,
 1007880239,
 1007880246,
 1007880247,
 1007519525,
 1007519527,
 1007519521,
 1007519519,
 1007519517,
 1007519528,
 1007519518,
 1007519526,
 1007519523,
 1007519524,
 1007519522,
 1007519520,
 1007440373,
 1007440380,
 1007440379,
 1007440374,
 1007440382,
 1007440375,
 1007440376,
 1007440381,
 1007440378,
 1007440377,
 1007440371,
 1007440372,
 1007831146,
 1007831147,
 1007831148,
 1007831150,
 1007831144,
 1007831149,
 1007831139,
 1007831143,
 1007831140,
 1007831141,
 1007831142,
 1007831145,
 1007062646,
 1007062647,
 1007062648,
 1007062649,
 1007062650,
 1007062651,
 1007062652,
 1007062653,
 1007062654,
 1007062655,
 1007062656,
 1007062657,
 1006994012,
 1006994013,
 1006994014,
 1006994015,
 1006994016,
 1006994017,
 1006994018,
 1006994019,
 1006994020]

In [5]:
len(race_ids)

272

In [15]:
race_ids = pd.read_csv('api_files/missing.csv')['missed']
missed_run=True
race_ids

0       990395989
1       990395990
2       990395991
3       990395992
4       990395993
          ...
386    1007062655
387    1007062656
388    1007062657
389    1006994012
390    1006994013
Name: missed, Length: 391, dtype: int64

In [16]:
big = ''
start = time.time()
first=0
headers={'X-API-Key':key}
missed=[]



for i in range(first,len(race_ids)):
    rID = race_ids[i]
    url = f'https://topaz.grv.org.au/api/race/{rID}/result'
    try:
        race = requests.get(url.format(rID),headers=headers).json()
    except JSONDecodeError as e:
        race={'error':1,'message':'empty json'}
    
    if('error' in race and 'message' in race):
        print(rID,race['message'])
        missed.append(rID)
    else:
        splits = race['splitTimes']
        
        
        summary = pd.DataFrame(race['runs'])

        cols=['track','distance','raceId','weightInKg','meetingDate','dogName','resultTime','bestFinishTrackAndDistance', 'pir','incomingGrade', 'outgoingGrade', 'rating','resultMarginLengths', 'startPaceCode', 'jumpCode',
           'startPrice','boxNumber']
        summary=summary[cols]
        summary['Plc'] = summary['resultTime'].rank(method='min')

        if(splits!=[]):
            splits = pd.DataFrame(splits)
            splits = splits[['dogName','splitTimeMarker','time']]

            markers = max(splits['splitTimeMarker'])
            for marker in range(1,markers+1):
                split2 = splits[splits['splitTimeMarker']==marker]
                split2=split2.rename(columns={'time':'split_'+str(marker)})[['dogName','split_'+str(marker)]]
                summary = pd.merge(summary,split2,on='dogName',how='outer')


        if(type(big)==str):
            big = summary
        else:
            big = pd.concat([big,summary])

            



end = time.time()
taken = end-start
print('time for',len(race_ids),':',round(taken,3),'avg:',round(taken/len(race_ids),2))

990395989 Race does not yet have results.
990395990 Race does not yet have results.
990395991 Race does not yet have results.
990395992 Race does not yet have results.
990395993 Race does not yet have results.
990395994 Race does not yet have results.
990395995 Race does not yet have results.
990395996 Race does not yet have results.
990395997 Race does not yet have results.
990395998 Race does not yet have results.
990395999 Race does not yet have results.
990376520 Race does not yet have results.
990376521 Race does not yet have results.
990376522 Race does not yet have results.
990376523 Race does not yet have results.
990376524 Race does not yet have results.
990376525 Race does not yet have results.
990376526 Race does not yet have results.
990376527 Race does not yet have results.
990376528 Race does not yet have results.
990376529 Race does not yet have results.
990376530 Race does not yet have results.
990376531 Race does not yet have results.
990376739 Race does not yet have results.
990376740 Race does not yet have results.
990376741 Race does not yet have results.
990376742 Race does not yet have results.
990376743 Race does not yet have results.
990376744 Race does not yet have results.
990376745 Race does not yet have results.
990376746 Race does not yet have results.
990376747 Race does not yet have results.
990376748 Race does not yet have results.
990376749 Race does not yet have results.
990376750 Race does not yet have results.
995539127 Race does not yet have results.
995539128 Race does not yet have results.
995539129 Race does not yet have results.
995539130 Race does not yet have results.
995539131 Race does not yet have results.
995539132 Race does not yet have results.
995539133 Race does not yet have results.
995539134 Race does not yet have results.
995539135 Race does not yet have results.
996378498 Race does not yet have results.
996378499 Race does not yet have results.
996378500 Race does not yet have results.
996378501 Race does not yet have results.
996378502 Race does not yet have results.
996378503 Race does not yet have results.
996378504 Race does not yet have results.
996378505 Race does not yet have results.
996378506 Race does not yet have results.
996378507 Race does not yet have results.
996378508 Race does not yet have results.
996378509 Race does not yet have results.
996378420 Race does not yet have results.
996378422 Race does not yet have results.
996378424 Race does not yet have results.
996378426 Race does not yet have results.
996378428 Race does not yet have results.
996378430 Race does not yet have results.
996378432 Race does not yet have results.
996378434 Race does not yet have results.
996378436 Race does not yet have results.
996378438 Race does not yet have results.
996378439 Race does not yet have results.
996378440 Race does not yet have results.
998755243 Race does not yet have results.
998755244 Race does not yet have results.
998755245 Race does not yet have results.
998755246 Race does not yet have results.
998764348 Race does not yet have results.
998764349 Race does not yet have results.
1004675884 Race does not yet have results.
1004675885 Race does not yet have results.
1004675886 Race does not yet have results.
1004675887 Race does not yet have results.
1004675888 Race does not yet have results.
1004675889 Race does not yet have results.
1004675890 Race does not yet have results.
1004675891 Race does not yet have results.
1004675892 Race does not yet have results.
1004675893 Race does not yet have results.
1005120278 Race does not yet have results.
1005120279 Race does not yet have results.
1005120280 Race does not yet have results.
1005120281 Race does not yet have results.
1005120282 Race does not yet have results.
1005120283 Race does not yet have results.
1005120284 Race does not yet have results.
1005120285 Race does not yet have results.
1005120286 Race does not yet have results.
1005120287 Race does not yet have results.
1005120288 Race does not yet have results.
1005120289 Race does not yet have results.
1007504504 empty json
1007504505 empty json
1007504506 empty json
1007504507 empty json
1007504508 empty json
1007504509 empty json
1007504510 empty json
1007504511 empty json
1007522523 empty json
1007522524 empty json
1007522525 empty json
1007522526 empty json
1007522527 empty json
1007522528 empty json
1007522529 empty json
1007522530 empty json
1007522531 empty json
1007522532 empty json
1007522533 empty json
1007522534 empty json
1006994021 empty json
1006994022 empty json
1006994023 empty json
1006994024 empty json
1006994025 empty json
1006994026 empty json
1006994027 empty json
1006994028 empty json
1006994029 empty json
1006994030 empty json
1006994031 empty json
1006994032 empty json
1007461460 empty json
1007461461 empty json
1007461462 empty json
1007461463 empty json
1007461464 empty json
1007461465 empty json
1007461466 empty json
1007461467 empty json
1007461468 empty json
1007461469 empty json
1007461470 empty json
1007461471 empty json
1007504524 empty json
1007504525 empty json
1007504526 empty json
1007504527 empty json
1007504528 empty json
1007504529 empty json
1007504530 empty json
1007504531 empty json
1007504532 empty json
1007504533 empty json
1007504534 empty json
1007504535 empty json
1006693902 empty json
1006693903 empty json
1006693904 empty json
1006693905 empty json
1006693906 empty json
1006693907 empty json
1006693908 empty json
1006693909 empty json
1006693910 empty json
1006693911 empty json
1007440368 empty json
1007440367 empty json
1007440366 empty json
1007440369 empty json
1007440361 empty json
1007440359 empty json
1007440360 empty json
1007440370 empty json
1007440362 empty json
1007440363 empty json
1007440364 empty json
1007440365 empty json
1007495475 empty json
1005573156 empty json
1007495474 empty json
1007495473 empty json
1007495477 empty json
1007495470 empty json
1007495469 empty json
1007495476 empty json
1007495479 empty json
1007495478 empty json
1007495471 empty json
1007495472 empty json
1007040593 empty json
1007040592 empty json
1007040591 empty json
1007040588 empty json
1007040589 empty json
1007040590 empty json
1007040594 empty json
1007040584 empty json
1005475505 empty json
1007040585 empty json
1007040586 empty json
1007040587 empty json
1007880245 empty json
1007880237 empty json
1007880238 empty json
1007880248 empty json
1007880240 empty json
1007880241 empty json
1007880242 empty json
1007880243 empty json
1007880244 empty json
1007880239 empty json
1007880246 empty json
1007880247 empty json
1007519525 empty json
1008718911 Race does not yet have results.
1008718912 Race does not yet have results.
1008718913 Race does not yet have results.
1008718914 Race does not yet have results.
1008718915 Race does not yet have results.
1008718916 Race does not yet have results.
1008718917 Race does not yet have results.
1008718918 Race does not yet have results.
1008718919 Race does not yet have results.
1008718920 Race does not yet have results.
1008718921 Race does not yet have results.
1008718922 Race does not yet have results.
1009058591 empty json
1009058592 empty json
1009058594 empty json
1007871268 empty json
1008709920 empty json
1008709921 empty json
1008709922 empty json
1007461472 empty json
1007461473 empty json
1007461474 empty json
1007461475 empty json
1007920374 empty json
1008709919 empty json
1008709917 empty json
1008709918 empty json
1009085643 empty json
1009085644 empty json
1009085653 empty json
1009085650 empty json
1009085647 empty json
1009085645 empty json
1009085651 empty json
1009085654 empty json
1009085652 empty json
1009085649 empty json
1009085648 empty json
1009085646 empty json
1009096171 empty json
1009096172 empty json
1009096175 empty json
1009096169 empty json
1009096164 empty json
1009096166 empty json
1009096174 empty json
1009096173 empty json
1009096170 empty json
1009096168 empty json
1009096165 empty json
1009096167 empty json
1008718933 empty json
1008718934 empty json
1008718935 empty json
1008718936 empty json
1008718937 empty json
1008718938 empty json
1008718939 empty json
1008718940 empty json
1008718941 empty json
1008718942 empty json
1008718943 empty json
1008718944 empty json

1007461456 empty json
1007461457 empty json
1007461458 empty json
1007461459 empty json
1007831149 empty json
1007831139 empty json
1007831143 empty json
1007831140 empty json
1007831141 empty json
1007831142 empty json
1007831145 empty json
1007062646 empty json
1007062647 empty json
1007062648 empty json
1007062649 empty json
1007062650 empty json
1007062651 empty json
1007062652 empty json
1007062653 empty json
1007062654 empty json
1007062655 empty json
1007062656 empty json
1007062657 empty json
1006994012 empty json
1006994013 empty json
time for 391 : 109.886 avg: 0.28

In [17]:
big

,track,distance,raceId,weightInKg,meetingDate,dogName,resultTime,bestFinishTrackAndDistance,pir,incomingGrade,...,rating,resultMarginLengths,startPaceCode,jumpCode,startPrice,boxNumber,Plc,split_1,split_2,split_3
0,Bundaberg,315,1007504500,NaN,2024-03-18T00:00:00.000Z,LONDON STAR,NaN,NaN,None,7,...,100,None,None,None,1.0,NaN,NaN,NaN,NaN,NaN
1,Bundaberg,315,1007504500,23.7,2024-03-18T00:00:00.000Z,TINY TURNIPS,19.280,19.150,None,Maiden,...,0,12.25L,None,None,26.0,1.0,8.0,NaN,NaN,NaN
2,Bundaberg,315,1007504500,29.5,2024-03-18T00:00:00.000Z,MIA JET,18.490,18.490,None,Maiden,...,73,0.50L,None,None,4.4,2.0,2.0,NaN,NaN,NaN
3,Bundaberg,315,1007504500,32.8,2024-03-18T00:00:00.000Z,BABY NO GO,18.520,18.450,None,Maiden,...,83,1.00L,None,None,6.0,3.0,3.0,NaN,NaN,NaN
4,Bundaberg,315,1007504500,23.8,2024-03-18T00:00:00.000Z,LOYAL LIES,19.230,19.230,None,Maiden,...,0,11.25L,None,None,12.0,4.0,7.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Shepparton,390,1009058595,30.2,2024-03-21T00:00:00.000Z,HOLLYWOOD FRANKY,22.274,22.274,11,6,...,96,3.00L,None,Medium,4.9,6.0,1.0,8.49000,NaN,NaN
6,Shepparton,390,1009058595,28.1,2024-03-21T00:00:00.000Z,AILEEN'S LAD,22.609,22.522,43,6,...,96,5.00L,None,Slow,12.8,7.0,3.0,8.75425,NaN,NaN
7,Shepparton,390,1009058595,29.6,2024-03-21T00:00:00.000Z,SPIRIT OF PANAMA,22.748,22.585,24,6,...,92,7.25L,None,Medium,13.8,8.0,4.0,8.68250,NaN,NaN
8,Shepparton,390,1009058595,NaN,2024-03-21T00:00:00.000Z,SANDY CABANG,NaN,22.416,None,6,...,93,None,None,None,0.0,NaN,NaN,NaN,NaN,NaN
9,Shepparton,390,1009058595,NaN,2024-03-21T00:00:00.000Z,BLACK SPANIARD,NaN,22.378,None,6,...,91,None,None,None,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
big1 = big.copy()
big1['Track']=big1['track'].str.lower()
big1['dogName']=big1['dogName'].str.lower()

to_rename={
    'Plc':'Place',
    'dogName':'DogName',
    'boxNumber':'Box',
    'resultTime':'RunTime',
    'weightInKg':'Weight',
    'startPrice':'StartPrice',
    'pir':'PIR',
    'distance':'Distance',
    'raceId':'RaceId',
    'incomingGrade':'RaceGrade',
    'meetingDate':'date',
    'split_1':'Split'
}

big1=big1.rename(columns=to_rename)
big1 = big1[['Place','DogName','Box','Weight','StartPrice','PIR','Split','RunTime','RaceId','Distance','RaceGrade','Track','date']]
big1['TrainerLName']='poo'
big1['TrainerFName']='poo'

big1['date']=big1['date'].astype(str).str.split('T').str[0]
big1['date']=pd.to_datetime(big1['date'])


import os
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
m=0
print(files)
for file in files:
    num = file.split('_')[1].split('.')[0]
    num=int(num)
    if(num>m):
        m=num
print(m)

big1.to_csv('api_files/api_'+str(m+1)+'.csv',index=False)
big1

['api_8.csv', 'api_9.csv', 'api_17.csv', 'api_16.csv', 'api_14.csv', 'api_28.csv', 'api_29.csv', 'api_15.csv', 'api_39.csv', 'api_11.csv', 'api_10.csv', 'api_38.csv', 'api_12.csv', 'api_13.csv', 'api_36.csv', 'api_22.csv', 'api_23.csv', 'api_37.csv', 'api_21.csv', 'api_35.csv', 'api_34.csv', 'api_20.csv', 'api_18.csv', 'api_24.csv', 'api_30.csv', 'api_31.csv', 'api_25.csv', 'api_19.csv', 'api_33.csv', 'api_27.csv', 'api_26.csv', 'api_32.csv', 'api_7.csv', 'api_41.csv', 'api_40.csv', 'api_6.csv', 'api_4.csv', 'api_42.csv', 'api_43.csv', 'api_5.csv', 'api_1.csv', 'api_2.csv', 'api_44.csv', 'api_3.csv']
44

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,NaN,london star,NaN,NaN,1.0,None,NaN,NaN,1007504500,315,7,bundaberg,2024-03-18,poo,poo
1,8.0,tiny turnips,1.0,23.7,26.0,None,NaN,19.280,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
2,2.0,mia jet,2.0,29.5,4.4,None,NaN,18.490,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
3,3.0,baby no go,3.0,32.8,6.0,None,NaN,18.520,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
4,7.0,loyal lies,4.0,23.8,12.0,None,NaN,19.230,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,1.0,hollywood franky,6.0,30.2,4.9,11,8.49000,22.274,1009058595,390,6,shepparton,2024-03-21,poo,poo
6,3.0,aileen's lad,7.0,28.1,12.8,43,8.75425,22.609,1009058595,390,6,shepparton,2024-03-21,poo,poo
7,4.0,spirit of panama,8.0,29.6,13.8,24,8.68250,22.748,1009058595,390,6,shepparton,2024-03-21,poo,poo
8,NaN,sandy cabang,NaN,NaN,0.0,None,NaN,NaN,1009058595,390,6,shepparton,2024-03-21,poo,poo
9,NaN,black spaniard,NaN,NaN,0.0,None,NaN,NaN,1009058595,390,6,shepparton,2024-03-21,poo,poo

In [19]:
if(missed_run==False):
    missing  = pd.read_csv('api_files/missing.csv')[['missed']]
    missing2 = pd.DataFrame(missed,columns=['missed'])
    missing3 = pd.concat([missing,missing2])
    missing4 = missing3['missed'].unique()
    missing5 = pd.DataFrame(missing4,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
else:
    missing5 = pd.DataFrame(missed,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
    
missing5

         missed
0     990395989
1     990395990
2     990395991
3     990395992
4     990395993
..          ...
294  1007062655
295  1007062656
296  1007062657
297  1006994012
298  1006994013

[299 rows x 1 columns]

In [20]:
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
files.sort()
files
merged = pd.read_csv('api_files/'+files[0])
for file in files[1:]:
    merged=pd.concat([merged,pd.read_csv('api_files/'+file)])

merged=merged.sort_values(by='date')
merged['Track']=np.where(merged['Track'].str.contains('dport @'),'hobart',merged['Track'])
merged

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,6.0,chick magnet,1.0,30.5,5.5,566.0,NaN,19.700,990412069,336,5,muswellbrook,2024-01-28,poo,poo
1331,1.0,monkey's style,7.0,34.5,4.9,111.0,5.1800,24.282,992122290,435,5,sale,2024-01-28,poo,poo
1330,3.0,rumour confirmed,6.0,31.9,38.7,743.0,5.4425,24.537,992122290,435,5,sale,2024-01-28,poo,poo
1329,8.0,crew,5.0,34.5,57.1,678.0,5.4075,25.242,992122290,435,5,sale,2024-01-28,poo,poo
1328,7.0,persuasion,4.0,27.1,20.2,887.0,5.4775,25.181,992122290,435,5,sale,2024-01-28,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,4.0,marionvale gal,1.0,26.6,4.4,NaN,11.1000,23.680,1008720936,400,6,mount gambier,2024-03-21,poo,poo
397,NaN,quantum leap,NaN,NaN,1.0,NaN,NaN,NaN,1008720935,400,6,mount gambier,2024-03-21,poo,poo
396,NaN,bella prue,NaN,NaN,1.0,NaN,NaN,NaN,1008720935,400,6,mount gambier,2024-03-21,poo,poo
394,4.0,rise as one,7.0,32.2,8.0,NaN,11.5900,24.520,1008720935,400,6,mount gambier,2024-03-21,poo,poo
11,3.0,simply black,4.0,27.5,1.9,543.0,6.6800,20.550,1008718924,340,6,gunnedah,2024-03-21,poo,poo

In [21]:
a = pd.read_csv('../allRaces2.csv')
b = merged.copy()
c = pd.concat([a,b])
#c = c.drop(columns=['Unnamed: 0.1'])
c = c.drop_duplicates(subset=['DogName','RunTime','date'],keep='first')

c['Track']=np.where(c['Track'].str.contains('murray'),'murray bridge',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])



c.to_csv('../allRaces1.csv',index=False)
c

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_73790/609129207.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_73790/609129207.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_73790/609129207.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,raine allen,1.0,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2.0,surf a lot,2.0,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3.0,pingin' bee,6.0,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4.0,lucas the great,7.0,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5.0,quavo,4.0,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,4.0,marionvale gal,1.0,26.6,4.4,NaN,11.10,23.68,1008720936,400,6,mount gambier,2024-03-21,poo,poo
397,NaN,quantum leap,NaN,NaN,1.0,NaN,NaN,NaN,1008720935,400,6,mount gambier,2024-03-21,poo,poo
396,NaN,bella prue,NaN,NaN,1.0,NaN,NaN,NaN,1008720935,400,6,mount gambier,2024-03-21,poo,poo
394,4.0,rise as one,7.0,32.2,8.0,NaN,11.59,24.52,1008720935,400,6,mount gambier,2024-03-21,poo,poo
11,3.0,simply black,4.0,27.5,1.9,543.0,6.68,20.55,1008718924,340,6,gunnedah,2024-03-21,poo,poo

In [22]:
## still missing 
for rID in missing5['missed']:
    url = f'https://topaz.grv.org.au/api/race/{rID}/runs'
    try:
        race = requests.get(url.format(rID),headers=headers).json()[0]
        print(race['track'],race['meetingDate'],race['distance'])
    except JSONDecodeError as e:
        print(rID,'fucked')
        
# race

Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 498
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 600
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 488
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Cannington 2024-02-28T00:00:00.000Z 380
Cannington 2024-02-28T00:00:00.000Z 520
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 531
Gawler 2024-03-10T00:00:00.000Z 643
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 400
Gawler 2024-03-10T00:00:00.000Z 531
Gawler 2024-03-10T00:00:00.000Z 531
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 395
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 395
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 455
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 395
Murray Bridge (MBR) 2024-03-11T00:00:00.000Z 395
Bundaberg 2024-03-18T00:00:00.000Z 460
Bundaberg 2024-03-18T00:00:00.000Z 460
Bundaberg 2024-03-18T00:00:00.000Z 460
Bundaberg 2024-03-18T00:00:00.000Z 531
1007504508 fucked
1007504509 fucked
1007504510 fucked
1007504511 fucked
1007522523 fucked
1007522524 fucked
1007522525 fucked
1007522526 fucked
1007522527 fucked
1007522528 fucked
1007522529 fucked
1007522530 fucked
1007522531 fucked
1007522532 fucked
1007522533 fucked
1007522534 fucked
1006994021 fucked
1006994022 fucked
1006994023 fucked
1006994024 fucked
1006994025 fucked
1006994026 fucked
1006994027 fucked
1006994028 fucked
1006994029 fucked
1006994030 fucked
1006994031 fucked
1006994032 fucked
1007461460 fucked
1007461461 fucked
1007461462 fucked
1007461463 fucked
1007461464 fucked
1007461465 fucked
1007461466 fucked
1007461467 fucked
1007461468 fucked
1007461469 fucked
1007461470 fucked
1007461471 fucked
1007504524 fucked
1007504525 fucked
1007504526 fucked
1007504527 fucked
1007504528 fucked
1007504529 fucked
1007504530 fucked
1007504531 fucked
1007504532 fucked
1007504533 fucked
1007504534 fucked
1007504535 fucked
1006693902 fucked
1006693903 fucked
1006693904 fucked
1006693905 fucked
1006693906 fucked
1006693907 fucked
1006693908 fucked
1006693909 fucked
1006693910 fucked
1006693911 fucked
1007440368 fucked
1007440367 fucked
1007440366 fucked
1007440369 fucked
1007440361 fucked
1007440359 fucked
1007440360 fucked
1007440370 fucked
1007440362 fucked
1007440363 fucked
1007440364 fucked
1007440365 fucked
1007495475 fucked
1005573156 fucked
1007495474 fucked
1007495473 fucked
1007495477 fucked
1007495470 fucked
1007495469 fucked
1007495476 fucked
1007495479 fucked
1007495478 fucked
1007495471 fucked
1007495472 fucked
1007040593 fucked
1007040592 fucked
1007040591 fucked
1007040588 fucked
1007040589 fucked
1007040590 fucked
1007040594 fucked
1007040584 fucked
1005475505 fucked
1007040585 fucked
1007040586 fucked
1007040587 fucked
1007880245 fucked
1007880237 fucked
1007880238 fucked
1007880248 fucked
1007880240 fucked
1007880241 fucked
1007880242 fucked
1007880243 fucked
1007880244 fucked
1007880239 fucked
1007880246 fucked
1007880247 fucked
1007519525 fucked
1008718911 fucked
1008718912 fucked
1008718913 fucked
1008718914 fucked
1008718915 fucked
1008718916 fucked
1008718917 fucked
1008718918 fucked
1008718919 fucked
1008718920 fucked
1008718921 fucked
1008718922 fucked
1009058591 fucked
1009058592 fucked
1009058594 fucked
1007871268 fucked
1008709920 fucked
1008709921 fucked
1008709922 fucked
1007461472 fucked
1007461473 fucked
1007461474 fucked
1007461475 fucked
1007920374 fucked
1008709919 fucked
1008709917 fucked
1008709918 fucked
1009085643 fucked
1009085644 fucked
1009085653 fucked
1009085650 fucked
1009085647 fucked
1009085645 fucked
1009085651 fucked
1009085654 fucked
1009085652 fucked
1009085649 fucked
1009085648 fucked
1009085646 fucked
1009096171 fucked
1009096172 fucked
1009096175 fucked
1009096169 fucked
1009096164 fucked
1009096166 fucked
1009096174 fucked
1009096173 fucked
1009096170 fucked
1009096168 fucked
1009096165 fucked
1009096167 fucked
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 400
Mandurah 2024-03-21T00:00:00.000Z 488
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 400
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 300
Mandurah 2024-03-21T00:00:00.000Z 488
Capalaba 2024-03-17T00:00:00.000Z 366
Capalaba 2024-03-17T00:00:00.000Z 366
Capalaba 2024-03-17T00:00:00.000Z 366
Capalaba 2024-03-17T00:00:00.000Z 366
Geelong 2024-03-18T00:00:00.000Z 460
Geelong 2024-03-18T00:00:00.000Z 460
Geelong 2024-03-18T00:00:00.000Z 400
Geelong 2024-03-18T00:00:00.000Z 400
Geelong 2024-03-18T00:00:00.000Z 400
Geelong 2024-03-18T00:00:00.000Z 400
Geelong 2024-03-18T00:00:00.000Z 400
Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 380
Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 520
Cannington 2024-03-18T00:00:00.000Z 380
Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 520
Cannington 2024-03-18T00:00:00.000Z 380

Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 275
Cannington 2024-03-18T00:00:00.000Z 275
Darwin 2024-03-17T00:00:00.000Z 312
Darwin 2024-03-17T00:00:00.000Z 312

In [23]:
big1

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,NaN,london star,NaN,NaN,1.0,None,NaN,NaN,1007504500,315,7,bundaberg,2024-03-18,poo,poo
1,8.0,tiny turnips,1.0,23.7,26.0,None,NaN,19.280,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
2,2.0,mia jet,2.0,29.5,4.4,None,NaN,18.490,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
3,3.0,baby no go,3.0,32.8,6.0,None,NaN,18.520,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
4,7.0,loyal lies,4.0,23.8,12.0,None,NaN,19.230,1007504500,315,Maiden,bundaberg,2024-03-18,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,1.0,hollywood franky,6.0,30.2,4.9,11,8.49000,22.274,1009058595,390,6,shepparton,2024-03-21,poo,poo
6,3.0,aileen's lad,7.0,28.1,12.8,43,8.75425,22.609,1009058595,390,6,shepparton,2024-03-21,poo,poo
7,4.0,spirit of panama,8.0,29.6,13.8,24,8.68250,22.748,1009058595,390,6,shepparton,2024-03-21,poo,poo
8,NaN,sandy cabang,NaN,NaN,0.0,None,NaN,NaN,1009058595,390,6,shepparton,2024-03-21,poo,poo
9,NaN,black spaniard,NaN,NaN,0.0,None,NaN,NaN,1009058595,390,6,shepparton,2024-03-21,poo,poo

In [24]:
big1[big1['Track']=='rockhampton']

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,tumbleweeds,1.0,31.1,3.2,None,9.05,24.12,1007920317,407,7,rockhampton,2024-03-20,poo,poo
1,5.0,bahama blue,2.0,31.2,4.0,None,9.18,24.26,1007920317,407,Maiden,rockhampton,2024-03-20,poo,poo
2,3.0,tigger,3.0,23.6,18.0,None,9.32,24.24,1007920317,407,Maiden,rockhampton,2024-03-20,poo,poo
3,7.0,early supper,4.0,28.5,4.8,None,9.42,24.53,1007920317,407,Maiden,rockhampton,2024-03-20,poo,poo
4,1.0,chipped penny,5.0,26.6,7.0,None,9.09,24.12,1007920317,407,Maiden,rockhampton,2024-03-20,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,6.0,sayaka,4.0,31.5,26.0,None,9.53,24.42,1007920328,407,5,rockhampton,2024-03-20,poo,poo
5,1.0,shell and sea,5.0,25.3,5.0,None,9.13,23.81,1007920328,407,5,rockhampton,2024-03-20,poo,poo
6,2.0,enrique fernando,6.0,29.0,6.5,None,9.17,23.85,1007920328,407,5,rockhampton,2024-03-20,poo,poo
7,4.0,dynamic one,7.0,34.6,14.0,None,9.41,24.00,1007920328,407,5,rockhampton,2024-03-20,poo,poo
8,7.0,tarawi opal,8.0,25.4,34.0,None,9.67,24.66,1007920328,407,5,rockhampton,2024-03-20,poo,poo