## GRV API

- acc email: maxharper26@icloud.com
- acc password: kowGot-sonbyk-4fazko
- api key: 4157732f-fa7f-4459-ab26-089e4deab17a
- documentation: https://topaz.grv.org.au/docs/#/codes/GetTrack

In [1]:
import pandas as pd
from topaz import TopazAPI
import time
import requests
from requests.exceptions import HTTPError
from json import JSONDecodeError
import numpy as np

In [2]:
key = '4157732f-fa7f-4459-ab26-089e4deab17a'
key_m = '6a8ffdc7-ee7a-4795-9b98-607e3e838342'
key_p ='34b33827-3ca1-4c2b-a4c5-40fde1d99a84'

In [3]:
topaz_api = TopazAPI(key)

In [4]:
authority_codes = [ 'NSW', 'QLD', 'SA', 'TAS', 'VIC', 'WA','NT']
all_races = []
missed_run=False

for code in authority_codes:
    try:
        races = topaz_api.get_races(from_date='2024-03-04', to_date='2024-03-08', owning_authority_code=code)
        all_races.append(races)
    except Exception as e:
        print(f"Error fetching races for {code}: {e}")

all_races_df = pd.concat(all_races, ignore_index=True)
race_ids = list(all_races_df['raceId'].unique())
race_ids

[1002606719,
 1002606720,
 1002606721,
 1002606722,
 1002606723,
 1002606724,
 1002606725,
 1002606726,
 1002606727,
 1002606728,
 1002606729,
 1002606730,
 1002640315,
 1002640316,
 1002640317,
 1002640318,
 1002640319,
 1002640320,
 1002640321,
 1002640322,
 1002640323,
 1002640324,
 1002682362,
 1002682363,
 1002682364,
 1002682365,
 1002682366,
 1002682367,
 1002682368,
 1002682369,
 1002682370,
 1002682371,
 1002682372,
 1002682373,
 1003114224,
 1003114225,
 1003114226,
 1003114227,
 1003114228,
 1003114229,
 1003114230,
 1003114231,
 1003114232,
 1003114233,
 1003117731,
 1003117732,
 1003117733,
 1003117734,
 1003117735,
 1003117736,
 1003117737,
 1003117738,
 1003117739,
 1003117740,
 1003117741,
 1003117742,
 1003117743,
 1003117744,
 1003117745,
 1003117746,
 1003117747,
 1003117748,
 1003117749,
 1003117750,
 1003117751,
 1003117752,
 1003117753,
 1003117754,
 1003117755,
 1003117756,
 1003117757,
 1003117758,
 1003117759,
 1003117760,
 1003117761,
 1003117762,
 1003948389,
 1003948390,
 1003948391,
 1003948392,
 1003948393,
 1003948394,
 1003948395,
 1003948396,
 1003948397,
 1003948398,
 1003948399,
 1003948400,
 1003948401,
 1003948402,
 1003948403,
 1003948404,
 1003948405,
 1003948406,
 1003948407,
 1003948408,
 1003948409,
 1003948410,
 1003948411,
 1003948412,
 1003977948,
 1003977949,
 1003977950,
 1003977951,
 1003977952,
 1003977953,
 1003977954,
 1003977955,
 1003977956,
 1003977957,
 1003977958,
 1003936365,
 1003936366,
 1003936367,
 1003936368,
 1003936369,
 1003936370,
 1003936371,
 1003936372,
 1003936373,
 1003936374,
 1003936375,
 1003936376,
 1003936377,
 1003936378,
 1003936379,
 1003936380,
 1003936381,
 1003936382,
 1003936383,
 1003936384,
 1003936385,
 1003936386,
 1003936387,
 1003948414,
 1003948415,
 1003948416,
 1003948417,
 1003948420,
 1003948421,
 1003948424,
 1003948426,
 1003948428,
 1003948430,
 1003948431,
 1004319637,
 1004319638,
 1004319640,
 1004319642,
 1004319644,
 1004319645,
 1004319646,
 1004319648,
 1004319650,
 1004319651,
 1004319652,
 1004319653,
 1004319654,
 1004319655,
 1004319656,
 1004319657,
 1004319658,
 1004319659,
 1004319660,
 1004319661,
 1004319662,
 1004319663,
 1004334660,
 1004334661,
 1004334662,
 1004334663,
 1004334664,
 1004334665,
 1004334666,
 1004334667,
 1004334668,
 1004334669,
 1004675861,
 1004675862,
 1004675863,
 1004675864,
 1004675865,
 1004675866,
 1004675867,
 1004675868,
 1004675869,
 1004675870,
 1004675871,
 1002606743,
 1002606744,
 1002606745,
 1002606746,
 1002606747,
 1002606748,
 1002606749,
 1002606750,
 1002606751,
 1002606752,
 1002606753,
 1002606754,
 1002640304,
 1002640305,
 1002640306,
 1002640307,
 1002640308,
 1002640309,
 1002640310,
 1002640311,
 1002640312,
 1002640313,
 1002640314,
 1003114234,
 1003114235,
 1003114236,
 1003114237,
 1003114238,
 1003114239,
 1003114240,
 1003114241,
 1003114242,
 1003114243,
 1003114244,
 1003114245,
 1003117763,
 1003117764,
 1003117765,
 1003117766,
 1003117767,
 1003117768,
 1003117769,
 1003117770,
 1003117771,
 1003117772,
 1003117773,
 1003117774,
 1003096211,
 1003096212,
 1003096213,
 1003096214,
 1003096215,
 1003096216,
 1003096217,
 1003096218,
 1003096219,
 1003096220,
 1003096221,
 1003096222,
 1003936394,
 1003936395,
 1003936396,
 1003936397,
 1003936399,
 1003936402,
 1003936404,
 1003936406,
 1003936408,
 1003936410,
 1003936412,
 1003936414,
 1003936418,
 1003936419,
 1003936420,
 1003936421,
 1003936422,
 1003936423,
 1003936424,
 1003936425,
 1003936426,
 1003936427,
 1003948418,
 1003948419,
 1003948422,
 1003948423,
 1003948425,
 1003948427,
 1003948429,
 1003948432,
 1003948433,
 1003948434,
 1003948435,
 1003948436,
 1004321658,
 1004321659,
 1004321660,
 1004321661,
 1004321662,
 1004321663,
 1004321664,
 1004321665,
 1004321666,
 1004321667,
 1004321668,
 1004321669,
 1004319680,
 1004319681,
 1004319682,
 1004319683,
 1004319684,
 1004319685,
 1004319686,
 1004319687,
 1004319688,
 1004319689,
 1004319690,
 1002640293,
 1002640294,
 1002640295,
 1002640296,
 1002640297,
 1002640298,
 1002640299,
 1002640300,
 1002640301,
 1002640302,
 1002640303,
 1002606755,
 1002606756,
 1002606757,
 1002606758,
 1002606759,
 1002606760,
 1002606761,
 1002606762,
 1002606763,
 1002606764,
 1002606765,
 1002606766,
 1003114246,
 1003114247,
 1003114248,
 1003114249,
 1003114250,
 1003114251,
 1003114252,
 1003114253,
 1003114254,
 1003114255,
 1003977959,
 1003977960,
 1003977961,
 1003977962,
 1003977963,
 1003977964,
 1003977965,
 1003977966,
 1003977967,
 1003977968,
 1003977969,
 1003977970,
 1003977971,
 1003977972,
 1003977973,
 1003977974,
 1003977975,
 1003977976,
 1003977977,
 1003977978,
 1003977979,
 1003977980,
 1003977981,
 1003977982,
 1004321645,
 1004321646,
 1004321647,
 1004321648,
 1004321649,
 1004321650,
 1004321651,
 1004321652,
 1004321653,
 1004321654,
 1004321655,
 1004321656,
 1001129343,
 1001129344,
 1001129345,
 1001129346,
 1001129347,
 1001129348,
 1001129349,
 1001129350,
 1001129351,
 1001129352,
 1002276075,
 1002276076,
 1002276077,
 1002276078,
 1002276079,
 1002276080,
 1002276081,
 1002276082,
 1002276083,
 1002276084,
 1003117775,
 1003117776,
 1003117777,
 1003117778,
 1003117779,
 1003117780,
 1003117783,
 1003117784,
 1003117785,
 1003117786,
 1003936428,
 1003936429,
 1003936430,
 1003936431,
 1003936432,
 1003936433,
 1003936434,
 1003936435,
 1003936436,
 1003936437,
 1003936438,
 1003936439,
 1003936440,
 1003936441,
 1003936442,
 1003936443,
 1002745998,
 1002745993,
 1002745992,
 1002745997,
 1002745991,
 1002745994,
 1002746000,
 1002745999,
 1002745989,
 1002745996,
 1002745995,
 1002745990,
 1003071144,
 1003071145,
 1003071142,
 1003071143,
 1003071149,
 1003071147,
 1003071148,
 1003071146,
 1003071141,
 1003071138,
 1003071139,
 1003071140,
 1003116234,
 1003116233,
 1003116229,
 1003116228,
 1003116236,
 1003116237,
 1003116230,
 1003116239,
 1003116238,
 1003116235,
 1003116232,
 1003116231,
 1002671867,
 1002671864,
 1002671865,
 1002671871,
 1002671873,
 1001204426,
 1002671872,
 1001204425,
 1002671868,
 1002671869,
 1002671870,
 1002671866,
 1003144293,
 1003144295,
 1003144289,
 1003144288,
 1003144287,
 1003144285,
 1003144286,
 1003144284,
 1003144294,
 1003144290,
 1003144291,
 1003144292,
 1003190879,
 1003190880,
 1003190887,
 1003190886,
 1003190882,
 1003190888,
 1003190881,
 1003190878,
 1003190885,
 1003190883,
 1003190884,
 1003190877,
 1003071159,
 1003071150,
 1003071160,
 1003071151,
 1003071153,
 1003071152,
 1003071154,
 1003071161,
 1003071157,
 1003071158,
 1003071156,
 1003071155,
 1001127408,
 1003913834,
 1003913841,
 1003913833,
 1003913839,
 1003913838,
 1003913836,
 1003913835,
 1003913832,
 1003913837,
 1003913840,
 1003913842,
 1003995493,
 1003995494,
 1003995490,
 1003995491,
 1003995487,
 1003995483,
 1003995489,
 1003995488,
 1003995492,
 1003995484,
 1003995485,
 1003995486,
 1003967428,
 1003967429,
 1003967431,
 1003967436,
 1003967427,
 1003967435,
 1003967437,
 1003967438,
 1003967434,
 1003967430,
 1003967432,
 1003967433,
 1003913828,
 1003913829,
 1003913827,
 1003913826,
 1003913822,
 1003913820,
 1003913831,
 1003913830,
 1003913824,
 1003913825,
 1003913821,
 1003913823,
 1003096237,
 1004019538,
 1004019537,
 1003096238,
 1004019531,
 1004019539,
 1004019540,
 1004019536,
 1004019532,
 1004019533,
 1004019534,
 1004019535,
 1004368235,
 1004368227,
 1004368228,
 1004368229,
 1004368238,
 1004368237,
 1004368230,
 1004368236,
 1004368232,
 1004368231,
 1004368233,
 1004368234,
 1004311620,
 1004311625,
 1004311618,
 1004311619,
 1004311623,
 1004311622,
 1004311624,
 1004311621,
 1004311614,
 1004311615,
 1004311616,
 1004311617,
 1004338178,
 1004338175,
 1004338176,
 1004338170,
 1004338167,
 1004338171,
 1004338172,
 1004338177,
 1004338169,
 1004338168,
 1004338173,
 1004338174,
 1004710413,
 1004710412,
 1004710410,
 1004710411,
 1001129401,
 1003096223,
 1003114256,
 1003096224,
 1004710417,
 1004710416,
 1004710414,
 1004710415,
 1004710422,
 1004710426,
 1004710428,
 1004710419,
 1004710424,
 1004710427,
 1004710423,
 1004710429,
 1004710418,
 1004710425,
 1004710420,
 1004710421,
 1004736973,
 1004736969,
 1004736967,
 1004736963,
 1004736972,
 1004736970,
 1004736974,
 1004736971,
 1004736968,
 1004736964,
 1004736965,
 1004736966,
 1004406808,
 1004406809,
 1004406810,
 1004406813,
 1004406812,
 1004406815,
 1004406811,
 1004406807,
 1004406814,
 1004406804,
 1004406805,
 1004406806,
 1002314159,
 1002314160,
 1002314161,
 1002314162,
 1002314163,
 1002314164,
 1002314165,
 1002314166,
 1002314167,
 1002314168,
 1002314169,
 1002314170,
 1002751500,
 1002751501,
 1002751502,
 1002751503,
 1002751504,
 1002751505,
 1002751506,
 1002751507,
 1002751508,
 1002751509,
 1002751510,
 1002751511,
 1003117781,
 1003117782,
 1003117787,
 1003117788,
 1003117789,
 1003117790,
 1003117791,
 1003117792,
 1003117793,
 1003117794,
 1003117795,
 1003117796,
 1003117797,
 1003117798,
 1003936398,
 1003936400,
 1003936401,
 1003936403,
 1003936405,
 1003936407,
 1003936409,
 1003936411,
 1003936413,
 1003936415,
 1003936416,
 1003936417,
 1004321673,
 1004321674,
 1004321675,
 1004321676,
 1004321677,
 1004321678,
 1004321679,
 1004321680,
 1004321681,
 1004321682,
 1003936388,
 1003936389,
 1003936390,
 1003936391,
 1003936392,
 1003936393]

In [5]:
len(race_ids)

713

In [6]:
# race_ids = pd.read_csv('api_files/missing.csv')['missed']
# missed_run=True
# race_ids

In [7]:
big = ''
start = time.time()
first=0
headers={'X-API-Key':key}
missed=[]



for i in range(first,len(race_ids)):
    rID = race_ids[i]
    url = f'https://topaz.grv.org.au/api/race/{rID}/result'
    try:
        race = requests.get(url.format(rID),headers=headers).json()
    except JSONDecodeError as e:
        race={'error':1,'message':'empty json'}
    
    if('error' in race and 'message' in race):
        print(rID,race['message'])
        missed.append(rID)
    else:
        splits = race['splitTimes']
        
        
        summary = pd.DataFrame(race['runs'])

        cols=['track','distance','raceId','weightInKg','meetingDate','dogName','resultTime','bestFinishTrackAndDistance', 'pir','incomingGrade', 'outgoingGrade', 'rating','resultMarginLengths', 'startPaceCode', 'jumpCode',
           'startPrice','boxNumber']
        summary=summary[cols]
        summary['Plc'] = summary['resultTime'].rank(method='min')

        if(splits!=[]):
            splits = pd.DataFrame(splits)
            splits = splits[['dogName','splitTimeMarker','time']]

            markers = max(splits['splitTimeMarker'])
            for marker in range(1,markers+1):
                split2 = splits[splits['splitTimeMarker']==marker]
                split2=split2.rename(columns={'time':'split_'+str(marker)})[['dogName','split_'+str(marker)]]
                summary = pd.merge(summary,split2,on='dogName',how='outer')


        if(type(big)==str):
            big = summary
        else:
            big = pd.concat([big,summary])

            



end = time.time()
taken = end-start
print('time for',len(race_ids),':',round(taken,3),'avg:',round(taken/len(race_ids),2))

time for 713 : 2359.949 avg: 3.31

In [8]:
big

,track,distance,raceId,weightInKg,meetingDate,dogName,resultTime,bestFinishTrackAndDistance,pir,incomingGrade,...,rating,resultMarginLengths,startPaceCode,jumpCode,startPrice,boxNumber,Plc,split_1,split_2,split_3
0,Richmond,320,1002606719,28.1,2024-03-04T00:00:00.000Z,SWIFT GETAWAY,18.78,18.78,331,Maiden,...,0,1.25L,None,None,5.0,1.0,1.0,2.23,7.87,NaN
1,Richmond,320,1002606719,27.2,2024-03-04T00:00:00.000Z,GALLIPOLI GAL,19.12,19.00,556,Maiden,...,90,5.00L,None,None,3.6,2.0,6.0,2.29,8.12,NaN
2,Richmond,320,1002606719,23.7,2024-03-04T00:00:00.000Z,WHAT KEPT YOU,19.42,19.42,218,Maiden,...,0,9.75L,None,None,8.0,3.0,8.0,2.21,8.27,NaN
3,Richmond,320,1002606719,28.1,2024-03-04T00:00:00.000Z,RUSSO,19.10,19.03,444,Maiden,...,0,4.75L,None,None,6.0,4.0,5.0,2.27,8.01,NaN
4,Richmond,320,1002606719,29.0,2024-03-04T00:00:00.000Z,BUTKER,18.86,18.86,662,Maiden,...,0,1.25L,None,None,6.0,5.0,3.0,2.31,7.87,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Darwin,312,1003936393,30.8,2024-03-06T00:00:00.000Z,NORTHERN EXPRESS,18.49,18.35,None,5,...,94,3.50L,None,None,6.7,1.0,4.0,NaN,NaN,NaN
1,Darwin,312,1003936393,23.4,2024-03-06T00:00:00.000Z,NOT ALL THERE,18.76,18.39,None,5,...,90,7.50L,None,None,8.6,2.0,5.0,NaN,NaN,NaN
2,Darwin,312,1003936393,25.7,2024-03-06T00:00:00.000Z,SPITEFUL MISS,18.26,18.15,0,4,...,90,0.75L,None,None,3.9,4.0,1.0,7.20,11.06,NaN
3,Darwin,312,1003936393,33.6,2024-03-06T00:00:00.000Z,SOLSBURY HILL,18.47,18.14,0,5,...,92,3.25L,None,None,5.3,6.0,3.0,NaN,NaN,NaN
4,Darwin,312,1003936393,30.1,2024-03-06T00:00:00.000Z,WEST ON WARRIOR,18.29,18.23,None,5,...,100,0.75L,None,None,2.1,8.0,2.0,NaN,NaN,NaN

In [9]:
big1 = big.copy()
big1['Track']=big1['track'].str.lower()
big1['dogName']=big1['dogName'].str.lower()

to_rename={
    'Plc':'Place',
    'dogName':'DogName',
    'boxNumber':'Box',
    'resultTime':'RunTime',
    'weightInKg':'Weight',
    'startPrice':'StartPrice',
    'pir':'PIR',
    'distance':'Distance',
    'raceId':'RaceId',
    'incomingGrade':'RaceGrade',
    'meetingDate':'date',
    'split_1':'Split'
}

big1=big1.rename(columns=to_rename)
big1 = big1[['Place','DogName','Box','Weight','StartPrice','PIR','Split','RunTime','RaceId','Distance','RaceGrade','Track','date']]
big1['TrainerLName']='poo'
big1['TrainerFName']='poo'

big1['date']=big1['date'].astype(str).str.split('T').str[0]
big1['date']=pd.to_datetime(big1['date'])


import os
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
m=0
print(files)
for file in files:
    num = file.split('_')[1].split('.')[0]
    num=int(num)
    if(num>m):
        m=num
print(m)

big1.to_csv('api_files/api_'+str(m+1)+'.csv',index=False)
big1

['api_8.csv', 'api_9.csv', 'api_17.csv', 'api_16.csv', 'api_14.csv', 'api_28.csv', 'api_29.csv', 'api_15.csv', 'api_11.csv', 'api_10.csv', 'api_12.csv', 'api_13.csv', 'api_22.csv', 'api_23.csv', 'api_21.csv', 'api_20.csv', 'api_18.csv', 'api_24.csv', 'api_30.csv', 'api_31.csv', 'api_25.csv', 'api_19.csv', 'api_33.csv', 'api_27.csv', 'api_26.csv', 'api_32.csv', 'api_7.csv', 'api_6.csv', 'api_4.csv', 'api_5.csv', 'api_1.csv', 'api_2.csv', 'api_3.csv']
33

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,swift getaway,1.0,28.1,5.0,331,2.23,18.78,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
1,6.0,gallipoli gal,2.0,27.2,3.6,556,2.29,19.12,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
2,8.0,what kept you,3.0,23.7,8.0,218,2.21,19.42,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
3,5.0,russo,4.0,28.1,6.0,444,2.27,19.10,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
4,3.0,butker,5.0,29.0,6.0,662,2.31,18.86,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,4.0,northern express,1.0,30.8,6.7,None,NaN,18.49,1003936393,312,5,darwin,2024-03-06,poo,poo
1,5.0,not all there,2.0,23.4,8.6,None,NaN,18.76,1003936393,312,5,darwin,2024-03-06,poo,poo
2,1.0,spiteful miss,4.0,25.7,3.9,0,7.20,18.26,1003936393,312,4,darwin,2024-03-06,poo,poo
3,3.0,solsbury hill,6.0,33.6,5.3,0,NaN,18.47,1003936393,312,5,darwin,2024-03-06,poo,poo
4,2.0,west on warrior,8.0,30.1,2.1,None,NaN,18.29,1003936393,312,5,darwin,2024-03-06,poo,poo

In [10]:
if(missed_run==False):
    missing  = pd.read_csv('api_files/missing.csv')[['missed']]
    missing2 = pd.DataFrame(missed,columns=['missed'])
    missing3 = pd.concat([missing,missing2])
    missing4 = missing3['missed'].unique()
    missing5 = pd.DataFrame(missing4,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
else:
    missing5 = pd.DataFrame(missed,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
    
missing5

       missed
0   990395989
1   990395990
2   990395991
3   990395992
4   990395993
..        ...
69  998755244
70  998755245
71  998755246
72  998764348
73  998764349

[74 rows x 1 columns]

In [11]:
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
files.sort()
files
merged = pd.read_csv('api_files/'+files[0])
for file in files[1:]:
    merged=pd.concat([merged,pd.read_csv('api_files/'+file)])

merged=merged.sort_values(by='date')
merged['Track']=np.where(merged['Track'].str.contains('dport @'),'hobart',merged['Track'])
merged

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,6.0,chick magnet,1.0,30.5,5.5,566.0,NaN,19.700,990412069,336,5,muswellbrook,2024-01-28,poo,poo
1331,1.0,monkey's style,7.0,34.5,4.9,111.0,5.18000,24.282,992122290,435,5,sale,2024-01-28,poo,poo
1330,3.0,rumour confirmed,6.0,31.9,38.7,743.0,5.44250,24.537,992122290,435,5,sale,2024-01-28,poo,poo
1329,8.0,crew,5.0,34.5,57.1,678.0,5.40750,25.242,992122290,435,5,sale,2024-01-28,poo,poo
1328,7.0,persuasion,4.0,27.1,20.2,887.0,5.47750,25.181,992122290,435,5,sale,2024-01-28,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,NaN,hartney,NaN,NaN,0.0,NaN,NaN,NaN,1003096223,410,5,horsham,2024-03-08,poo,poo
4961,1.0,wrong bias,1.0,28.9,1.6,11.0,10.20000,23.070,1003096223,410,4,horsham,2024-03-08,poo,poo
4962,2.0,hidden stones,2.0,30.6,2.5,22.0,10.27000,23.135,1003096223,410,4,horsham,2024-03-08,poo,poo
4964,6.0,miss verdansky,4.0,28.5,52.5,76.0,11.05925,23.813,1003096223,410,5,horsham,2024-03-08,poo,poo
1252,3.0,happy potter,4.0,32.5,101.0,254.0,11.64000,23.700,1004319650,400,5,the gardens,2024-03-08,poo,poo

In [12]:
a = pd.read_csv('../allRaces2.csv')
b = merged.copy()
c = pd.concat([a,b])
#c = c.drop(columns=['Unnamed: 0.1'])
c = c.drop_duplicates(keep='first')

c['Track']=np.where(c['Track'].str.contains('murray'),'murray bridge',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])



c.to_csv('../allRaces1.csv',index=False)
c

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_13041/2967691039.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_13041/2967691039.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_13041/2967691039.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,raine allen,1.0,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2.0,surf a lot,2.0,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3.0,pingin' bee,6.0,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4.0,lucas the great,7.0,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5.0,quavo,4.0,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,NaN,hartney,NaN,NaN,0.0,NaN,NaN,NaN,1003096223,410,5,horsham,2024-03-08,poo,poo
4961,1.0,wrong bias,1.0,28.9,1.6,11.0,10.20000,23.070,1003096223,410,4,horsham,2024-03-08,poo,poo
4962,2.0,hidden stones,2.0,30.6,2.5,22.0,10.27000,23.135,1003096223,410,4,horsham,2024-03-08,poo,poo
4964,6.0,miss verdansky,4.0,28.5,52.5,76.0,11.05925,23.813,1003096223,410,5,horsham,2024-03-08,poo,poo
1252,3.0,happy potter,4.0,32.5,101.0,254.0,11.64000,23.700,1004319650,400,5,the gardens,2024-03-08,poo,poo

In [13]:
tks = c['Track'].unique()
tks.sort()
tks

array(['addington', 'albion park', 'angle park', 'armidale', 'ascot park',
       'ballarat', 'bathurst', 'bendigo', 'broken hill', 'bulli',
       'bundaberg', 'cairns', 'cambridge', 'canberra', 'cannington',
       'capalaba', 'casino', 'central park', 'clonmel', 'coonabarabran',
       'coonamble', 'cowra', 'cranbourne', 'crayford', 'curraheen park',
       'dapto', 'darwin', 'devonport', 'doncaster', 'drumbo park',
       'dubbo', 'dundalk', 'enniscorthy', 'galway', 'gawler', 'geelong',
       'gosford', 'goulburn', 'grafton', 'gunnedah', 'harlow', 'hatrick',
       'healesville', 'henlow', 'hobart', 'horsham', 'hove', 'ipswich',
       'kempsey', 'kilkenny', 'kinsley', 'launceston', 'lifford',
       'limerick', 'lismore', 'lithgow', 'maitland', 'manawatu',
       'mandurah', 'manukau', 'monmore', 'moree', 'mount gambier',
       'mudgee', 'mullingar', 'murray bridge', 'muswellbrook',
       'newbridge', 'newcastle', 'northam', 'nottingham', 'nowra',
       'oxford', 'pelaw grange', 'perry barr', 'port augusta',
       'potts park', 'richmond', 'richmond straight', 'rockhampton',
       'romford', 'sale', 'sandown park', 'sheffield', 'shelbourne park',
       'shepparton', 'strathalbyn', 'suffolk downs', 'sunderland',
       'swindon', 'tamworth', 'taree', 'temora', 'the gardens',
       'the meadows', 'the valley', 'thurles park', 'towcester',
       'townsville', 'tralee', 'traralgon', 'wagga', 'warragul',
       'warrnambool', 'waterford', 'wauchope', 'wentworth park',
       'yarmouth', 'youghal', 'young'], dtype=object)

In [14]:
## still missing 
for rID in missing5['missed']:
    url = f'https://topaz.grv.org.au/api/race/{rID}/runs'
    try:
        race = requests.get(url.format(rID),headers=headers).json()[0]
        print(race['track'],race['meetingDate'],race['distance'])
    except JSONDecodeError as e:
        print(rID,'fucked')
        
# race

Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 498
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 600
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 488
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 400
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Cannington 2024-02-28T00:00:00.000Z 380
Cannington 2024-02-28T00:00:00.000Z 520

In [15]:
big1

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,swift getaway,1.0,28.1,5.0,331,2.23,18.78,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
1,6.0,gallipoli gal,2.0,27.2,3.6,556,2.29,19.12,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
2,8.0,what kept you,3.0,23.7,8.0,218,2.21,19.42,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
3,5.0,russo,4.0,28.1,6.0,444,2.27,19.10,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
4,3.0,butker,5.0,29.0,6.0,662,2.31,18.86,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,4.0,northern express,1.0,30.8,6.7,None,NaN,18.49,1003936393,312,5,darwin,2024-03-06,poo,poo
1,5.0,not all there,2.0,23.4,8.6,None,NaN,18.76,1003936393,312,5,darwin,2024-03-06,poo,poo
2,1.0,spiteful miss,4.0,25.7,3.9,0,7.20,18.26,1003936393,312,4,darwin,2024-03-06,poo,poo
3,3.0,solsbury hill,6.0,33.6,5.3,0,NaN,18.47,1003936393,312,5,darwin,2024-03-06,poo,poo
4,2.0,west on warrior,8.0,30.1,2.1,None,NaN,18.29,1003936393,312,5,darwin,2024-03-06,poo,poo