## GRV API

- acc email: maxharper26@icloud.com
- acc password: kowGot-sonbyk-4fazko
- api key: 4157732f-fa7f-4459-ab26-089e4deab17a
- documentation: https://topaz.grv.org.au/docs/#/codes/GetTrack

In [1]:
import pandas as pd
from topaz import TopazAPI
import time
import requests
from requests.exceptions import HTTPError
from json import JSONDecodeError
import numpy as np

In [2]:
key = '4157732f-fa7f-4459-ab26-089e4deab17a'
key_m = '6a8ffdc7-ee7a-4795-9b98-607e3e838342'
key_p ='34b33827-3ca1-4c2b-a4c5-40fde1d99a84'

In [3]:
topaz_api = TopazAPI(key)

In [4]:
authority_codes = [ 'NSW', 'QLD', 'SA', 'TAS', 'VIC', 'WA','NT']
all_races = []
missed_run=False

for code in authority_codes:
    try:
        races = topaz_api.get_races(from_date='2024-03-03', to_date='2024-03-03', owning_authority_code=code)
        all_races.append(races)
    except Exception as e:
        print(f"Error fetching races for {code}: {e}")

all_races_df = pd.concat(all_races, ignore_index=True)
race_ids = list(all_races_df['raceId'].unique())
race_ids

[1002167372,
 1002167373,
 1002167374,
 1002167375,
 1002167376,
 1002167377,
 1002167378,
 1002167379,
 1002167380,
 1002167381,
 1002167382,
 1002167383,
 1002276063,
 1002276064,
 1002276065,
 1002276066,
 1002276067,
 1002276068,
 1002276069,
 1002276070,
 1002276071,
 1002276072,
 1002276073,
 1002276074,
 1002606711,
 1002606712,
 1002606713,
 1002606714,
 1002606715,
 1002606716,
 1002606717,
 1002606718,
 1002606719,
 1002606720,
 1002606721,
 1002606722,
 1002606723,
 1002606724,
 1002606725,
 1002606726,
 1002606727,
 1002606728,
 1002606729,
 1002606730,
 1002640315,
 1002640316,
 1002640317,
 1002640318,
 1002640319,
 1002640320,
 1002640321,
 1002640322,
 1002640323,
 1002640324,
 1002682362,
 1002682363,
 1002682364,
 1002682365,
 1002682366,
 1002682367,
 1002682368,
 1002682369,
 1002682370,
 1002682371,
 1002682372,
 1002682373,
 1002276085,
 1002276086,
 1002276087,
 1002276088,
 1002276089,
 1002276090,
 1002276091,
 1002276092,
 1002276093,
 1002276094,
 1002276095,
 1002276096,
 1002606731,
 1002606732,
 1002606733,
 1002606734,
 1002606735,
 1002606736,
 1002606737,
 1002606738,
 1002606739,
 1002606740,
 1002606741,
 1002606742,
 1002606743,
 1002606744,
 1002606745,
 1002606746,
 1002606747,
 1002606748,
 1002606749,
 1002606750,
 1002606751,
 1002606752,
 1002606753,
 1002606754,
 1002640304,
 1002640305,
 1002640306,
 1002640307,
 1002640308,
 1002640309,
 1002640310,
 1002640311,
 1002640312,
 1002640313,
 1002640314,
 1001129380,
 1001129382,
 1001129383,
 1001129384,
 1001129386,
 1001129387,
 1001129389,
 1001129391,
 1001129392,
 1001129394,
 1001129396,
 1001129397,
 1002167416,
 1002167417,
 1002167418,
 1002167419,
 1002167420,
 1002167421,
 1002167422,
 1002167423,
 1002167424,
 1002167425,
 1002167426,
 1002167427,
 1002640293,
 1002640294,
 1002640295,
 1002640296,
 1002640297,
 1002640298,
 1002640299,
 1002640300,
 1002640301,
 1002640302,
 1002640303,
 1001129343,
 1001129344,
 1001129345,
 1001129346,
 1001129347,
 1001129348,
 1001129349,
 1001129350,
 1001129351,
 1001129352,
 1002624253,
 1002624254,
 1002624255,
 1002624250,
 1002624257,
 1002624251,
 1002624252,
 1002624256,
 1002624246,
 1002624247,
 1002624248,
 1002624249,
 1002671847,
 1001127270,
 1002671845,
 1002671842,
 1002671851,
 1002671848,
 1002671849,
 1002671846,
 1002671850,
 1002671841,
 1002671843,
 1002671844,
 1002671856,
 1002671857,
 1002671858,
 1002671859,
 1002671854,
 1002671860,
 1002671861,
 1002671862,
 1002671863,
 1002671855,
 1002671852,
 1002671853,
 1002745998,
 1002745993,
 1002745992,
 1002745997,
 1002745991,
 1002745994,
 1002746000,
 1002745999,
 1002745989,
 1002745996,
 1002745995,
 1002745990,
 1003071144,
 1003071145,
 1003071142,
 1003071143,
 1003071149,
 1003071147,
 1003071148,
 1003071146,
 1003071141,
 1003071138,
 1003071139,
 1003071140,
 1003116234,
 1003116233,
 1003116229,
 1003116228,
 1003116236,
 1003116237,
 1003116230,
 1003116239,
 1003116238,
 1003116235,
 1003116232,
 1003116231,
 1002671867,
 1002671864,
 1002671865,
 1002671871,
 1002671873,
 1001204426,
 1002671872,
 1001204425,
 1002671868,
 1002671869,
 1002671870,
 1002671866,
 1002167396,
 1002167398,
 1002167400,
 1002167402,
 1002167404,
 1002167406,
 1002167408,
 1002167410,
 1002167412,
 1002167413,
 1002167414,
 1002167415,
 1002314159,
 1002314160,
 1002314161,
 1002314162,
 1002314163,
 1002314164,
 1002314165,
 1002314166,
 1002314167,
 1002314168,
 1002314169,
 1002314170,
 1002167384,
 1002167385,
 1002167386,
 1002167387,
 1002167388,
 1002167389,
 1002167390,
 1002167391,
 1002167392,
 1002167393]

In [5]:
len(race_ids)

276

In [6]:
# race_ids = pd.read_csv('api_files/missing.csv')['missed']
# missed_run=True
# race_ids

In [7]:
big = ''
start = time.time()
first=0
headers={'X-API-Key':key}
missed=[]



for i in range(first,len(race_ids)):
    rID = race_ids[i]
    url = f'https://topaz.grv.org.au/api/race/{rID}/result'
    try:
        race = requests.get(url.format(rID),headers=headers).json()
    except JSONDecodeError as e:
        race={'error':1,'message':'empty json'}
    
    if('error' in race and 'message' in race):
        print(rID,race['message'])
        missed.append(rID)
    else:
        splits = race['splitTimes']
        
        
        summary = pd.DataFrame(race['runs'])

        cols=['track','distance','raceId','weightInKg','meetingDate','dogName','resultTime','bestFinishTrackAndDistance', 'pir','incomingGrade', 'outgoingGrade', 'rating','resultMarginLengths', 'startPaceCode', 'jumpCode',
           'startPrice','boxNumber']
        summary=summary[cols]
        summary['Plc'] = summary['resultTime'].rank(method='min')

        if(splits!=[]):
            splits = pd.DataFrame(splits)
            splits = splits[['dogName','splitTimeMarker','time']]

            markers = max(splits['splitTimeMarker'])
            for marker in range(1,markers+1):
                split2 = splits[splits['splitTimeMarker']==marker]
                split2=split2.rename(columns={'time':'split_'+str(marker)})[['dogName','split_'+str(marker)]]
                summary = pd.merge(summary,split2,on='dogName',how='outer')


        if(type(big)==str):
            big = summary
        else:
            big = pd.concat([big,summary])

            



end = time.time()
taken = end-start
print('time for',len(race_ids),':',round(taken,3),'avg:',round(taken/len(race_ids),2))

1002167372 Race does not yet have results.
1002167373 Race does not yet have results.
1002167374 Race does not yet have results.
1002167375 Race does not yet have results.
1002167376 Race does not yet have results.
1002167377 Race does not yet have results.
1002167378 Race does not yet have results.
1002167379 Race does not yet have results.
1002167380 Race does not yet have results.
1002167381 Race does not yet have results.
1002167382 Race does not yet have results.
1002167383 Race does not yet have results.
1002606746 empty json
1002606747 empty json
1002606748 empty json
1002606749 empty json
1002606750 empty json
1002606751 empty json
1002606752 empty json
1002606753 empty json
1002606754 empty json
1002640304 empty json
1002640305 empty json
1002640306 empty json
1002640307 empty json
1002640308 empty json
1002640309 empty json
1002640310 empty json
1002640311 empty json
1002640312 empty json
1002640313 empty json
1002640314 empty json
1001129380 empty json
1001129382 empty json
1001129383 empty json
1001129384 empty json
1001129386 empty json
1001129387 empty json
1001129389 empty json
1001129391 empty json
1001129392 empty json
1001129394 empty json
1001129396 empty json
1001129397 empty json
1002167416 empty json
1002167417 empty json
1002167418 empty json
1002167419 empty json
1002167420 empty json
1002167421 empty json
1002167422 empty json
1002167423 empty json
1002167424 empty json
1002167425 empty json
1002167426 empty json
1002167427 empty json
1002640293 empty json
1002640294 empty json
1002640295 empty json
1002640296 empty json
1002640297 empty json
1002640298 empty json
1002640299 empty json
1002640300 empty json
1002640301 empty json
1002640302 empty json
1002640303 empty json
1001129343 empty json
1001129344 empty json
1001129345 empty json
1001129346 empty json
1001129347 empty json
1001129348 empty json
1001129349 empty json
1001129350 empty json
1001129351 empty json
1001129352 empty json
1002624253 empty json
1002624254 empty json
1002624255 empty json
1002624250 empty json
1002624257 empty json
1002624251 empty json
1002624252 empty json
1002624256 empty json
1002624246 empty json
1002624247 empty json
1002624248 empty json
1002624249 empty json
1002671847 empty json
1001127270 empty json
1002671845 empty json
1002671842 empty json
1002671851 empty json
1002671848 empty json
1002671849 empty json
1002671846 empty json
1002671850 empty json
1002671841 empty json
1002671843 empty json
1002671844 empty json
1002671856 empty json
1002671857 empty json
1002671858 empty json
1002671859 empty json
1002671854 empty json
1002671860 empty json
1002671861 empty json
1002671862 empty json
1002671863 empty json
1002671855 empty json
1002671852 empty json
1002671853 empty json
1002745998 empty json
1002745993 empty json
1002745992 empty json
1002745997 empty json
1002745991 empty json
1002745994 empty json
1002746000 empty json
1002745999 empty json
1002745989 empty json
1002745996 empty json
1002745995 empty json
1002745990 empty json
1003071144 empty json
1003071145 empty json
1003071142 empty json
1003071143 empty json
1003071149 empty json
1003071147 empty json
1003071148 empty json
1003071146 empty json
1003071141 empty json
1003071138 empty json
1003071139 empty json
1003071140 empty json
1003116234 empty json
1003116233 empty json
1003116229 empty json
1003116228 empty json
1003116236 empty json
1003116237 empty json
1003116230 empty json
1003116239 empty json
1003116238 empty json
1003116235 empty json
1003116232 empty json
1003116231 empty json
1002671867 empty json
1002671864 empty json
1002671865 empty json
1002671871 empty json
1002671873 empty json
time for 276 : 72.084 avg: 0.26

In [8]:
big

,track,distance,raceId,weightInKg,meetingDate,dogName,resultTime,bestFinishTrackAndDistance,pir,incomingGrade,...,rating,resultMarginLengths,startPaceCode,jumpCode,startPrice,boxNumber,Plc,split_1,split_2,split_3
0,Richmond,320,1002276063,34.5,2024-03-03T00:00:00.000Z,TOFFEE ROCKS,18.39,18.39,441,Maiden,...,0,2.50L,None,None,2.8,1.0,1.0,2.21,7.64,NaN
1,Richmond,320,1002276063,32.5,2024-03-03T00:00:00.000Z,FULL CREDIT,19.02,19.02,776,Maiden,...,0,9.50L,None,None,51.0,2.0,4.0,2.27,7.91,NaN
2,Richmond,320,1002276063,27.9,2024-03-03T00:00:00.000Z,OUR INSPIRATION,18.56,18.56,883,Maiden,...,0,2.50L,None,None,15.0,3.0,2.0,2.34,7.78,NaN
3,Richmond,320,1002276063,28.3,2024-03-03T00:00:00.000Z,GO FORWARD BLOCK,19.66,18.78,555,Maiden,...,0,19.00L,None,None,5.5,4.0,8.0,2.23,7.89,NaN
4,Richmond,320,1002276063,25.9,2024-03-03T00:00:00.000Z,CALCULUS,19.27,19.22,227,Maiden,...,0,13.25L,None,None,51.0,5.0,6.0,2.20,7.93,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,Darwin,312,1002167393,23.5,2024-03-03T00:00:00.000Z,NOT ALL THERE,18.47,18.39,None,5,...,92,3.00L,None,None,7.3,2.0,3.0,NaN,NaN,NaN
2,Darwin,312,1002167393,28.4,2024-03-03T00:00:00.000Z,GONZALES,19.15,18.85,None,7,...,74,13.25L,None,None,6.5,4.0,6.0,NaN,NaN,NaN
3,Darwin,312,1002167393,29.8,2024-03-03T00:00:00.000Z,SHATTER,18.27,18.13,0,5,...,100,2.00L,None,None,1.7,5.0,1.0,7.25,11.02,NaN
4,Darwin,312,1002167393,33.7,2024-03-03T00:00:00.000Z,WHOEVER,18.66,18.21,None,5,...,88,5.75L,None,None,7.2,7.0,4.0,NaN,NaN,NaN
5,Darwin,312,1002167393,27.6,2024-03-03T00:00:00.000Z,AUSSIE BULLSEYE,18.67,18.45,None,7,...,85,6.25L,None,None,27.1,8.0,5.0,NaN,NaN,NaN

In [9]:
big1 = big.copy()
big1['Track']=big1['track'].str.lower()
big1['dogName']=big1['dogName'].str.lower()

to_rename={
    'Plc':'Place',
    'dogName':'DogName',
    'boxNumber':'Box',
    'resultTime':'RunTime',
    'weightInKg':'Weight',
    'startPrice':'StartPrice',
    'pir':'PIR',
    'distance':'Distance',
    'raceId':'RaceId',
    'incomingGrade':'RaceGrade',
    'meetingDate':'date',
    'split_1':'Split'
}

big1=big1.rename(columns=to_rename)
big1 = big1[['Place','DogName','Box','Weight','StartPrice','PIR','Split','RunTime','RaceId','Distance','RaceGrade','Track','date']]
big1['TrainerLName']='poo'
big1['TrainerFName']='poo'

big1['date']=big1['date'].astype(str).str.split('T').str[0]
big1['date']=pd.to_datetime(big1['date'])


import os
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
m=0
print(files)
for file in files:
    num = file.split('_')[1].split('.')[0]
    num=int(num)
    if(num>m):
        m=num
print(m)

big1.to_csv('api_files/api_'+str(m+1)+'.csv',index=False)
big1

['api_8.csv', 'api_9.csv', 'api_17.csv', 'api_16.csv', 'api_14.csv', 'api_28.csv', 'api_29.csv', 'api_15.csv', 'api_11.csv', 'api_10.csv', 'api_12.csv', 'api_13.csv', 'api_22.csv', 'api_23.csv', 'api_21.csv', 'api_20.csv', 'api_18.csv', 'api_24.csv', 'api_30.csv', 'api_31.csv', 'api_25.csv', 'api_19.csv', 'api_27.csv', 'api_26.csv', 'api_7.csv', 'api_6.csv', 'api_4.csv', 'api_5.csv', 'api_1.csv', 'api_2.csv', 'api_3.csv']
31

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,toffee rocks,1.0,34.5,2.8,441,2.21,18.39,1002276063,320,Maiden,richmond,2024-03-03,poo,poo
1,4.0,full credit,2.0,32.5,51.0,776,2.27,19.02,1002276063,320,Maiden,richmond,2024-03-03,poo,poo
2,2.0,our inspiration,3.0,27.9,15.0,883,2.34,18.56,1002276063,320,Maiden,richmond,2024-03-03,poo,poo
3,8.0,go forward block,4.0,28.3,5.5,555,2.23,19.66,1002276063,320,Maiden,richmond,2024-03-03,poo,poo
4,6.0,calculus,5.0,25.9,51.0,227,2.20,19.27,1002276063,320,Maiden,richmond,2024-03-03,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,3.0,not all there,2.0,23.5,7.3,None,NaN,18.47,1002167393,312,5,darwin,2024-03-03,poo,poo
2,6.0,gonzales,4.0,28.4,6.5,None,NaN,19.15,1002167393,312,7,darwin,2024-03-03,poo,poo
3,1.0,shatter,5.0,29.8,1.7,0,7.25,18.27,1002167393,312,5,darwin,2024-03-03,poo,poo
4,4.0,whoever,7.0,33.7,7.2,None,NaN,18.66,1002167393,312,5,darwin,2024-03-03,poo,poo
5,5.0,aussie bullseye,8.0,27.6,27.1,None,NaN,18.67,1002167393,312,7,darwin,2024-03-03,poo,poo

In [10]:
if(missed_run==False):
    missing  = pd.read_csv('api_files/missing.csv')[['missed']]
    missing2 = pd.DataFrame(missed,columns=['missed'])
    missing3 = pd.concat([missing,missing2])
    missing4 = missing3['missed'].unique()
    missing5 = pd.DataFrame(missing4,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
else:
    missing5 = pd.DataFrame(missed,columns=['missed'])
    missing5.to_csv('api_files/missing.csv',index=False)
    
missing5

         missed
0     990395989
1     990395990
2     990395991
3     990395992
4     990395993
..          ...
482  1002671867
483  1002671864
484  1002671865
485  1002671871
486  1002671873

[487 rows x 1 columns]

In [11]:
files = os.listdir('api_files')
files = [x for x in files if 'missing' not in x and '.DS' not in x]
files.sort()
files
merged = pd.read_csv('api_files/'+files[0])
for file in files[1:]:
    merged=pd.concat([merged,pd.read_csv('api_files/'+file)])

merged=merged.sort_values(by='date')
merged['Track']=np.where(merged['Track'].str.contains('dport @'),'hobart',merged['Track'])
merged

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,6.0,chick magnet,1.0,30.5,5.5,566.0,NaN,19.700,990412069,336,5,muswellbrook,2024-01-28,poo,poo
1331,1.0,monkey's style,7.0,34.5,4.9,111.0,5.1800,24.282,992122290,435,5,sale,2024-01-28,poo,poo
1330,3.0,rumour confirmed,6.0,31.9,38.7,743.0,5.4425,24.537,992122290,435,5,sale,2024-01-28,poo,poo
1329,8.0,crew,5.0,34.5,57.1,678.0,5.4075,25.242,992122290,435,5,sale,2024-01-28,poo,poo
1328,7.0,persuasion,4.0,27.1,20.2,887.0,5.4775,25.181,992122290,435,5,sale,2024-01-28,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,NaN,where's florence,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,7,nowra,2024-03-04,poo,poo
354,NaN,jerrawa goddess,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,7,nowra,2024-03-04,poo,poo
355,NaN,boy serious,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,5,nowra,2024-03-04,poo,poo
343,NaN,ferocious otto,NaN,NaN,1.0,NaN,NaN,NaN,1002640323,365,7,nowra,2024-03-04,poo,poo
873,1.0,moon eclipse,7.0,27.8,7.2,22.0,5.6100,16.180,1002314160,275,6,cannington,2024-03-04,poo,poo

In [12]:
a = pd.read_csv('../allRaces2.csv')
b = merged.copy()
c = pd.concat([a,b])
#c = c.drop(columns=['Unnamed: 0.1'])
c = c.drop_duplicates(keep='first')

c['Track']=np.where(c['Track'].str.contains('murray'),'murray bridge',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])



c.to_csv('../allRaces1.csv',index=False)
c

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_69634/2967691039.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(ris)'),'richmond straight',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_69634/2967691039.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(mep)'),'the meadows',c['Track'])
/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_69634/2967691039.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c['Track']=np.where(c['Track'].str.contains('(sap)'),'sandown park',c['Track'])

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,raine allen,1.0,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2.0,surf a lot,2.0,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3.0,pingin' bee,6.0,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4.0,lucas the great,7.0,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5.0,quavo,4.0,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,NaN,where's florence,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,7,nowra,2024-03-04,poo,poo
354,NaN,jerrawa goddess,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,7,nowra,2024-03-04,poo,poo
355,NaN,boy serious,NaN,NaN,1.0,NaN,NaN,NaN,1002640324,365,5,nowra,2024-03-04,poo,poo
343,NaN,ferocious otto,NaN,NaN,1.0,NaN,NaN,NaN,1002640323,365,7,nowra,2024-03-04,poo,poo
873,1.0,moon eclipse,7.0,27.8,7.2,22.0,5.61,16.18,1002314160,275,6,cannington,2024-03-04,poo,poo

In [13]:
tks = c['Track'].unique()
tks.sort()
tks

array(['addington', 'albion park', 'angle park', 'armidale', 'ascot park',
       'ballarat', 'bathurst', 'bendigo', 'broken hill', 'bulli',
       'bundaberg', 'cairns', 'cambridge', 'canberra', 'cannington',
       'capalaba', 'casino', 'central park', 'clonmel', 'coonabarabran',
       'coonamble', 'cowra', 'cranbourne', 'crayford', 'curraheen park',
       'dapto', 'darwin', 'devonport', 'doncaster', 'drumbo park',
       'dubbo', 'dundalk', 'enniscorthy', 'galway', 'gawler', 'geelong',
       'gosford', 'goulburn', 'grafton', 'gunnedah', 'harlow', 'hatrick',
       'healesville', 'henlow', 'hobart', 'horsham', 'hove', 'ipswich',
       'kempsey', 'kilkenny', 'kinsley', 'launceston', 'lifford',
       'limerick', 'lismore', 'lithgow', 'maitland', 'manawatu',
       'mandurah', 'manukau', 'monmore', 'moree', 'mount gambier',
       'mudgee', 'mullingar', 'murray bridge', 'muswellbrook',
       'newbridge', 'newcastle', 'northam', 'nottingham', 'nowra',
       'oxford', 'pelaw grange', 'perry barr', 'port augusta',
       'potts park', 'richmond', 'richmond straight', 'rockhampton',
       'romford', 'sale', 'sandown park', 'sheffield', 'shelbourne park',
       'shepparton', 'strathalbyn', 'suffolk downs', 'sunderland',
       'swindon', 'tamworth', 'taree', 'temora', 'the gardens',
       'the meadows', 'the valley', 'thurles park', 'towcester',
       'townsville', 'tralee', 'traralgon', 'wagga', 'warragul',
       'warrnambool', 'waterford', 'wauchope', 'wentworth park',
       'yarmouth', 'youghal', 'young'], dtype=object)

In [14]:
## still missing 
for rID in missing5['missed']:
    url = f'https://topaz.grv.org.au/api/race/{rID}/runs'
    try:
        race = requests.get(url.format(rID),headers=headers).json()[0]
        print(race['track'],race['meetingDate'],race['distance'])
    except JSONDecodeError as e:
        print(rID,'fucked')
        
# race

Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Capalaba 2024-01-28T00:00:00.000Z 366
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 498
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Townsville 2024-01-30T00:00:00.000Z 380
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 530
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 455
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Murray Bridge (MBR) 2024-02-04T00:00:00.000Z 395
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 520
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 380
Cannington 2024-02-10T00:00:00.000Z 600
Cannington 2024-02-10T00:00:00.000Z 600
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Ipswich 2024-02-16T00:00:00.000Z 431
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 300
Mandurah 2024-02-15T00:00:00.000Z 400
996378426 fucked
996378428 fucked
996378430 fucked
996378432 fucked
996378434 fucked
996378436 fucked
996378438 fucked
996378439 fucked
996378440 fucked
998752203 fucked
998752204 fucked
998752205 fucked
998752206 fucked
998752207 fucked
998752208 fucked
998755183 fucked
998755184 fucked
998755185 fucked
998755188 fucked
998755190 fucked
998755192 fucked
998755193 fucked
998755195 fucked
998755198 fucked
998755200 fucked
998752233 fucked
998752234 fucked
998752235 fucked
998752236 fucked
998752237 fucked
998752238 fucked
998752239 fucked
998752240 fucked
998752241 fucked
998752242 fucked
998752243 fucked
998755234 fucked
998755235 fucked
998755236 fucked
998755237 fucked
998755238 fucked
998755239 fucked
998755240 fucked
998755241 fucked
998755242 fucked
998764324 fucked
998764325 fucked
998764326 fucked
998764327 fucked
998764328 fucked
998764329 fucked
998764330 fucked
998764331 fucked
998764332 fucked
998764333 fucked
998764334 fucked
998764335 fucked
998764336 fucked
998764337 fucked
998764338 fucked
998764339 fucked
998764340 fucked
Ipswich 2024-02-27T00:00:00.000Z 520
Ipswich 2024-02-27T00:00:00.000Z 520
Ipswich 2024-02-27T00:00:00.000Z 520
Ipswich 2024-02-27T00:00:00.000Z 431
Ipswich 2024-02-27T00:00:00.000Z 431
Ipswich 2024-02-27T00:00:00.000Z 431
Ipswich 2024-02-27T00:00:00.000Z 431
Mount Gambier 2024-02-25T00:00:00.000Z 600
Mount Gambier 2024-02-25T00:00:00.000Z 400
Mount Gambier 2024-02-25T00:00:00.000Z 400
Mount Gambier 2024-02-25T00:00:00.000Z 400
Mount Gambier 2024-02-25T00:00:00.000Z 512
Mount Gambier 2024-02-25T00:00:00.000Z 512
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 450
Warrnambool 2024-02-26T00:00:00.000Z 450
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Warrnambool 2024-02-26T00:00:00.000Z 390
Ballarat 2024-02-26T00:00:00.000Z 390
Ballarat 2024-02-26T00:00:00.000Z 450
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Mandurah 2024-02-27T00:00:00.000Z 300
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 400
Mandurah 2024-02-27T00:00:00.000Z 488
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 537
Darwin 2024-02-25T00:00:00.000Z 312
Darwin 2024-02-25T00:00:00.000Z 537
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 383
Darwin 2024-02-25T00:00:00.000Z 312
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 300
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 484
Casino 2024-03-01T00:00:00.000Z 411
Casino 2024-03-01T00:00:00.000Z 300
Casino 2024-03-01T00:00:00.000Z 300
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 401
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 722
Richmond 2024-03-01T00:00:00.000Z 622
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 622
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Richmond 2024-03-01T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
Wentworth Park 2024-03-02T00:00:00.000Z 520
The Gardens 2024-03-02T00:00:00.000Z 272
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 400
The Gardens 2024-03-02T00:00:00.000Z 515
The Gardens 2024-03-02T00:00:00.000Z 272
The Gardens 2024-03-02T00:00:00.000Z 272
Dubbo 2024-03-02T00:00:00.000Z 516
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 605
Dubbo 2024-03-02T00:00:00.000Z 400
Dubbo 2024-03-02T00:00:00.000Z 400
Dubbo 2024-03-02T00:00:00.000Z 318
Dubbo 2024-03-02T00:00:00.000Z 318
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Gosford 2024-03-02T00:00:00.000Z 388
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 510
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 510
Rockhampton 2024-02-28T00:00:00.000Z 510
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407
Rockhampton 2024-02-28T00:00:00.000Z 407

Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 520
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Albion Park 2024-02-28T00:00:00.000Z 395
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Ipswich 2024-02-29T00:00:00.000Z 288
Albion Park 2024-02-29T00:00:00.000Z 520
Albion Park 2024-02-29T00:00:00.000Z 710
Albion Park 2024-02-29T00:00:00.000Z 520
Albion Park 2024-02-29T00:00:00.000Z 520
Albion Park 2024-02-29T00:00:00.000Z 520
Albion Park 2024-02-29T00:00:00.000Z 520
Hobart 2024-02-29T00:00:00.000Z 461
Hobart 2024-02-29T00:00:00.000Z 340
Hobart 2024-02-29T00:00:00.000Z 340
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 500
Bendigo 2024-02-28T00:00:00.000Z 500
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 500
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Bendigo 2024-02-28T00:00:00.000Z 425
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 600
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Meadows (MEP) 2024-02-28T00:00:00.000Z 525
Traralgon 2024-02-28T00:00:00.000Z 395
Traralgon 2024-02-28T00:00:00.000Z 450
Traralgon 2024-02-28T00:00:00.000Z 395
Traralgon 2024-02-28T00:00:00.000Z 450
Traralgon 2024-02-28T00:00:00.000Z 450
Traralgon 2024-02-28T00:00:00.000Z 450
Traralgon 2024-02-28T00:00:00.000Z 450
Traralgon 2024-02-28T00:00:00.000Z 500
Traralgon 2024-02-28T00:00:00.000Z 395
Traralgon 2024-02-28T00:00:00.000Z 395
Traralgon 2024-02-28T00:00:00.000Z 350
Traralgon 2024-02-28T00:00:00.000Z 350
Ballarat 2024-02-28T00:00:00.000Z 390
1001659821 fucked
1001659831 fucked
1001659828 fucked
1001659830 fucked
1001659823 fucked
1001659824 fucked
1001659829 fucked
1001659827 fucked
1001659826 fucked
1001659825 fucked
1001687395 fucked
1001129274 fucked
1001687394 fucked
1001687391 fucked
1001687397 fucked
1001687389 fucked
1001687398 fucked
1001687388 fucked
1001687396 fucked
998764348 fucked
998764349 fucked
1002167372 fucked
1002167373 fucked
1002167374 fucked
1002167375 fucked
1002167376 fucked
1002167377 fucked
1002167378 fucked
1002167379 fucked
1002167380 fucked
1002167381 fucked
1002167382 fucked
1002167383 fucked
1002606746 fucked
1002606747 fucked
1002606748 fucked
1002606749 fucked
1002606750 fucked
1002606751 fucked
1002606752 fucked
1002606753 fucked
1002606754 fucked
1002640304 fucked
1002640305 fucked
1002640306 fucked
1002640307 fucked
1002640308 fucked
1002640309 fucked
1002640310 fucked
1002640311 fucked
1002640312 fucked
1002640313 fucked
1002640314 fucked
1001129380 fucked
1001129382 fucked
1001129383 fucked
1001129384 fucked
1001129386 fucked
1001129387 fucked
1001129389 fucked
1001129391 fucked
1001129392 fucked
1001129394 fucked
1001129396 fucked
1001129397 fucked
1002167416 fucked
1002167417 fucked
1002167418 fucked
1002167419 fucked
1002167420 fucked
1002167421 fucked
1002167422 fucked
1002167423 fucked
1002167424 fucked
1002167425 fucked
1002167426 fucked
1002167427 fucked
1002640293 fucked
1002640294 fucked
1002640295 fucked
1002640296 fucked
1002640297 fucked
1002640298 fucked
1002640299 fucked
1002640300 fucked
1002640301 fucked
1002640302 fucked
1002640303 fucked
1001129343 fucked
1001129344 fucked
1001129345 fucked
1001129346 fucked
1001129347 fucked
1001129348 fucked
1001129349 fucked
1001129350 fucked
1001129351 fucked
1001129352 fucked
1002624253 fucked
1002624254 fucked
1002624255 fucked
1002624250 fucked
1002624257 fucked
1002624251 fucked
1002624252 fucked
1002624256 fucked
1002624246 fucked
1002624247 fucked
1002624248 fucked
1002624249 fucked
1002671847 fucked
1001127270 fucked
1002671845 fucked
1002671842 fucked
1002671851 fucked
1002671848 fucked
1002671849 fucked
1002671846 fucked
1002671850 fucked
1002671841 fucked
1002671843 fucked
1002671844 fucked
1002671856 fucked
1002671857 fucked
1002671858 fucked
1002671859 fucked
1002671854 fucked
1002671860 fucked
1002671861 fucked
1002671862 fucked
1002671863 fucked
1002671855 fucked
1002671852 fucked
1002671853 fucked
1002745998 fucked
1002745993 fucked
1002745992 fucked
1002745997 fucked
1002745991 fucked
1002745994 fucked
1002746000 fucked
1002745999 fucked
1002745989 fucked
1002745996 fucked
1002745995 fucked
1002745990 fucked
1003071144 fucked
1003071145 fucked
1003071142 fucked
1003071143 fucked
1003071149 fucked
1003071147 fucked
1003071148 fucked
1003071146 fucked
1003071141 fucked
1003071138 fucked
1003071139 fucked
1003071140 fucked
1003116234 fucked
1003116233 fucked
1003116229 fucked
1003116228 fucked
1003116236 fucked
1003116237 fucked
1003116230 fucked
1003116239 fucked
1003116238 fucked
1003116235 fucked
1003116232 fucked
1003116231 fucked
1002671867 fucked
1002671864 fucked
1002671865 fucked
1002671871 fucked
1002671873 fucked

In [18]:
big1

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,swift getaway,1.0,28.1,5.0,331,2.23,18.78,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
1,6.0,gallipoli gal,2.0,27.2,3.6,556,2.29,19.12,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
2,8.0,what kept you,3.0,23.7,8.0,218,2.21,19.42,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
3,5.0,russo,4.0,28.1,6.0,444,2.27,19.10,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
4,3.0,butker,5.0,29.0,6.0,662,2.31,18.86,1002606719,320,Maiden,richmond,2024-03-04,poo,poo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,1.0,mango salsa,4.0,33.1,4.0,11,5.59,16.21,1002314170,275,5,cannington,2024-03-04,poo,poo
4,2.0,no payout,5.0,30.0,6.0,22,5.65,16.38,1002314170,275,5,cannington,2024-03-04,poo,poo
5,4.0,extremely smooth,6.0,35.5,3.9,34,5.66,16.54,1002314170,275,5,cannington,2024-03-04,poo,poo
6,8.0,shinboner crazy,7.0,34.1,63.7,47,5.72,17.00,1002314170,275,5,cannington,2024-03-04,poo,poo
7,7.0,financial ruins,8.0,29.3,45.9,88,5.91,16.89,1002314170,275,7,cannington,2024-03-04,poo,poo

In [ ]:
big1[big1['date']=='2024-03-04']